<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="rs-header">
    <div class="navbar-header"><button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#rs-navbar" aria-expanded="false" aria-controls="rs-navbar" aria-label="Toggle navigation"><span
          class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
          class="icon-bar"></span></button>
          <a href="/resource/start" class="rs-header-logo" title="Start Page Vision">Pharos Vision</a>
          </div>
    <div class="collapse navbar-collapse" id="rs-navbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav">
        <li>


          <semantic-link class="rs-body-m-M"  iri="Default:matchings" title="Artwork Reconciliation">
            <li  title="Artwork Reconciliation" class='matchings-button'>Artwork Reconciliation</li>
          </semantic-link>  


        </li>
            <li class="">
              <a href="/resource/About" title="foaf:About">About</a>
          </li>
              <li class="">
               <bs-nav-dropdown
                    title="Statistics"
                    id="basic-nav-dropdown"
                    class="no-bullets"
                  >
                      <bs-menu-item>
                        <semantic-link
                          class="rs-body-m-M"
                          title="foaf:Statistics for Artworks"
                          iri="Default:StatisticsArtwork"
                        >Artwork</semantic-link>
                      </bs-menu-item>
                      <bs-menu-item>
                        <semantic-link
                          class="rs-body-m-M"
                          title="foaf:Statistics for Artists"
                          iri="Default:StatisticsArtist"
                        > Artists</semantic-link>
                      </bs-menu-item>
                </bs-nav-dropdown>
          </li>
          <li class="">
            <a href="/sparql" title="sparql" class="rs-body-m-M">SPARQL</a>
          </li>
        <mp-anonymous-hidden>
          <li>
            <semantic-link class="rs-body-m-M" title="foaf:my Dashboard" iri="Default:Dashboard">My dashboard</semantic-link>
          </li>
          </mp-anonymous-hidden>
          <mp-anonymous-hidden>
          <li class="">
            <a href="/resource/admin" title="admin" class="rs-body-m-M">Admin</a>
          </li>
          
        </mp-anonymous-hidden>
        <li class="">
          <mp-anonymous-hidden>
            <a id="logoutLink" href="/logout" title="logout" class="rs-body-m-M">Logout</a>
          </mp-anonymous-hidden>
          <a  id="loginLink"  href="/login" title="login" class="rs-body-m-M">Login</a>
        </li>



      </ul>
    </div>
  </div>
</nav>