@import "./header.css";
@import "./resource.css";
@import "./searchbar.css";
@import "./start.css";
@import "./photoTiles.css";
@import "./photoSearch.css";
@import "./matchings.css";
@import "./matchingCandidateImages.css";
@import "./matchingSelector.css";
@import "./similarity.css";
@import "./similarityList.css";
@import "./matchings_vocab.css";



details {
  user-select: none;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}
.thumbnailsHolder{
  width: 100%;
  object-fit: contain;
  min-height: 200px;
  max-height: 200px;
}
.table>tbody>tr>td{
      padding: 15px 15px !important;
}
.SimilarityWrapper {
  padding-left: 40px;
  align-self: start;
  display: flex;
  flex-direction: row;
}
.RecTable{
  max-height: 184px !important;
}
.slick-dots li:nth-child(n+4):nth-last-child(3):not(:nth-child(5)):not(:nth-child(6)) {
 display: none;
}
.slick-dots li:nth-child(n+4):nth-last-child(-n+2):not(:nth-child(6)) {
 display: none;
}
.slick-dots li:nth-child(n+4):nth-last-child(-n+1) {
 display: none;
}
.slick-dots li:nth-child(n+7) {
 display: none;
}
.slick-dots {
  top:200px !important;
}

.WrapperCarousel {
    gap:50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 60px;

}
.error-notification.panel.panel-default .panel-heading{
  margin-top: 65px !important;
}



#mp-semantic-chart-tooltip > .popover-content > div > div > div >a{
  display: none;
}

img.sourceIcon{
    border-top-left-radius: 100% !important;
    border-top-right-radius: 100% !important;
    margin-top: 0 !important;
    border: none !important;
    height: 18px !important;
    width: 18px !important;
    padding: 2px !important;
    margin-right: 15px !important;
    border-radius: 100% !important;
    box-shadow: 1px 1px 3px 1px #e7e7e7 !important;
}

body {
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  letter-spacing: 0.3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

tr .rs-page-resource__field >td {
  min-width: 20vw;
}
.griddle-footer .pagination, .pagination{
  display: flex;
  flex-wrap: wrap;
}


@media (max-width:800px){
  tr .rs-page-resource__field >td {
  min-width: 35vw !important;
}
}
@media screen and (min-width: 1350px) {
  .navbar-header {
    width: 15vw !important;
  }
}
@media screen and (min-width: 1070px) and (max-width: 1349px) {
  .navbar-header {
    width: 19vw !important;
  }
}
@media screen and (min-width: 780px) and (max-width: 1070px) {
  .navbar-header {
    width: 27vw !important;
  }
}


.rs-page-resource__field-label-holder{
      width: 72px !important;
}
.Uploader-div {
  border-radius: 10px;
  align-items: center;
  background-color: var(--color-success, #23ba98);
  border-color: var(--color-success, #23ba98);
  text-shadow: 0 0 1px rgb(0 0 0 / 38%);
  font-weight: 600;
  height: 31px;
  display: flex;
  justify-content: center;
  color: white !important;
  transition: 0.4s;
  font-size: medium;
  border: none !important;
  min-height: 4 vh;
  width: 8 vw;
  margin-right: 2 vw;
  border-radius: 4 px;
  min-width: 150 px;
  box-shadow: 0px 0px 10px 1px #bebebe;
}
a.rs-header-logo.undefined {
  width: 15vw;
}
.rs-header-logo {
  font-size: 0 !important;
  width: 16vw;
}

body.loading .loading-modal {
  display: block;
}

.title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.title h1 {
  color: #000;
  text-decoration: underline;
}

.title h1:hover {
  color: #3588de;
}

.dropzone {
  border: 4px dashed #ccc;
  height: 200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%;
}

.info {
  margin-top: 11%;
}

.dropzone p {
  margin: 0%;
  text-align: center;
  width: 100%;
}

.input {
  height: 100%;
  left: 0;
  outline: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.status {
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.image-url {
  width: 50%;
}

.dropzone.dropzone-dragging {
  border-color: #000;
}
li.matchings-button {
  cursor: pointer;
  font-weight: bold;
  border-radius: 7px;
  background: #4b93db;
  margin: 8px;
  margin-left: 59px;
  color: white !important;
 
  padding: 13px;
}
.cardInfoFields.row {
  height: 260px;
}

.loading-modal {
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.image-to-upload {
  padding-top: 15px !important;
  width: 100% !important;
}
#photo-search-page .search-section {
  margin: 1vh;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 15%;
}

.img {
  width: 100%;
}
@media screen and (min-width: 300px) and (max-width: 700px) {
  .dropzone {
    max-width: 80%;
  }

  .info {
    margin-top: 30%;
  }

  .status {
    width: 80%;
  }

  .image-url {
    width: 80%;
  }

  .loading-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    margin-bottom: 50%;
  }
}

.navbar-header {
  background: url(/assets/images/vision-ar-header.png);
  font-size: 0 !important;
  background-position: right;
  background-repeat: no-repeat;
}

a {
  color: #333 !important;
  border-radius: 5px !important;
}

.rs-h2,
h2,
.h2 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}

.result-title {
  margin-top: 6vh;
  margin-bottom: 3vh;
  width: 100%;
  font-size: x-large;
  filter: drop-shadow(2px 2px 6px gray);
  text-align: center;
}

.modal-backdrop {
  background-color: #e9e9e9 !important;
}

.navbar-collapse {
  overflow: visible !important;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: #1c252c;
}

.rs-application .table > tbody > tr > td {
  border-bottom-color: #f4f4f4 !important;
  color: #000000 !important;
}

.semantic-table-holder {
  position: relative;
  width: 80%;
  left: 10%;
}

.rs-application .table > thead > tr > th {
  border-bottom-color: #000000 !important;
  color: #000000 !important;
}

.rs-application .Select-placeholder {
  color: gray;
}

.rs-application .is-open .Select-arrow,
.rs-application .Select-arrow,
.rs-application .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: black;
}

div,
ul,
li,
table,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
select,
.btn {
  color: black !important;
}

.panel-body {
  background-color: white !important;
}

.rs-icon {
  color: #000000 !important;
}
.fa {
  color: #000000 !important;
}
.fa.fa-trash {
  color: white !important;
}
.filetype-text {
  color: #000000 !important;
}

.btn {
  border: none;
}

.btn:active {
  border: none;
}

.btn:hover {
  filter: drop-shadow(0px 3px 4px #a9a9a9) !important;
}
.yasr_btn {
  border-color: #000000 !important;
  color: black !important;
}

.btn-primary,
.btn-xs {
  border-color: #000000 !important;
  color: white !important;
  background-color: #000000 !important;
}

.btn-primary,
.btn-xs .fa {
  color: white !important;
}

.yasr_btn.selected {
  background-color: #00000035 !important;
  color: white !important;
}

.yasr_btn:focus {
  background-color: #000000 !important;
  color: white !important;
}
li a:hover {
  filter: drop-shadow(0px 3px 4px #a9a9a9) !important;
}
a:hover {
  background: none !important;
}

a:focus {
  background: none !important;
}

.active {
  color: black !important;
}

.Dashboard--addItemButton {
  background: white !important;
}

.confirm-btn {
  font-size: medium;
  border: none !important;
  min-height: 4vh;
  width: 8vw;
  color: white;
  min-width: 150px;
  box-shadow: 0px 0px 10px 1px #bebebe;
  text-transform: none;
  height: 100%;
}

.modal-backdrop {
  background-color: #816e4225;
}

.pagination {
  margin-bottom: 2vh !important ;
  justify-content: center !important;
}

/* Table pagination */
.griddle-footer .pagination > .active > a {
  background: #007bff !important;
}
.griddle-footer .pagination > li > a,
.griddle-footer .pagination > li > span,
.pagination > li > a,
.pagination > li > span {
  color: var(--color-dark, #1d0a6e);
  font-size: 12px;
  line-height: 1.2;
  text-decoration: none;
  font-style: italic;
  border: none;
  background: #ebebeb;
  font-size: 20px !important;
  margin: 4px;
  padding: 3px 8px;
}
.griddle-footer .pagination > li > a:focus,
.griddle-footer .pagination > li > a:hover,
.griddle-footer .pagination > li > span:focus,
.griddle-footer .pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #d2d2d2 !important;
}

.pagination > li.active,
.pagination > li.active > a {
  color: white !important;
  text-decoration: none !important;
}

.pagination > li > a {
  font-size: 18px !important;
}

input::placeholder {
  color: #adadad !important;
}
.griddle .top-section input {
  background-blend-mode: luminosity;
  color: black !important;
}

.rs-application .semantic-carousel > .slick-slider .slick-next:before,
.rs-application .semantic-carousel > .slick-slider > .slick-prev:before {
  color: #000000 !important;
}

.rs-button {
  background: whitesmoke !important;
  border-color: black !important;
}
.form-control {
  color: black !important;
  border-bottom: 1px solid #dedede !important;
}

.form-control:focus {
  outline: none;
  border-bottom: 1px solid #d13239 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal .close,
.panel-default .close {
  font-size: 60px;
}

.thumbnailImage {
  height: 20vh;
  max-height: 185px;
  background-position: center;
}

.thumbnailImage::after {
  /* background-image: url("/assets/images/media/image_placeholder.jpg"); */
  top: 0;
  left: 0;
  display: block;
  width: 12.5vw;
  /* min-width: 253px; */
  height: 100%;
  content: "";
  border: none;
  background-position: center;
  background-size: cover;
}

.thumbnailImage[alt]:after {
  /* background-image: url("/assets/images/media/image_placeholder.jpg"); */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Helvetica";
  font-weight: 300;
  line-height: 2;
  text-align: center;
  content: attr(alt);
}

.navbar-default .dropdown-menu {
  border-color: rgb(124 38 23 / 15%) !important;
}
.admin {
  cursor: pointer;
  height: 9vh;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin .dropdownTitle {
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin .dropdownTitle:hover {
  background-color: #e3e3e3;
  transition: 0.3s background-color ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  margin: 0 4vw 0 2vw;
  cursor: pointer;
  height: 9vh;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .dropdownTitle {
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .dropdownTitle:hover {
  background-color: #e3e3e3;
  transition: 0.3s background-color ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table > tbody > tr > td .rs-page__field-value {
  word-break: normal;
}

.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > td,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > thead > tr > th {
  white-space: unset !important;
  overflow-wrap: anywhere;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f566 !important;
}
.nav.nav-tabs .system-spinner {
  display: none !important;
}

.nav.nav-tabs > li.active {
  box-shadow: inset 0 -3px 0 0 #d13239 !important;
}
.rs-h1 {
  color: black !important;
}
.clearable-input {
  background: none !important;
}
.clearable-input .input {
  border-bottom: 1px solid gray !important;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: black !important;
}
.tooltip-inner {
  background-color: lightgray !important;
}
.popover {
  background-color: lightgray !important;
}
::marker {
  color: #b2b2b2;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
