#start-page .mainContent {
  top: 17%;
  width: 100%;
  position: absolute;
}
.big-or >h1{
  margin-top:30px !important;
  color: white !important;
}
.big-or{
  display: flex;
  height: 10vh;
  align-items: center;
}

.image-uploader-section{
  margin-top: 3vh;
  border: #c7c7c7 solid 1px;
  border-radius: 4px;
  padding: 9px 25px 20px;

}
#start-page .logoLarge {
  text-align: center;
  border-radius: 5px;
  font-size: 26px;
  min-height: 12vh;
  min-width: 280px;
  width: 19vw;
  margin-top: 3vh;
  color: white !important;
  background: #0000008a;
  padding: 8px;
  box-shadow: 0px 0px 8px 1px #201f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-section{
  margin-top: 5vh;
  display: flex;
  padding-left: 10vw !important;
  justify-content: center;
  padding: 35px;
  flex-direction: column;
}

.logo-title{
  display: flex;
  gap: 5px;
  color: white !important;
  justify-content: center;
  align-items: center;
}

.logo-title-super{
  color: #d13e3e !important;
  font-weight: bold;
  filter: drop-shadow(0px 0px 1px black);
}

#start-page .component-page-toolbar {
  display: none;
}
#start-page .welcome {
  margin-top: 10vh;
}

#start-page .welcome .message {
  width: 100%;
  text-align: center;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 50px;
  color: black;
  line-height: 1;
  font-family: sans-serif;
  font-variant: petite-caps;
  /* -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

#start-page .card-list {
  position: relative;
  width: 75%;
  height: 70vh;
  align-items: center;
  left: 11%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#start-page .card-list .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  max-width: 18vw;
  width: 18vw;
  margin: 0.5vw;
  min-width: 345px;
  min-height: 177px;
  overflow: hidden;
}
#start-page .card-list .card .title {
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #e2e2e2;
  padding: 1vh;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 12px;
}

#start-page .card-list .card .photo {
  height: 17vh !important;
  min-width: 28vw !important;
  margin: 0 !important;
  object-fit: cover;
}
#start-page .card-list .card .photo-1 {
  object-position: -5vw 12%;
}

#start-page .card-list .card .photo-2 {
  object-position: -5vw 60%;
}

#start-page .card-list .card .photo-3 {
  object-position: -7vw 22%;
}

#start-page .card-list .card img {
  height: 10vh;
  margin: 2vw;
  object-fit: contain;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#start-page .card-list .card .subtitle {
  color: #535353;
  position: absolute;
  font-size: medium;
  font-style: italic;
  margin: 1vh;
  align-self: center;
  width: 100%;
  background: #ffffff55;
  bottom: 0;
  text-align: center;
}

#start-page .banner {
  max-width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#start-page .banner img {
  min-width: 105vw;
  height: 130px;
  object-fit: cover;
  object-position: -4vw 23%;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
#start-page .banner .text {
  font-size: 80px;
  position: absolute;
  left: 10vw;
  width: fit-content;
  color: white !important;
  filter: drop-shadow(2px 4px 6px black);
}

#about-page{
  padding: 5vh 20vw 5vh 20vw;
}

@media(max-width:1200px){
  #start-page .mainContent {
    top:13% !important;
  }
  #about-page{
    padding: 5vh 10vw 5vh 10vw !important;
  }
}


/**
  * ----------------------------------------
  * animation fade-in
  * ----------------------------------------
  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
  * ----------------------------------------
  * animation text-pop-up-top
  * ----------------------------------------
  */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #eeeeee, 0 2px 0 #eeeeee, 0 3px 0 #eeeeee,
      0 4px 0 #eeeeee, 0 5px 0 #eeeeee, 0 6px 0 #eeeeee, 0 7px 0 #eeeeee,
      0 8px 0 #eeeeee, 0 9px 0 #eeeeee, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #eeeeee, 0 2px 0 #eeeeee, 0 3px 0 #eeeeee,
      0 4px 0 #eeeeee, 0 5px 0 #eeeeee, 0 6px 0 #eeeeee, 0 7px 0 #eeeeee,
      0 8px 0 #eeeeee, 0 9px 0 #eeeeee, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/**
  * ----------------------------------------
  * @animation text-shadow-drop-center
  * ----------------------------------------
  */
@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

/**
  * ----------------------------------------
  * animation focus-in-contract
  * ----------------------------------------
  */
@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
