<semantic-query
query=' SELECT (COUNT(distinct CONCAT(STR(?work),STR(?work2))) AS ?count) WHERE {
          GRAPH ?g {
            <http://www.researchspace.org/resource/system/formContainer> <http://www.w3.org/ns/ldp#contains> ?subject. 
            ?subject <http://www.w3.org/ns/prov#wasAttributedTo> ?attribution.
            ?similarity  <https://vision.artresearch.net/custom/similar_artworks> true .
            
          }
          ?work <https://pharos.artresearch.net/custom/has_image> ?imageA.
          ?imageA <http://purl.org/ontology/similarity/element> ?similarity.
          ?work2 <https://pharos.artresearch.net/custom/has_image> ?imageB.
          ?imageB <http://purl.org/ontology/similarity/element> ?similarity.
          ?similarity <https://vision.artresearch.net/custom/reviewed> true.
          FILTER(?work != ?work2)
          BIND(?__useruri__ as ?attribution)
       
        }'
        no-result-template="0"
>
</semantic-query>