<div id="similarity-list-template">
<div class="jumbotron">
  <h1 style="margin-left: 2vw" class="display-4">
    <semantic-link iri="Default:matchings">
      <div class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i> Back
      </div>
    </semantic-link>
    Matching candidates</h1>
  <p style="margin-left: 2vw" class="lead">
    Bellow you can browse matching suggestions between institution artworks.
    Click the cards to review matchings.
  </p>
</div> 

 <semantic-search
  limit="1000"
  relations='{
    "<https://pharos.artresearch.net/resource/field/Artist_Attribution>":[
      {
        "kind": "resource",
        "queryPattern": "
         
            $subject <https://pharos.artresearch.net/resource/fr/Work_created_from_Artist> ?__value__.
          "
      }
    ],
    "<https://pharos.artresearch.net/fieldDefinition/Repository>":[
    {
      "kind": "resource",
      "queryPattern": "
       
          $subject <https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution> ?__value__.
       "
    }]
      }'
  search-profile='{
        "categories":  
        [
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
            "label":"Artist"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "label":"Repository"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "label":"Artwork"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_creation_date>",
            "label":"Creation date range"
          },
          {
            "iri":"<http://www.w3.org/2001/XMLSchema#date>",
            "label":"Date"
          },
          {
            "iri":"<https://pharos.artresearch.net/fieldDefinition/Photo_similarity>",
            "label":"Photo similarity"
          },
          {
            "iri":"<https://pharos.artresearch.net/fieldDefinition/Text_similarity>",
            "label":"Text similarity"
          },
          {
            "iri":"<http://www.w3.org/2001/XMLSchema#integer>",
            "label":"Number"
          }
        ],
        "relations":
        [
          {
            "iri": "<https://pharos.artresearch.net/resource/field/Artist_Attribution>",
            "label":"Creator",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
          },
          {
            "iri": "<https://pharos.artresearch.net/fieldDefinition/Repository>",
            "label":"Repository",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          }
        ]
      }'
>
  <div id="header-search" class="search-bar">
    <semantic-search-query-keyword
      domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
      placeholder="Search for an artwork title"
      escape-lucene-syntax="false"
      default-query='PREFIX skos: <http://www.w3.org/2004/02/skos/core#> 
        SELECT DISTINCT 
        ?subject 
        ?subject2
        (SAMPLE(?score) as ?score) 
        (SAMPLE(?element) as ?element) 
        (SAMPLE(?providerLabelA) as ?providerLabelA)
        (SAMPLE(?providerLabelB) as ?providerLabelB)
        WHERE {
          ?subject <https://pharos.artresearch.net/custom/has_image> ?imageA.
          ?imageA <http://purl.org/ontology/similarity/element> ?element.
          ?subject2 <https://pharos.artresearch.net/custom/has_image> ?imageB.
          ?imageB <http://purl.org/ontology/similarity/element> ?element.
          ?element <http://purl.org/ontology/similarity/method> ?asso_method.
          ?asso_method <http://purl.org/ontology/similarity/weight> ?score.
          ?asso_method <http://purl.org/ontology/similarity/method> <https://vision.artresearch.net/resource/Similarity/AssociationMethod/Pastec>.
          ?subject <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "providera"]]>.
          <[[urlParam "providera"]]> rdfs:label ?providerLabelA.
          ?subject2 <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "providerb"]]>.
          <[[urlParam "providerb"]]> rdfs:label ?providerLabelB.
          FILTER NOT EXISTS {?element <https://vision.artresearch.net/custom/reviewed> true }
          FILTER NOT EXISTS {?element <https://vision.artresearch.net/custom/skipped> true }
        }'
      query="SELECT DISTINCT ?subject WHERE {
      ?subject ?p ?o #This will never run
    }LIMIT 1 
  "
    ></semantic-search-query-keyword>
  </div>


    <bs-col
      lg="3"
      md="4"
      sm="5"
      class="fade-in-fwd"
      style="margin-top: 8px"
      id="artwork-filter-search"
    >
      <div class="filter-title">Filters</div>
      <semantic-search-facet open-by-default="true">
      </semantic-search-facet>
    </bs-col>
    <bs-col lg="9" md="8" sm="7">
      <semantic-search-result-holder>
        <div  id="search-results" >
            <semantic-search-result>
              <semantic-table
                id="grid-result"
                options='{
                      "showFilter":false
                    }'
                number-of-displayed-rows="5"
                query=" PREFIX skos: <http://www.w3.org/2004/02/skos/core#> 
                  SELECT DISTINCT  
                  ?subject 
                  ?subject2
                  (SAMPLE(?score) as ?score) 
                  (SAMPLE(?element) as ?element) 
                  (SAMPLE(?providerLabelA) as ?providerLabelA)
                  (SAMPLE(?providerLabelB) as ?providerLabelB)
                  WHERE {}GROUP BY ?subject ?subject2 ORDER BY DESC (?score) (?subject)
                  LIMIT 50
                        "
                tuple-template="{{>tupleTemplate}}"
                no-result-template="<h1>No matchings found for this Photo archive</h1><h2>Try selecting a different pair</h2>"
              >
                <template id="tupleTemplate">
                  <div
                    class="
                      rs-grid-element
                      panel panel-default
                      artwork-card
                      fade-in
                    "
                  >
                    <div class="panel-body row">
                      <bs-col class="cardInfo" lg="2" xs="10">
                        [[> :SimilarityListThumbnails iri="{{subject.value}}"]]
                      </bs-col>
                      <bs-col class="cardInfo" lg="4" xs="10">
                        <div data-flex-layout="row md-column center-stretch">
                          <bs-row class="cardInfoFields">
                            <h2>
                              [[> rsp:SourceIcon
                              providerLabel="{{providerLabelA.value}}"]]{{providerLabelA.value}}
                            </h2>
                            <mp-field-visualization
                              subject="{{subject.value}}"
                              fields='[[fieldDefinitions  
                                      Title="https://pharos.artresearch.net/fieldDefinition/2"
                                      Creator="https://pharos.artresearch.net/fieldDefinition/1"
                                      ]]'
                              template="{{>generalInfo}}"
                            >
                              <template id="generalInfo">
                                [[> rsp:ResourceFieldBasedVisualization
                                subject="{{subject.value}}" ]]
                              </template>
                            </mp-field-visualization>
                          </bs-row>
                        </div>
                      </bs-col>
                      <bs-col class="cardInfo" lg="2" xs="10">
                        [[> :SimilarityListThumbnails iri="{{subject2.value}}"]]
                      </bs-col>

                      <bs-col class="cardInfo" lg="4" xs="10">
                        <div data-flex-layout="row md-column center-stretch">
                          <bs-row class="cardInfoFields">
                            <h2>
                              [[> rsp:SourceIcon
                              providerLabel="{{providerLabelB.value}}"]]{{providerLabelB.value}}
                            </h2>
                            <mp-field-visualization
                              subject="{{subject2.value}}"
                              fields='[[fieldDefinitions  
                                        Title="https://pharos.artresearch.net/fieldDefinition/2"
                                        Creator="https://pharos.artresearch.net/fieldDefinition/1"
                                        ]]'
                              template="{{>generalInfo}}"
                            >
                              <template id="generalInfo">
                                [[> rsp:ResourceFieldBasedVisualization
                                subject="{{subject2.value}}" ]]
                              </template>
                            </mp-field-visualization>
                          </bs-row>
                        </div>
                      </bs-col>
                    </div>
                    <div class="actions">
           
                      <semantic-link iri="{{element.value}}" 
                      urlqueryparam-providera='[[urlParam "providera"]]'
                      urlqueryparam-providerb='[[urlParam "providerb"]]'
                      >
                        <button class="btn action btn-success">
                          View details
                        </button>
                      </semantic-link>
                    </div>
                    <scroll-to-top querySelector=".pagination li"></scroll-to-top>
                  </div>
                </template>
              </semantic-table>
            </semantic-search-result>
        </div>
      </semantic-search-result-holder>
    </bs-col>
  </div>
</semantic-search>
</div>