<div id="similarity-list-template">
    <div class="backDashboardButton">
        <mp-link  title="My matches" url="Default:Dashboard" >
                <div class="textdash">Back to My Dashboard</div>
        </mp-link>
     </div>
  [[#if (hasPermission "api:ldp:container:*:create")]]
    <div id="search-results">  
      <div class="jumbotron">
        <h1 style="margin-left: 2vw" class="display-4">
        Platform dashboard</h1>
        <p style="margin-left: 2vw" class="lead">
          Here you can view, delete & revert matchings from everyone in the platform
        </p>
      </div>
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="marked">
    <div>
      <bs-nav bs-style='tabs'>
        <bs-nav-item event-key='reviewed'><div style="display: flex;">Reconciled(
          [[> DashboardStatsArtists]]
          )</div>
        </bs-nav-item>
      </bs-nav>
      <bs-tab-content unmount-on-exit=true>
        <div>
        <bs-tab-pane event-key='reviewed'>
          [[> DashboardListArtists]]
        </bs-tab-pane>

      </div>
      </bs-tab-content>
    </div>
    </bs-tab-container>
    </div>
  [[else]]
     <h2>You do not have permmision to view all matchings</h2>
  [[/if]]
</div>

<style>
.nav.nav-tabs{
  font-size:smaller !important;
}
</style>