<div class="row" style="margin-top: 40px;">
  <bs-col sm="1"></bs-col>
  <bs-col sm="10">
    <semantic-table id='resources-results'
      number-of-displayed-rows=10
      query=' 
      SELECT  ?subject 
              (SAMPLE(?provider) as ?provider)
              (SAMPLE(?providerLabel) as ?providerLabel) 
              (SAMPLE(?value) as ?value) 
              (SAMPLE(?matchId) as ?matchId) 
              (SAMPLE(?attribution) as ?attribution) 
              (SAMPLE(?datetime) as ?datetime) 
              (SAMPLE(?formContainer) as ?formContainer)
              (SAMPLE(?container) as ?container) WHERE {
        ?subject <https://artresearch.net/custom/has_provider> ?provider.                
        [[#if matched]]
          GRAPH ?g {
            ?formContainer ldp:contains ?container .
            ?container prov:wasAttributedTo ?attribution;
              prov:generatedAtTime ?datetime.
            ?subject <http://www.w3.org/2002/07/owl#sameAs> ?value.
          }
          [[#if artists]]
            ?value a fc:artist.
          [[else if photographers]]
            ?value a fc:photographer.
          [[else if repositories]]
            ?value a fc:institution.
          [[/if]]
        [[else]]          
          [[#if artists]]
            ?subject a cfc:artist.
          [[else if photographers]]
            ?subject a cfc:photographer.
          [[else if repositories]]
            ?subject a cfc:institution.
          [[/if]]
          OPTIONAL { 
            ?subject skos:closeMatch ?value.
            BIND(REPLACE(STR(?value),"http://vocab.getty.edu/ulan/","") AS ?matchId)
          }
          FILTER NOT EXISTS {?subject <http://www.w3.org/2002/07/owl#sameAs> ?ulan.}
          ?provider rdfs:label ?pLabel.
          BIND(REPLACE(REPLACE(REPLACE(LCASE(?pLabel)," ",""),"sharedshelf","itatti"),"fotoindex","itatti") AS ?providerLabel)
        [[/if]]
      }GROUP BY ?subject order by ?datetime LIMIT 1000'
      number-of-displayed-rows=10
      no-result-template='<h1 style="margin-top:150px;">There are no pairs in this list</h1>'
      [[#if matched]]
        column-configuration=
          '[
            {"variableName":"subject","displayName":"Artresearch", "cellTemplate": "{{>pharos_artist}}"},
            [[#if artists]]
              {"variableName":"value","displayName":"ULAN", "cellTemplate": "<a href=\"{{value.value}}\"><mp-label iri=\"{{value.value}}\"></mp-label></a>"},
            [[else if photographers]]
              {"variableName":"value","displayName":"Wikidata", "cellTemplate": "<a href=\"{{value.value}}\"><mp-label iri=\"{{value.value}}\"></mp-label></a>"},
            [[else if repositories]]
              {"variableName":"value","displayName":"Wikidata", "cellTemplate": "<a href=\"{{value.value}}\"><mp-label iri=\"{{value.value}}\"></mp-label></a>"},
            [[/if]]
            {"variableName":"attribution","displayName":"Attribution", "cellTemplate": "<mp-label iri=\"{{attribution.value}}\"></mp-label>"},
            {"variableName":"datetime","displayName":"Modified", "cellTemplate": "{{datetime.value}}"},
            {"variableName":"actions","displayName":"Actions", "cellTemplate": "{{>Actions}}"}
          ]'
      [[else]]
        column-configuration=
          '[
            {"variableName":"subject","displayName":"Artresearch", "cellTemplate": "{{>pharos_artist}}"},
            [[#if artists]]
              {"variableName":"value","displayName":"ULAN", "cellTemplate": "{{>suggest_match}}"},
            [[else if photographers]]
              {"variableName":"value","displayName":"Wikidata", "cellTemplate": "{{>suggest_match}}"},
            [[else if repositories]]
              {"variableName":"value","displayName":"Wikidata", "cellTemplate": "{{>suggest_match}}"},
            [[/if]]
            {"variableName":"actions","displayName":"Actions", "cellTemplate": "{{>Actions}}"}
          ]'
      [[/if]]
      >

        <template id="pharos_artist">
          <div>
            <mp-label iri="{{provider.value}}"></mp-label>: 
            <a href="{{subject.value}}"><mp-label iri="{{subject.value}}"></mp-label></a>
          </div>
        </template>
        <template id="suggest_match">
          {{#if value.value}}
            <a href="{{value.value}}"><mp-label iri="{{value.value}}"></mp-label></a>
          {{else}}
            no suggestion
          {{/if}}
        </template>
        <template id="Actions">
          [[#if matched]]
            <mp-ldp-remove-from-container-action action="DELETE" post-action='reload' iri="{{container.value}}" container="http://www.researchspace.org/resource/system/formContainer">
              <button title='This action will remove the item from your matched actors list. It will be then available under actors matchings for you or another reviewer to match.' class="btn action btn-danger" style="margin-right:8px;"><i style="color: white;" class="fa fa-trash" aria-hidden=true></i> Delete</button>
            </mp-ldp-remove-from-container-action>
          [[else]]
            {{#if value.value}}
              <tr>
                <td>
                  <mp-overlay-dialog class="matching-modal" title="Match">
                    <mp-overlay-dialog-trigger
                      placement="bottom"
                      trigger='["hover","focus"]'
                    >
                      <div id="match-button-text">
                        [[#if artists]]
                          <span class="fa fa-external-link" style="margin-right: 5px;"></span>  Match artists
                        [[else if photographers]]
                          <span class="fa fa-external-link" style="margin-right: 5px;"></span>  Match photographers
                        [[else if repositories]]
                          <span class="fa fa-external-link" style="margin-right: 5px;"></span>  Match repositories
                        [[/if]]
                      </div>
                    </mp-overlay-dialog-trigger>
                    <mp-overlay-dialog-content style="background: white">
                      <div>
                        <div id="matchings-vocab">
                          <!-- PHAROS SECTION -->
                          <div class="matchingContainer" >
                            <div class="candidate">
                              <div style="display: flex;">
                                <div style="display: flex; flex-direction: column; margin-left: 15px;">
                                  <h1 style="font-size: 32px !important">     
                                    <mp-link url="{{subject.value}}" ><mp-label iri="{{subject.value}}"></mp-label></mp-link> 
                                    (<mp-link url='{{provider.value}}' ><mp-label iri="{{provider.value}}"></mp-label></mp-link>)
                                  </h1>
                                </div>
                              </div>
                            </div>
                            <div class="separatingLine"></div>
                            <div class="candidate">
                              <h2 style="font-size: 22px; margin-bottom: 4vh;">Click on "Same" button to verify suggested matches</h2 style="font-size: 22px;">
                                <div class="matchingCard">
                                  <div class="matchingCardHeader">
                                    <div class="matchingCardHeaderInfo">
                                      <h2  style="font-size: 24px; font-weight: bold;">
                                        <mp-label iri="{{value.value}}" ></mp-label>
                                      </h2>
                                      <mp-overlay-dialog title="{{value.value}}" type="lightbox">
                                        <mp-overlay-dialog-trigger>
                                          [[#if artists]]
                                            <small class="clickable">View at Getty</small>
                                          [[else if photographers]]
                                            <small class="clickable">View at Wikidata</small>
                                          [[else if repositories]]
                                            <small class="clickable">View at Wikidata</small>
                                          [[/if]]
                                          
                                        </mp-overlay-dialog-trigger>
                                        <mp-overlay-dialog-content>
                                          [[#if artists]]
                                            <iframe src="https://www.getty.edu/vow/ULANFullDisplay?find=&role=&nation=&subjectid={{matchId.value}}"></iframe>
                                          [[else if photographers]]
                                            <iframe src="{{value.value}}"></iframe>
                                          [[else if repositories]]
                                            <iframe src="{{value.value}}"></iframe>
                                          [[/if]]
                                        </mp-overlay-dialog-content>
                                      </mp-overlay-dialog>
                                    </div>
                                    <div class="actions">
                                        <semantic-form
                                          new-subject-template="{{subject.value}}"
                                          browser-persistance="true"
                                          persistence="ldp"
                                          post-action="reload"
                                          [[#if artists]]
                                            fields='[[ fieldDefinitions
                                                        confirmed="https://vision.artresearch.net/fieldDefinitionContainer/Confirmed_Matched_Artists"
                                                    ]]'
                                          [[else if photographers]]
                                            fields='[[ fieldDefinitions
                                                        confirmed="https://vision.artresearch.net/container/fieldDefinitionContainer/Confirmed_Matched_Photographers"
                                                    ]]'
                                          [[else if repositories]]
                                            fields='[[ fieldDefinitions
                                                        confirmed="https://vision.artresearch.net/container/fieldDefinitionContainer/Confirmed_Matched_Institutions"
                                                    ]]'
                                          [[/if]]
                                        >
                                          <semantic-form-hidden-input
                                            for="confirmed"
                                            default-value="{{value.value}}"
                                          ></semantic-form-hidden-input>
    
                                          <button
                                            id="1234"
                                            name="submit"
                                            class="btn btn-default action approve"
                                            title="Click to confirm two instances as the same"
                                          > Same </button>
                                        </semantic-form>
                                    </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mp-overlay-dialog-content>
                  </mp-overlay-dialog>
                </td>
                <td> or </td>
                <td>
                  [[#if artists]]
                    <div id="match-button-text">
                      <span class="fa fa-external-link" style="margin-right: 5px;"></span>
                      <a href="https://vocab.artresearch.net/resource/?partner={{provider.value}}&partnerimage={{providerLabel.value}}.png&subject={{subject.value}}&uri=Default%3AConfirmArtist" target="_blank">
                        Redirect to Vocab
                      </a>
                    </div>
                  [[else if photographers]]
                    <div id="match-button-text">
                      <span class="fa fa-external-link" style="margin-right: 5px;"></span>
                      <a href="https://vocab.artresearch.net/resource/?partner={{provider.value}}&partnerimage={{providerLabel.value}}.png&subject={{subject.value}}&uri=Default%3AConfirmPhotographer" target="_blank">
                        Redirect to Vocab
                      </a>
                    </div>
                  [[else if repositories]]
                    <div id="match-button-text">
                      <span class="fa fa-external-link" style="margin-right: 5px;"></span>
                      <a href="https://vocab.artresearch.net/resource/?partner={{provider.value}}&partnerimage={{providerLabel.value}}.png&subject={{subject.value}}&uri=Default%3AConfirmRepository" target="_blank">
                        Redirect to Vocab
                      </a>
                    </div>
                  [[/if]]
                </td>
              </tr>
            {{else}}
              <div>
                <tr>
                  [[#if artists]]
                    <div id="match-button-text">
                      <span class="fa fa-external-link" style="margin-right: 5px;"></span>
                      <a href="https://vocab.artresearch.net/resource/?partner={{provider.value}}&partnerimage={{providerLabel.value}}.png&subject={{subject.value}}&uri=Default%3AConfirmArtist" target="_blank">
                        Redirect to Vocab
                      </a>
                    </div>
                  [[else if photographers]]
                    <div id="match-button-text">
                      <span class="fa fa-external-link" style="margin-right: 5px;"></span>
                      <a href="https://vocab.artresearch.net/resource/?partner={{provider.value}}&partnerimage={{providerLabel.value}}.png&subject={{subject.value}}&uri=Default%3AConfirmPhotographer" target="_blank">
                        Redirect to Vocab
                      </a>
                    </div>
                  [[else if repositories]]
                    <div id="match-button-text">
                      <span class="fa fa-external-link" style="margin-right: 5px;"></span>
                      <a href="https://vocab.artresearch.net/resource/?partner={{provider.value}}&partnerimage={{providerLabel.value}}.png&subject={{subject.value}}&uri=Default%3AConfirmRepository" target="_blank">
                        Redirect to Vocab
                      </a>
                    </div>
                  [[/if]]
                </tr>
              </div>
            {{/if}}              
          [[/if]]
        </template>
    </semantic-table>
  </bs-col>
  <bs-col sm="1"></bs-col>
</div>

<style>
  .actions{
  gap: 150px;
  }
  .matchingImage {
    height: 18vh !important;
    margin: 0vw !important;
  }
</style>