<div class="row" style="margin-top: 40px;">
  <bs-col sm="1"></bs-col>
<bs-col sm="10">
<semantic-table id='resources-results'
number-of-displayed-rows=10
query=' SELECT DISTINCT 
        (SAMPLE(?similarity) as ?similarity)
        (SAMPLE(?work) as ?work)
        (SAMPLE(?work2) as ?work2)
        (SAMPLE(?providerA) as ?providerA)
        (SAMPLE(?providerB) as ?providerB)
        (SAMPLE(?attribution) as ?attribution)
        (SAMPLE(?modifiedAt) as ?modifiedAt)
        (SAMPLE(?subject) as ?subject)
        (SAMPLE(?providerLabelA) as ?providerLabelA)
        (SAMPLE(?providerLabelB) as ?providerLabelB) WHERE {
          GRAPH ?g {
            ?work  fr:Work_is_imitation_or_copy_of_Work ?work2 .
            ?subject <http://www.w3.org/ns/prov#wasAttributedTo> ?attribution.
            ?subject <http://www.w3.org/ns/prov#generatedAtTime> ?modifiedAt ; 
          }
          ?work <https://artresearch.net/custom/has_image>/<http://purl.org/ontology/similarity/element> ?similarity.
          ?work2 <https://artresearch.net/custom/has_image>/<http://purl.org/ontology/similarity/element> ?similarity.
          ?work <https://artresearch.net/custom/has_provider> ?providerA.
          ?providerA rdfs:label ?providerLabelA.
          ?work2 <https://artresearch.net/custom/has_provider> ?providerB.
          ?providerB rdfs:label ?providerLabelB.
          [[#if user]]
            BIND(?__useruri__ as ?attribution)
          [[/if]]
        }GROUP BY ?g'
tuple-template='{{>markedCards}}'
no-result-template='<h1 style="margin-top:150px;">There are no matchings marked for review</h1>'
>

<template id="markedCards">
  [[> DashboardCard type='Marked "Imitation/Copy"']]
</template>



</semantic-table>
</bs-col>
<bs-col sm="1"></bs-col>
</div>

<style>
  .actions{
  gap: 150px;
  }
  .matchingImage {
    height: 18vh !important;
    margin: 0vw !important;
  }
</style>