<div id="matching-selector" class="selectorContainer">
  <div class="rs-page__summary-image summaryImages summary-image-with-thumbs">
    <mp-event-target-template-render
      id="provider-image"
      template="{{> providerImage}}"
    >
      <template id="providerImage">
        <div class="selectionResult">
          <mp-event-target-template-render
            id="provider-image-b"
            template="{{> providerImage}}"
          >
            <template id="providerImage">
              <div class="logoContainer">
                {{#ifCond providerImageA "!==" undefined}}
                <img src=" {{providerImageA}}" />
                {{/ifCond}}
              </div>
              <div class="submitContainer">
                {{#ifCond providerA "&&" providerB}}
                  <mp-link
                    url="SimilarityList"
                    urlqueryparam-providera="{{providerA}}"
                    urlqueryparam-providerb="{{providerB}}"
                  >
                    <button class="btn">View matchings list</button>
                  </mp-link>
                {{else}} 
                 <button disabled title="Please select a set of providers" class="btn">View matchings list</button>
                {{/ifCond}}
              </div>
              <div class="logoContainer">
                {{#ifCond providerImageB "!==" undefined}}
                <img src=" {{providerImageB}}" />
                {{/ifCond}}
              </div>
            </template>
          </mp-event-target-template-render>
        </div>
      </template>
    </mp-event-target-template-render>
    <div class="providerListContainer">
      <mp-event-target-template-render
        id="provider-selector"
        template="{{> providerSelectTemplate}}"
      >
        <template id="providerSelectTemplate">
          {{#ifCond providerA "===" undefined}}
          <h1 class="providerSelectHelper">Select left-side provider</h1>
          [[> rsp:matchingSelectorList selected="{{selected}}"
          providerSelector="providerA" providerImageSelector="providerImageA"
          additionals='"additional":"none"']] {{else}} {{#ifCond providerB "==="
          undefined}}
          <h1 class="providerSelectHelper">Select right-side provider</h1>
          [[> rsp:matchingSelectorList selected="{{selected}}"
          providerSelector="providerB" providerImageSelector="providerImageB"
          additionals='"providerA":"{{providerA}}","providerImageA":"{{providerImageA}}"']]
          {{else}}
          <h1 class="providerSelectHelper">
            Click on "View matchings list" to proceed or select a different set
            of providers
          </h1>
          [[> rsp:matchingSelectorList selected="{{selected}}"
          providerSelector="providerA" providerImageSelector="providerImageA"
          additionals='"additional":"none"']] {{/ifCond}} {{/ifCond}}
        </template>
      </mp-event-target-template-render>
    </div>
  </div>
</div>