<div id="start-page">
  <div style="text-align: center;" class="alert alert-info" role="alert">
    Data are currently being refreshed, the full data set will be available on April 26, 2021</i>
  </div>
  [[> rsp:photoTiles]]
  <div class="mainContent">
    <div id="photoSearch" data-flex-layout="column center-center">
      <div class="logoLarge">
        <img src="../../assets/images/vision-ar-header_large.png" />
      </div>
      <div style="margin-top: 10vh">[[> rsp:Searchbar]]</div>
    </div>
  </div>
</div>
