<div id="matchings" style="margin-top: 8vh">
  [[> matchingSelector ]]
  <div
    style="
      margin-top: 2vh;
      display: flex;
      align-items: center;
      flex-direction: column;
    "
  >
    <h2>
      <i  style="display: flex; align-items: center"
        >Please note that the platform is under development some combinations may yield few results
      </i>
    </h2>

    <a href="https://artresearch.net/resource/DisplayPharosReviewed">
      <h1 class="linkTitle">See all Reviewed artworks at artresearch.net</h1>
    </a>
  </div>
</div>