<div class="stats">
  <semantic-query
    query=' SELECT ?matched ?unmatched ((?matched+?unmatched) as ?total) ?partnerLabel WHERE {
              <[[partnerUri]]> rdfs:label ?partnerLabel.
              GRAPH ?graph {
                <[[partnerUri]]> <https://artresearch.net/custom/numOfArtistsMatched> ?matched;
                  <https://artresearch.net/custom/numOfArtistsNonMatched> ?unmatched.
              }
              ?statistics <https://artresearch.net/custom/consists_of> ?graph;
                <https://artresearch.net/custom/latest> true.
            }'
    template='{{> statsTotal }}'>
    <template id="statsTotal">
      Artists reconciled
      <br/>
      {{bindings.0.matched.value}} / {{bindings.0.total.value}} 
      <semantic-chart
          type = 'bar'
          query='
          SELECT ?matched ?unmatched WHERE{
            BIND(  {{bindings.0.matched.value}} AS ?matched) 
            BIND(  {{bindings.0.unmatched.value}} AS ?unmatched)
          }LIMIT 1'
        sets='[
          {"dataSetName": "Reviewed Pairs", "category": "matched", "value": "matched"},
          {"dataSetName": "Remaining Pairs", "category": "matched", "value": "unmatched"}
        ]'
        styles='[{
          
          "provider": "chartjs",
          "style": {
            "options": {
              "scales": {
                "xAxes": [{
                  "stacked": true
                }],
                "yAxes": [{
                  "stacked": true
                }]
              }
            },
            "data": {
              "datasets": [
                {
                  "backgroundColor": "rgba(2, 184, 2, 0.7)",
                  "pointBackgroundColor": "rgb(2, 184, 2)",
                  "pointHoverBackgroundColor": "rgb(2, 184, 2)",
                  "borderColor": "rgb(2, 184, 2)",
                  "pointBorderColor": "#fff",
                  "pointHoverBorderColor": "rgb(2, 184, 2)"
                },
                { "backgroundColor": "rgba(189, 189, 189, 0.7)",
                  "pointBackgroundColor": "rgb(189, 189, 189)",
                  "pointHoverBackgroundColor": "rgb(189, 189, 189)",
                  "borderColor": "rgb(189, 189, 189)",
                  "pointBorderColor": "#fff",
                  "pointHoverBorderColor": "rgb(189, 189, 189)"
                }
              ]
            }
          }
        }]'>
      </semantic-chart>
    </template>
  </semantic-query>
</div>
