<semantic-search
  limit="20"
  relations='{
    "<https://artresearch.net/resource/field/Artist_Attribution>":[
      {
        "kind": "resource",
        "queryPattern": "
          
            $subject <https://artresearch.net/resource/custom/fr/Work_created_from_Artist> ?__value__.
          "
      }
    ],
    "<https://artresearch.net/fieldDefinition/Repository>":[
    {
      "kind": "resource",
      "queryPattern": "
          $subject <https://artresearch.net/resource/custom/fr/Work_kept_by_Institution> ?__value__.
        "
    }]
  }'
  search-profile='{
        "categories":  
        [
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
            "label":"Artist"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "label":"Repository"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "label":"Artwork"
          },
          {
            "iri":"<https://artresearch.net/resource/fr/Work_creation_date>",
            "label":"Creation date range"
          },
          {
            "iri":"<http://www.w3.org/2001/XMLSchema#date>",
            "label":"Date"
          },
          {
            "iri":"<https://artresearch.net/fieldDefinition/Photo_Archive>",
            "label":"Photo archive"
          },
          {
            "iri":"<https://artresearch.net/fieldDefinition/Photo_similarity>",
            "label":"Photo similarity"
          },
          {
            "iri":"<https://artresearch.net/fieldDefinition/Text_similarity>",
            "label":"Text similarity"
          },
          {
            "iri":"<http://www.w3.org/2001/XMLSchema#integer>",
            "label":"Number"
          }
        ],
        "relations":
        [
          {
            "iri": "<https://artresearch.net/resource/field/Artist_Attribution>",
            "label":"Creator",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
          },
          {
            "iri": "<https://artresearch.net/fieldDefinition/Repository>",
            "label":"Repository",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          },
          {
            "iri": "<https://artresearch.net/fieldDefinition/Photo_Archive>",
            "label":"Photo archive",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<https://artresearch.net/fieldDefinition/Photo_Archive>"
          }
        ]
      }'
>
  <div id="header-search" class="search-bar">
    <semantic-search-query-keyword
      domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
      placeholder="Search for an artwork title"
      escape-lucene-syntax="false"
      default-query='PREFIX skos: <http://www.w3.org/2004/02/skos/core#> 
        SELECT DISTINCT 
        ?subject 
        ?subject2
        (SAMPLE(?score) as ?score)
        (SAMPLE(?element) as ?element) WHERE {
          ?subject <https://artresearch.net/custom/has_image>/<http://purl.org/ontology/similarity/element> ?element;
            <https://artresearch.net/custom/has_provider> <[[urlParam "providera"]]>.
          ?subject2 <https://artresearch.net/custom/has_image>/<http://purl.org/ontology/similarity/element> ?element;
            <https://artresearch.net/custom/has_provider> <[[targetProviderURI]]>.
          ?element <http://purl.org/ontology/similarity/method> [
            <http://purl.org/ontology/similarity/weight> ?score;
            <http://purl.org/ontology/similarity/method> <https://vision.artresearch.net/resource/Similarity/AssociationMethod/Pastec>
          ]
          FILTER NOT EXISTS {?element <https://vision.artresearch.net/custom/reviewed> true }
          FILTER NOT EXISTS {?element <https://vision.artresearch.net/custom/skipped> true }
        }'
      query='PREFIX skos: <http://www.w3.org/2004/02/skos/core#> 
        SELECT DISTINCT 
        ?subject 
        ?subject2
        (SAMPLE(?score) as ?score)
        (SAMPLE(?element) as ?element) WHERE {
          ?subject <https://artresearch.net/custom/has_image>/<http://purl.org/ontology/similarity/element> ?element;
            <https://artresearch.net/custom/has_provider> <[[urlParam "providera"]]>.
          ?subject2 <https://artresearch.net/custom/has_image>/<http://purl.org/ontology/similarity/element> ?element;
            <https://artresearch.net/custom/has_provider> <[[targetProviderURI]]>.
          ?element <http://purl.org/ontology/similarity/method> [
            <http://purl.org/ontology/similarity/weight> ?score;
            <http://purl.org/ontology/similarity/method> <https://vision.artresearch.net/resource/Similarity/AssociationMethod/Pastec>
          ]
          FILTER NOT EXISTS {?element <https://vision.artresearch.net/custom/reviewed> true }
          FILTER NOT EXISTS {?element <https://vision.artresearch.net/custom/skipped> true }
        }'
    ></semantic-search-query-keyword>
  </div>

  <div class="row">
    <bs-col
      lg="3"
      md="4"
      sm="5"
      class="fade-in-fwd"
      style="margin-top: 8px"
      id="artwork-filter-search"
    >
      <div class="filter-title">Filters</div>
      <semantic-search-facet open-by-default="true"></semantic-search-facet>
    </bs-col>
    <bs-col lg="9" md="8" sm="7">
      
      <semantic-search-result-holder>
        <div  id="search-results" >
             <h2>Please notice that the skipped ones, do not count as reconciled entities. That's why the count differs from the actual results here.</h2>
            <semantic-search-result>
              <semantic-table
                id="grid-result"
                options='{
                      "showFilter":false
                    }'
                number-of-displayed-rows="5"
                query=" PREFIX skos: <http://www.w3.org/2004/02/skos/core#> 
                  SELECT DISTINCT  
                    ?subject 
                    ?subject2
                    (SAMPLE(?score) as ?score)
                    (SAMPLE(?element) as ?element)
                  WHERE {}GROUP BY ?subject ?subject2 ORDER BY DESC (?score)
                "
                no-result-template="<h1>No matchings found for this Photo archive</h1><h2>Try switching to a different Photo archive tab</h2>"
                tuple-template="{{>tupleTemplate}}"
              >
                <template id="tupleTemplate">
                  [[> ResultListCard]]
                </template>
              </semantic-table>
            </semantic-search-result>
        </div>
      </semantic-search-result-holder>
    </bs-col>
  </div>
  </semantic-search>

   