<!-- Create two thumbnails and respective modals with iiif viewer -->
<!-- First candidate -->
<semantic-query query='SELECT ?element ?iiifServerUrlA ?iiifServerUrlB ?imageUrlA ?imageUrlB ?imageLabel ?thumbnailUrl WHERE{
  BIND(STR("{{bindings.0.providerLabelA.value}}") as ?imageLabel).
  BIND(STR("[[imageA]]") as ?imageUrlA).
  BIND(REPLACE(STR(REPLACE(STR("[[imageA]]"),"/full/full/0/[a-zA-Z]*.jpg","")), "(^.*)\\/(.*)$", "$1") AS ?iiifServerUrlA).
  BIND(REPLACE(STR("[[imageA]]"),"full/full","full/500,") AS ?thumbnailUrl).
  BIND(STR("[[imageB]]") as ?imageUrlB).
  BIND(<[[element]]> as ?element).
  BIND(REPLACE(STR(REPLACE(STR("[[imageB]]"),"/full/full/0/[a-zA-Z]*.jpg","")), "(^.*)\\/(.*)$", "$1") AS ?iiifServerUrlB).
}'
template="{{> firstCanditateImage}}">
  <template id="firstCanditateImage">
<mp-overlay-dialog title="‎‎" class="miradorViewerPopup">
  <mp-overlay-dialog-trigger>
    <div class="imageHolder">
      <img src='{{bindings.0.thumbnailUrl.value}}'/>
      <div class="imageLabel">[[> rsp:SourceIcon providerLabel="{{bindings.0.imageLabel.value}}"]] {{bindings.0.imageLabel.value}}</div>    
    </div>    
  </mp-overlay-dialog-trigger>
    <mp-overlay-dialog-content>
    <div id="sidebyside">
          <div style='height: 80vh; width: 50%;'>
      <rs-iiif-mirador
                       id="candidateAmirador"
                       image-or-region="{{bindings.0.imageUrlA.value}}" 
                       image-id-pattern='BIND("image" AS ?type). BIND(?? AS ?imageIRI).
                                         BIND(REPLACE(STR(REPLACE(STR(<{{bindings.0.imageUrlA.value}}>),"/full/full/0/[a-zA-Z]*.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                       iiif-server-url="{{bindings.0.iiifServerUrlA.value}}" 
                       >
      </rs-iiif-mirador>
    </div>
    <div style='height: 80vh; width: 50%;'>
      <rs-iiif-mirador
                       id="candidateBmirador"
                       image-or-region="{{bindings.0.imageUrlB.value}}" 
                       image-id-pattern='BIND("image" AS ?type). BIND(?? AS ?imageIRI).
                                         BIND(REPLACE(STR(REPLACE(STR(<{{bindings.0.imageUrlB.value}}>),"/full/full/0/[a-zA-Z]*.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                       iiif-server-url="{{bindings.0.iiifServerUrlB.value}}" 
                       >
      </rs-iiif-mirador>
    </div>
    </div>
  </mp-overlay-dialog-content>
</mp-overlay-dialog>
<!-- Similarity fields between two images -->
<div class="similarityFields"> 
  [[> rsp:SimilarityBasicInfoForVisualSimilarity element="{{bindings.0.element.value}}"]]
</div>
  </template>
</semantic-query>
<!-- Second candidate -->
<semantic-query query='SELECT ?iiifServerUrlA ?iiifServerUrlB ?imageUrlA ?imageUrlB ?imageLabel ?thumbnailUrl WHERE{
  BIND(STR("{{bindings.0.providerLabelB.value}}") as ?imageLabel).
  BIND(STR("[[imageA]]") as ?imageUrlA).
  BIND(REPLACE(STR("[[imageB]]"),"full/full","full/500,") AS ?thumbnailUrl).
  BIND(REPLACE(STR(REPLACE(STR("[[imageA]]"),"/full/full/0/[a-zA-Z]*.jpg","")), "(^.*)\\/(.*)$", "$1") AS ?iiifServerUrlA).
  BIND(STR("[[imageB]]") as ?imageUrlB).
  BIND(REPLACE(STR(REPLACE(STR("[[imageB]]"),"/full/full/0/[a-zA-Z]*.jpg","")), "(^.*)\\/(.*)$", "$1") AS ?iiifServerUrlB).
}'
template="{{> secondCanditateImage}}">
  <template id="secondCanditateImage">
<mp-overlay-dialog title="‎‎" class="miradorViewerPopup">
  <mp-overlay-dialog-trigger>
    <div class="imageHolder">
      <img src='{{bindings.0.thumbnailUrl.value}}'/>
      <div class="imageLabel">[[> rsp:SourceIcon providerLabel="{{bindings.0.imageLabel.value}}"]]{{bindings.0.imageLabel.value}}</div>    
    </div>    
  </mp-overlay-dialog-trigger>
  <mp-overlay-dialog-content>
    <div id="sidebyside">
          <div style='height: 80vh; width: 50%;'>
      <rs-iiif-mirador
                       id="candidateAmirador"
                       image-or-region="{{bindings.0.imageUrlA.value}}" 
                       image-id-pattern='BIND("image" AS ?type). BIND(?? AS ?imageIRI).
                                         BIND(REPLACE(STR(REPLACE(STR(<{{bindings.0.imageUrlA.value}}>),"/full/full/0/[a-zA-Z]*.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                       iiif-server-url="{{bindings.0.iiifServerUrlA.value}}" 
                       >
      </rs-iiif-mirador>
    </div>
    <div style='height: 80vh; width: 50%;'>
      <rs-iiif-mirador
                       id="candidateBmirador"
                       image-or-region="{{bindings.0.imageUrlB.value}}" 
                       image-id-pattern='BIND("image" AS ?type). BIND(?? AS ?imageIRI). 
                                         BIND(REPLACE(STR(REPLACE(STR(<{{bindings.0.imageUrlB.value}}>),"/full/full/0/[a-zA-Z]*.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                       iiif-server-url="{{bindings.0.iiifServerUrlB.value}}" 
                       >
      </rs-iiif-mirador>
    </div>
    </div>
  </mp-overlay-dialog-content>
</mp-overlay-dialog>
  </template>
</semantic-query>
<style>
  
  .similarityFields{
	display:flex;
    flex-direction:column;
  }
    .imageHolder{
      position: relative;
  }
  .imageHolder .imageLabel{
    position: absolute;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items:center;
    bottom: -3vh;
    border-radius: 0 4px 4px 0;
    width: fit-content;
    text-transform: uppercase;
    right: 1vw;
    color: #000000;
    height: fit-content;
    width: 60%;
    left: 20%;
    text-align: center;
    font-size: medium;
    background: #ffffff85;
    font-weight: bold;
  }
  #sidebyside {
  	display:flex;
  }
  #sidebyside .mirador .researchspace-mirador.mirador-container .mirador-viewer .content-container{
  	margin-top:0 !important;  
  }
    .mirador-main-menu-bar{
    display: none !important;
  }
  .mirador-viewer{
    top: 0px !important;
    background-color:white !important;
  }
  .mirador-osd-annotation-controls{
    display: none !important;
  }
  a.mirador-icon-window-menu{
    display: none !important;
  }
      .miradorViewerPopup .grid-demo{
        height: 92vh;
    }
    .miradorViewerPopup .modal-dialog{
        width: 98%;
    }
</style>