<div class="actions">
  <semantic-query 
    query="
    PREFIX fr: <https://pharos.artresearch.net/resource/fr/>
      SELECT ?infotext WHERE {
        BIND(<{{bindings.0.element.value}}> as ?infosub)
         GRAPH ?g {
            ?infosub  fr:Work_for_review ?infotext .
            ?subject <http://www.w3.org/ns/prov#wasAttributedTo> ?attribution.
            ?subject <http://www.w3.org/ns/prov#generatedAtTime> ?modifiedAt ; 
          }
      } "
      template="{{>info}}">
      <template id="info">
        {{#each bindings}}
    <h2 style="display: flex;
        width: 100%;
        gap: 5px;
        font-size: 12px;
        padding-right: 15px;">User: <mp-label iri="{{attribution.value}}"></mp-label> added a note at: {{dateTimeFormat modifiedAt.value "DD/MM/YY HH:mm:ss"}}</h2>
        <h2>
          Note: {{infotext.value}}
        </h2>
        {{/each}}
      </template>
  </semantic-query>
  
 [[#if (hasPermission "api:ldp:*")]]
    <mp-overlay-dialog type="lightbox" title="For Review - Please add information about the reviewer">
    <mp-overlay-dialog-trigger
      placement="bottom"
      trigger='["hover","focus"]'
    >
        <button
          id="forReview"
          class="btn btn-default action optional"
          style="background:#dab327 !important"
          title="For Review"
        >
        For Review
      </button>
    </mp-overlay-dialog-trigger>
    <mp-overlay-dialog-content >
      <div style="place-self:center">
            <h1>Are you sure you want to review later this artwork?</h1>
            <h2>If yes, please provide a reason why and any other info needed for the next person who might want to review this</h2>
            <semantic-form
                new-subject-template="{{bindings.0.element.value}}"
                browser-persistance="true"
                persistence='ldp'
                urlqueryparam-providera='[[urlParam "providera"]]'
                urlqueryparam-providerb='[[urlParam "providerb"]]'
                post-action="{{bindings.0.nextElement.value}}"
                form-id="Reviewform"
                fields='[[fieldDefinitions
                          review_later="https://vision.artresearch.net/fieldDefinitionContainer/ForReview"
                        ]]'
              >
            <semantic-form-text-input 
                for="review_later" 
                multiline="true"
                default-value="">
            </semantic-form-text-input>
              <button
              name="submit"
              class="btn btn-warning action reject confirm-btn"
              title="Two instances will be reviewed later"
            >
            <div class="color-white">Review Later</div>
          </button>
          </semantic-form>
      </div>
          </mp-overlay-dialog-content>
    </mp-overlay-dialog-content>
  </mp-overlay-dialog>
[[/if]]
  <mp-overlay-dialog type="lightbox" title="Imitation/Copy of - Please select a pair of images">
    <mp-overlay-dialog-trigger
      placement="bottom"
      trigger='["hover","focus"]'
    >
        <button
          class="btn btn-default action optional"
          title="Imitation/Copy of"
        >
        Imitation/Copy of
      </button>
    </mp-overlay-dialog-trigger>
    <mp-overlay-dialog-content style="background: white">
      <div>
        [[> :ImageRelation relationLabel="is imitation/copy of" formField="http://www.researchspace.org/fieldDefinition/Imitation_Copy_of" simElement="{{bindings.0.element.value}}"  nextSimElement="{{bindings.0.nextElement.value}}"]]
      </div>
    </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <mp-overlay-dialog type="lightbox" title="Study/Sketch for - Please select a pair of images">
    <mp-overlay-dialog-trigger
    placement="bottom"
    trigger='["hover","focus"]'
    >
     <button
      class="btn btn-default action optional"
      title="Study/Sketch for"
    >
      Study/Sketch for
    </button>
  </mp-overlay-dialog-trigger>
  <mp-overlay-dialog-content style="background: white">
    <div>
      [[> :ImageRelation relationLabel="is a study/sketch for" formField="http://www.researchspace.org/fieldDefinition/Study_Sketch_of" simElement="{{bindings.0.element.value}}" nextSimElement="{{bindings.0.nextElement.value}}" ]]
    </div>
  </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <mp-overlay-dialog type="lightbox" title="Is part of - Please select a pair of images">
    <mp-overlay-dialog-trigger
    placement="bottom"
    trigger='["hover","focus"]'
    >
     <button
      class="btn btn-default action optional"
      title="Is part of"
    >
      Is part of
    </button>
  </mp-overlay-dialog-trigger>
  <mp-overlay-dialog-content style="background: white">
    <div>
      [[> :ImageRelation relationLabel="is part of" formField="http://www.researchspace.org/fieldDefinition/is_part_of" simElement="{{bindings.0.element.value}}" nextSimElement="{{bindings.0.nextElement.value}}" ]]
    </div>
  </mp-overlay-dialog-content>
  </mp-overlay-dialog>

    <mp-overlay-dialog type="lightbox" title="Version of - Please select a pair of images">
    <mp-overlay-dialog-trigger
    placement="bottom"
    trigger='["hover","focus"]'
    >
     <button
      class="btn btn-default action optional"
      title="Version of"
    >
      Version of
    </button>
  </mp-overlay-dialog-trigger>
  <mp-overlay-dialog-content style="background: white">
    <div>
      [[> :ImageRelation relationLabel="Version of" formField="http://www.researchspace.org/fieldDefinition/version_of" simElement="{{bindings.0.element.value}}" nextSimElement="{{bindings.0.nextElement.value}}" ]]
    </div>
  </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <mp-overlay-dialog type="lightbox" title="Same negative - Please select a pair of images">
    <mp-overlay-dialog-trigger
      placement="bottom"
      trigger='["hover","focus"]'
    >
      <button
        class="btn btn-default action optional"
        title="Same negative"
      >
        Same negative
      </button>
    </mp-overlay-dialog-trigger>
    <mp-overlay-dialog-content style="background: white">
      <div>
        [[> :ImageRelationSameNegative titleSelection="true" relationLabel="is the same negative as" formField="http://www.researchspace.org/fieldDefinition/Negative" simElement="{{bindings.0.element.value}}" nextSimElement="{{bindings.0.nextElement.value}}" ]]
      </div>
    </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <mp-overlay-dialog title="Confirm two artworks are similar (but not the same)" >
    <mp-overlay-dialog-trigger
      >
          <button
          id="1234"
          name="submit"
          class="btn btn-default action optional"
          title="Two instances are similar"
        > Similar </button>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content>
            <h1>Are you sure the two artworks are similar?</h1>
            <h2>If yes, click on "Confirm" button bellow.</h2>
            <semantic-form
            new-subject-template="{{bindings.0.element.value}}"
            browser-persistance="true"
            persistence='ldp'
            urlqueryparam-providera='[[urlParam "providera"]]'
            urlqueryparam-providerb='[[urlParam "providerb"]]'
            post-action='{{bindings.0.nextElement.value}}'
            form-id="IMApprove1"
            fields='[[fieldDefinitions
                    similar="http://www.researchspace.org/fieldDefinition/Similar"
                    ]]'
          >
            <semantic-form-hidden-input
              for="similar"
              default-value="true"
            ></semantic-form-hidden-input>
            

            <button
            id="1234"
            name="submit"
            class="btn btn-default action approve confirm-btn"
            title="Two instances are similar"
            > <div class="color-white"> Confirm</div> </button>
          </semantic-form>
          </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <mp-overlay-dialog title="Confirm two artworks are not similar" >
    <mp-overlay-dialog-trigger
      >
      <button
      class="btn btn-warning action reject"
      title="Two instances are not the same"
    >
      Not similar
    </button>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content>
            <h1>Are you sure these two artwork are not similar?</h1>
            <h2>If yes, click on "Confirm" button bellow.</h2>
            <semantic-form
                new-subject-template="{{bindings.0.element.value}}"
                browser-persistance="true"
                persistence='ldp'
                urlqueryparam-providera='[[urlParam "providera"]]'
                urlqueryparam-providerb='[[urlParam "providerb"]]'
                post-action="{{bindings.0.nextElement.value}}"
                form-id="IMReject"
                fields='[[fieldDefinitions
                          not_similar="http://www.researchspace.org/fieldDefinition/Not_Similar"
                        ]]'
              >
            <semantic-form-hidden-input 
            for="not_similar" 
            default-value="true">
            </semantic-form-hidden-input>
              <button
              name="submit"
              class="btn btn-warning action reject confirm-btn"
              title="Two instances are not the same"
            >
            <div class="color-white">Confirm</div>
          </button>
          </semantic-form>
          </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <mp-overlay-dialog title="Confirm two artworks are the same" >
    <mp-overlay-dialog-trigger>
          <button
          id="1234"
          name="submit"
          class="btn btn-default action approve"
          title="Two instances are the same"
        > Same </button>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content>
            <h1>Are you sure the two artworks are the same?</h1>
            <h2>If yes, select a preferred title bellow.</h2>

            <semantic-query
            query='SELECT ?label ?element ?nextElement WHERE {
              ?image <http://purl.org/ontology/similarity/element> <{{bindings.0.element.value}}>.
              ?work <https://artresearch.net/custom/has_image> ?image.
              ?work owl:sameAs ?pharos.
              ?work rdfs:label ?label.
              BIND(<{{bindings.0.element.value}}> as ?element)
              BIND(<{{bindings.0.nextElement.value}}> as ?nextElement)
            }' 
            template='{{> titleTemplate}}'>
              <template id="titleTemplate">
                <div class="forms-in-a-row" >
                {{#each bindings}}
                <semantic-form
                new-subject-template="{{element.value}}"
                browser-persistance="true"
                persistence='ldp'
                urlqueryparam-providera='[[urlParam "providera"]]'
                urlqueryparam-providerb='[[urlParam "providerb"]]'
                post-action='{{nextElement.value}}'
                form-id="IMApprove1"
                fields='[[fieldDefinitions
                          sameAs="http://www.researchspace.org/fieldDefinition/Same"
                          title="http://www.researchspace.org/fieldDefinition/Preferred_title"
                    ]]'
              >
                <semantic-form-hidden-input
                  for="sameAs"
                  default-value="true"
                ></semantic-form-hidden-input>

                <semantic-form-hidden-input
                  for="title"
                  default-value="/{{label.value}}/"
                ></semantic-form-hidden-input>

                <td>
                  <div class="selectionWrapper">
                   <div class="Label-value"> {{label.value}}</div>
                  <button
                  style="
                  font-size: medium;
                  border: none ;
                  text-transform: none;
                  height: 100%;
                  min-height: 4vh;
                  box-shadow: 0px 0px 10px 1px #bebebe;"
                    name="submit"
                    class="btn btn-warning action approve"
                    title="Select Title for the reconciled artwork"
                  >
                  <div class="color-white"> Select: </div>
                </button>
               </div>
                </td>
              </semantic-form>
              {{/each}}
            </div>
            </template>
          </semantic-query>
          </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <semantic-form
    style="border-radius: 5px !important;"
    new-subject-template="{{bindings.0.element.value}}"
    browser-persistance="true"
    persistence='ldp'
    urlqueryparam-providera='[[urlParam "providera"]]'
    urlqueryparam-providerb='[[urlParam "providerb"]]'
    post-action='{{bindings.0.nextElement.value}}'
    form-id="IMSkip"
    fields='[[fieldDefinitions
              skipped="http://www.researchspace.org/fieldDefinition/Skipped"
    ]]'
  >
    <semantic-form-hidden-input for="skipped" default-value="true" ></semantic-form-hidden-input>
        <button style="text-transform: none; background: #a5a5a5 !important;"
                name="submit"
                id="1234"
                class="btn action skip"
                title="Skip this record and review it at a later date">
          <div class="color-white" style="font-weight: bold;"> Skip</div>
        </button>
  </td>
</semantic-form>
</div>

<style>
  #mp-popover{
    left: 1532.09px;

  }

</style>