<semantic-query query='SELECT DISTINCT  ?similarity ?subject1 ?subject1Link ?subject2 ?subject2Link ?providerA ?providerB ?providerLabelA ?providerLabelB ?imageA ?imageB WHERE {
                        ?subject1 <https://similarity.net/custom/matchedBy> ??.
                        ?subject2 <https://similarity.net/custom/matchedBy> ??.
                        ?subject1 skos:closeMatch ?subject2.
                        ?subject1 <https://pharos.artresearch.net/custom/has_image>  ?imageA.
                        ?subject2 <https://pharos.artresearch.net/custom/has_image>  ?imageB.
  											?imageA <http://purl.org/ontology/similarity/element> ?element.
  											?imageB <http://purl.org/ontology/similarity/element> ?element.
                        ?subject1 <https://pharos.artresearch.net/custom/has_provider> ?providerA.
                        ?providerA rdfs:label ?providerLabelA.
                        ?subject2 <https://pharos.artresearch.net/custom/has_provider> ?providerB.
                        ?providerB rdfs:label ?providerLabelB.
                        BIND (?? as ?similarity)
                        BIND (STR(?subject1) as ?subject1Link)
                        BIND (STR(?subject2) as ?subject2Link)
                      } Limit 1'
  template='{{>matchingTemplate}}'>
	<template id="matchingTemplate">
    <div class="instanceMatchingPage">
                     <!-- Photos & similarity information -->
    <div class="pharosFieldViewer">
      [[> rsp:MatchingCanditateImages]]  
    </div>
    <div class="matchContainer">      
      <!-- Matching candidates fields comparison table -->
      <div class="fieldViewer">
         [[> rsp:MatchingCanditateFields]]   
      </div> 
    </div>
    <p></p>
    <p></p>
    
    <div class="sidebar">
		<semantic-query query='SELECT ?subject_1 ?pharos ?similarity ?nextSimilarity WHERE {
                              #SERVICE <https://artresearch.net/sparql> {
                                  ?subject_1 <http://www.w3.org/2004/02/skos/core#closeMatch> ?subject_2.
                                  ?subject_2 <http://www.w3.org/2002/07/owl#sameAs> ?pharos.
                                  ?subject_2 <https://similarity.net/custom/matchedBy> <{{bindings.0.similarity.value}}>. 
                                  BIND(<{{bindings.0.similarity.value}}> AS ?similarity)
                                  ?subject1_next <https://similarity.net/custom/matchedBy> ?nextSimilarity.
                                  ?subject2_next <https://similarity.net/custom/matchedBy> ?nextSimilarity.
                                  ?subject1_next skos:closeMatch ?subject2_next.
                                  ?subject1_next <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?visual_subject1_next.
                                  ?visual_subject1_next <http://www.cidoc-crm.org/cidoc-crm/P128i_is_carried_by> ?photo_subject1_next.
                                  ?photo_subject1_next <http://www.cidoc-crm.org/cidoc-crm/P129i_is_subject_of>  ?image_subject1_next.
                                  ?image_subject1_next <http://purl.org/ontology/similarity/element> ?element.

                                  ?subject2_next <http://www.cidoc-crm.org/cidoc-crm/P138i_is_represented_by> ?visual_subject2_next.
                                  ?visual_subject2_next <http://www.cidoc-crm.org/cidoc-crm/P128i_is_carried_by> ?photo_subject2_next.
                                  ?photo_subject2_next <http://www.cidoc-crm.org/cidoc-crm/P129i_is_subject_of>  ?image_subject2_next.
                                  ?image_subject2_next <http://purl.org/ontology/similarity/element> ?element.
                                	FILTER(STR(?nextSimilarity) != STR(?similarity))
                              #}
                              FILTER NOT EXISTS { ?nextSimilarity <https://similarity.net/custom/reviewedByUser> "true"^^xsd:boolean }
                          }LIMIT 1'
      template='{{>imageInfoTemplate}}'>
     
      <template id="imageInfoTemplate">

        <div class="actions">
          <button class="btn btn-default action optional" title="Two instances are the same">Imitation/Copy of</button>
          <button class="btn btn-default action optional" title="Two instances are the same">Style of</button>
          <button class="btn btn-default action optional" title="Two instances are the same">School of</button>
          <button class="btn btn-default action optional" title="Two instances are the same">Study/Sketch of</button>
          <button class="btn btn-default action optional" title="Two instances are the same">Same negative</button>


            <semantic-form
              new-subject-template='{{bindings.0.similarity.value}}'
              browser-persistance=true
              persistence='ldp'
            post-action='{{bindings.0.nextSimilarity.value}}'
              form-id='IMApprove1'         
              fields='[[fieldDefinitions
                        sameAs="http://www.researchspace.org/fieldDefinition/Same"
                      ]]'>
											<semantic-form-hidden-input 
                        for='sameAs'
                        default-value='true'>
                      </semantic-form-hidden-input>
                      
              <button id="1234" name="submit" class="btn btn-default action approve" title="Two instances are the same">Same</button>
          </semantic-form>
          
          <semantic-form
              new-subject-template='{{bindings.0.similarity.value}}'
              browser-persistance=true    
              persistence='ldp'
              post-action='{{bindings.0.nextSimilarity.value}}'
              form-id='IMReject'         
              fields='[[fieldDefinitions
                        reviewed="http://www.researchspace.org/fieldDefinition/reviewedByUser"
                      ]]'>

              				<semantic-form-hidden-input 
                        for='reviewed'
                        default-value='true'>
                      </semantic-form-hidden-input>
              <button name="submit" class="btn btn-warning action reject" title="Two instances are not the same">Not similar</button>
            </semantic-form>
        </div>
      </template>
     </semantic-query>
      
    </div>
  </template>
</semantic-query>

<style>
  .semantic-form{
		margin:2vh;
  }
  .sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 20%;
    align-items: center;
    height: fit-content;
    right: 2%;
    bottom:5%
  }
  .instanceMatchingPage{
    display:flex;
    width:100%;
    align-items:center;
    flex-direction:column;
  }
  .matchContainer{
    display: flex;
    width: 100%;
    flex-direction:column;
    justify-content: space-evenly
  }
  .matchCandidate{
    width:45vw;
    height:100%;
    display:flex;
    flex-direction:column;
    padding:1vw;
  }
  .imageViewer{
    width:100%;
    height:45vh;
  }
  .fieldViewer{
    margin-top: 2vh;
    position: relative;
    width: 70%;
    left: 5%;
    height: fit-content;
    padding: 1vh 2vw 2vw 2vw;
    border-radius: 4px;
    box-shadow: 1px 6px 14px 3px lightgrey;
  }
.pharosFieldViewer {
    display: flex;
    align-items: center;
    margin-top: 0vh;
    height: 50vh;
    justify-content: center;
    padding: 1vh 2vw 1vw 2vw;
    border-radius: 4px;
    background: #c1c1c161;
    overflow-y: scroll;
    align-self: center;
    margin-bottom: 3vh;
      position: relative;
    left: -10%;
    width: 70%;
}
  
  .pharosFieldViewer button{
 		margin:1vh;
  }
  
  .pharosFieldViewer .simInfo{
    display:flex;
    font-size:medium;
  }
  
  .pharosFieldViewer .titleSimilarity{
    width: 31px;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
    text-overflow: clip;
  }
  
  
  .pharosFieldViewer img{
    width: 100%;
    height: 40vh;
    object-fit: contain;
    margin-top: 1vh;
    cursor:pointer;
  }
  
  .pharosFieldViewer .similarityInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin: 1vw;
  }
  

  
  .rs-page-resource__field-label 
  {
    font-weight: bold;
    font-size: medium;
  }
  
  .rs-page-resource__field-value{
     font-size: medium;
  }


  .actions{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    height: 85vh;
    background: #c1c1c161;
    border-radius: 4px;
    align-items: center;
    width: 30vh;
  }

  .actions .action{
    color:white !important;
    font-size: medium;
    border:none !important;
    min-height:4vh;
    width: 8vw;
    min-width: 150px;
    box-shadow: 0px 0px 10px 1px #bebebe;
  }

  button.btn.btn-default.action.optional {
    background: #00a698;
}

  .actions .action:hover{
    box-shadow: 0px 0px 10px 1px  #383838;
  }

  .approve{
    background-color: #007bff !important;
  }
   .reject{
    background-color: #6c757d !important;
  }

  .sourceIcon {
    border-top-left-radius: 100% !important;
    border-top-right-radius: 100% !important;
    margin-top: 0 !important;
    border: none !important;
    height: 18px !important;
    width: 18px !important;
    padding: 2px !important;
    margin-right: 15px !important;
    border-radius: 100% !important;
    box-shadow: 1px 1px 3px 1px #e7e7e7 !important;
  }
</style>