<semantic-query
query=' SELECT (COUNT(distinct ?g) AS ?count) WHERE {
            GRAPH ?g {
                <http://www.researchspace.org/resource/system/formContainer> <http://www.w3.org/ns/ldp#contains> ?subject. 
                [[#if user]]
                    ?subject <http://www.w3.org/ns/prov#wasAttributedTo> ?__useruri__.
                [[/if]]
                [[#if notsimilar]]
                    ?similarity <https://vision.artresearch.net/custom/similar_artworks> false.
                [[else if similar]]
                    ?similarity  <https://vision.artresearch.net/custom/similar_artworks> true .
                [[else if samenegative]]
                    ?imageA fr:Image_is_negative_of_Image ?imageB.
                [[else if isversion]]
                    ?work fr:Work_is_version_of_Work ?work2 .
                [[else if partof]]
                    ?work crm:P46i_forms_part_of ?work2 .
                [[else if study]]
                    ?work fr:Work_is_study_or_sketch_of_Work ?work2 .
                [[else if imitation]]                      
                    ?work  fr:Work_is_imitation_or_copy_of_Work ?work2 .
                [[else if skipped]]
                    ?similarity <https://vision.artresearch.net/custom/skipped> true
                [[else if reviewed]]
                    ?similarity <https://vision.artresearch.net/custom/reviewed> true.
                    ?similarity <https://vision.artresearch.net/custom/same_artworks> true.
                [[/if]]
            }
        }LIMIT 1000'
no-result-template="0"
>
</semantic-query>