<div id="similarity-list-template">
  [[#if (hasPermission "api:ldp:container:*:create")]]
    <div class="platformDashboardButton">
        <mp-link  title="All matches" url="Default:AllDashboard" >
                <div class="textdash">Platform Dashboard</div>
        </mp-link>
     </div>
  [[/if]]
  <div id="search-results">  
    <div class="jumbotron">
      <h1 style="margin-left: 2vw" class="display-4">
       Your dashboard</h1>
      <p style="margin-left: 2vw" class="lead">
        Here you can view, delete & revert matchings
      </p>
    </div>
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="reviewed">
  <div>
    <bs-nav bs-style='tabs'>
      <bs-nav-item event-key='reviewed'><div style="display: flex;">Reconciled(
        [[> DashboardStatReviewed]]
        )</div>
      </bs-nav-item>
      <bs-nav-item event-key='marked'>
        <div style="display: flex;">Skipped for Later Review(
          [[> DashboardStatMarked]]
          )</div>
      </bs-nav-item>
      <bs-nav-item event-key='Imitationmarked'>
        <div style="display: flex;">Marked as "Imitation/Copy of"(
          [[> DashboardStatImitation]]
          )</div>
      </bs-nav-item>
       <bs-nav-item event-key='Studymarked'>
        <div style="display: flex;">Marked as "Study/Sketch of" (
          [[> DashboardStatStudy]]
          )</div>
      </bs-nav-item>
      <bs-nav-item event-key='IsPartOf'>
        <div style="display: flex;">Marked as "Is Part of" (
          [[> DashboardStatIsPartOf]]
          )</div>
      </bs-nav-item>
      <bs-nav-item event-key='IsVersion'>
        <div style="display: flex;">Marked as "Is Version" (
          [[> DashboardStatIsVersion]]
          )</div>
      </bs-nav-item>
      <bs-nav-item event-key='Negmarked'>
        <div style="display: flex;">Marked as "Same Negative"(
          [[> DashboardStatSameNeg]]
          )</div>
      </bs-nav-item>
       <bs-nav-item event-key='Similarmarked'>
        <div style="display: flex;">Marked as "Similar"(
          [[> DashboardStatSimilar]]
          )</div>
      </bs-nav-item>
      <bs-nav-item event-key='NotSimilarmarked'>
        <div style="display: flex;">Marked as "Not Similar"(
          [[> DashboardStatNotSimilar]]
          )</div>
      </bs-nav-item>
      <bs-nav-item event-key='forreview'><div style="display: flex;">For Review(
        [[> DashboardStatForReview]]
        )</div>
      </bs-nav-item>


    </bs-nav>
    <bs-tab-content unmount-on-exit=true>
      <div>
      <bs-tab-pane event-key='reviewed'>
        [[> DashboardListReviewed user='true']]
      </bs-tab-pane>
      <bs-tab-pane event-key='marked'>
        [[> DashboardListMarked user='true']]
      </bs-tab-pane>
        <bs-tab-pane event-key='Imitationmarked'>
        [[> DashboardListImitation user='true']]
      </bs-tab-pane>
       <bs-tab-pane event-key='Studymarked'>
        [[> DashboardListStudy user='true']]
      </bs-tab-pane>
       <bs-tab-pane event-key='IsPartOf'>
        [[> DashboardListIsPartOf user='true']]
      </bs-tab-pane>
       <bs-tab-pane event-key='IsVersion'>
        [[> DashboardListIsVersion user='true']]
      </bs-tab-pane>
      <bs-tab-pane event-key='Negmarked'>
        [[> DashboardListSameNeg user='true']]
      </bs-tab-pane>
       <bs-tab-pane event-key='Similarmarked'>
        [[> DashboardListSimilar user='true']]
      </bs-tab-pane>
       <bs-tab-pane event-key='NotSimilarmarked'>
        [[> DashboardListNotSimilar user='true']]
      </bs-tab-pane>
      <bs-tab-pane event-key='forreview'>
        [[> DashboardListForReview user='true']]
      </bs-tab-pane>

    </div>
    </bs-tab-content>
  </div>
  </bs-tab-container>
  </div>
  </div>
  <style>
.nav.nav-tabs{
  font-size:smaller !important;
}
</style>