<!-- Only creates row if data are found-->
{{#if bindings.0.withData.value}}
<tr class="rs-page-resource__field">
  <!-- Field name -->
  <td class="rs-page-resource__field-label-holder">
    <span class="rs-page-resource__field-label">
      {{bindings.0.fieldName.value}}
    </span>
  </td>
  <!-- Field values -->
  {{#each bindings}} 
    {{#ifCond labelA.value.length "!==" 0}}
      <td>
        <span class="rs-page-resource__field-value">{{labelA.value}}</span> 
      </td>
      {{#ifCond labelB.value.length "===" 0}}
        <td>
          <span class="rs-page-resource__field-value">-</span>
        </td>
      {{/ifCond}}
    {{/ifCond}}
    {{#ifCond labelB.value.length "!==" 0}}
    {{#ifCond labelA.value.length "===" 0}}
    <td>
      <span class="rs-page-resource__field-value">-</span>
    </td>
    {{/ifCond}}
    <td>
      <span class="rs-page-resource__field-value">{{labelB.value}}</span> 
    </td>
    {{/ifCond}}
    
    <td>
      <!-- ULAN ARTISTS -->

      {{#ifCond ulanArtist_a.value "&&" ulanArtist_b.value}}  
        <!-- Both are ULAN ?? -->
      {{else}}
       {{#if ulanArtist_a.value}}
        <!-- First is ULAN -->
          <mp-overlay-dialog type=lightbox title="Match artists">
            <mp-overlay-dialog-trigger
              placement="bottom"
              trigger='["hover","focus"]'
            >
              <div id="simple-search-include">
                Match artists
              </div>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content style="background: white">
              <div>
                [[> :MatchArtists artistA="{{value_b.value}}" providerB="true" match="{{ulanArtist_a.value}}"]]
              </div>
            </mp-overlay-dialog-content>
          </mp-overlay-dialog>
        {{else}}
         {{#if ulanArtist_b.value}}
        <!-- Second is ULAN -->
         <mp-overlay-dialog type=lightbox title="Match artists">
          <mp-overlay-dialog-trigger
            placement="bottom"
            trigger='["hover","focus"]'
          >
            <div id="simple-search-include">
              Match artists
            </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content style="background: white">
            <div>
              [[> :MatchArtists artistA="{{value.value}}"  providerA="true" match="{{ulanArtist_b.value}}"]]
            </div>
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
         {{/if}}
       {{/if}}
      {{/ifCond}}  



      <!-- WIKIDATA REPOSITORIES -->
      
      {{#ifCond wikiRepo_a.value "&&" wikiRepo_b.value}}  
      <!-- Both are WIKI?? -->
    {{else}}
     {{#if wikiRepo_a.value}}
      <!-- First is WIKI-->`
        <mp-overlay-dialog type=lightbox title="Match Repositories">
          <mp-overlay-dialog-trigger
            placement="bottom"
            trigger='["hover","focus"]'
          >
            <div id="simple-search-include">
              Match Repositories
            </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content style="background: white">
            <div>
              [[> :MatchRepositories repositoryA="{{actor_b.value}}" providerB="true" match="{{wikiRepo_a.value}}"]]
            </div>
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
      {{else}}
       {{#if wikiRepo_b.value}}
      <!-- Second is WIKI-->
       <mp-overlay-dialog type=lightbox title="Match Repositories">
        <mp-overlay-dialog-trigger
          placement="bottom"
          trigger='["hover","focus"]'
        >
          <div id="simple-search-include">
            Match Repositories
          </div>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content style="background: white">
          <div>
            [[> :MatchRepositories repositoryA="{{actor_a.value}}"  providerA="true" match="{{wikiRepo_b.value}}"]]
          </div>
        </mp-overlay-dialog-content>
      </mp-overlay-dialog>
       {{/if}}
     {{/if}}
    {{/ifCond}}  
      
    </td>
  {{/each}}
  </tr>
{{/if}}