<!-- Only creates row if data are found-->
<tr class="rs-page-resource__field title-row-select">
  <!-- Field name -->
  <td class="rs-page-resource__field-label-holder">
    <span class="rs-page-resource__field-label">
      {{bindings.0.fieldName.value}}
    </span>
  </td>
  <div class ="Wrapper-box">
  <td class="box-labelA">
    <div style="
      display: flex;
      flex-direction: column;
      gap: 8px;
    ">
    {{#each bindings}} 

      {{#if withDataA}}
        <div class="actions title-actions myaction">
         
         <div class="mp-overlay-dialog-Wrapper">
          <mp-overlay-dialog title="Confirm two artworks are the same">
            <mp-overlay-dialog-trigger>
              <button class="action approve select-title-button ">Select</button>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content>
              <h1>Are you sure the two artworks are the same?</h1>
              <h2>If yes, click on "Confirm" button bellow.</h2>
              <h2>You have selected {{labelA.value}} as the preferred title</h2>

              <semantic-form
                new-subject-template="{{element.value}}"
                browser-persistance="true"
                persistence="ldp"
                urlqueryparam-providera='[[urlParam "providera"]]'
                urlqueryparam-providerb='[[urlParam "providerb"]]'
                post-action="{{nextElement.value}}"
                form-id="IMApprove1"
                fields='[[fieldDefinitions
                      sameAs="http://www.researchspace.org/fieldDefinition/Same"
                      title="http://www.researchspace.org/fieldDefinition/Preferred_title"
                      ]]'
              >
                <semantic-form-hidden-input
                  for="sameAs"
                  default-value="true"
                ></semantic-form-hidden-input>
                <semantic-form-hidden-input
                  for="title"
                  default-value="{{labelA.value}}"
                ></semantic-form-hidden-input>

                <button
                  id="1234"
                  style="
                    font-size: medium;
                    border: none;
                    min-height: 4vh;
                    width: 8vw;
                    color: white;
                    min-width: 150px;
                    box-shadow: 0px 0px 10px 1px #bebebe;
                  "
                  name="submit"
                  class="btn btn-default action approve"
                  title="Two instances are similar"
                >
                  <div class="color-white">Confirm</div>
                </button>
              </semantic-form>
            </mp-overlay-dialog-content>
          </mp-overlay-dialog>
          </div>
          <div class="selected-title">{{labelA.value}}</div>
        </div>
      {{/if}} 
    {{/each}}
    </div>
  </td>    
  <td class="box-labelB">
    <div style="
      width: 0px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    ">
    {{#each bindings}}
    {{#if withDataB}}
        <div class="actions title-actions myaction">
          <div class="mp-overlay-dialog-Wrapper">
          <mp-overlay-dialog title="Confirm two artworks are the same">
            <mp-overlay-dialog-trigger>
              <button class="action approve select-title-button">Select</button>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content>
              <h1>Are you sure the two artworks are the same?</h1>
              <h2>If yes, click on "Confirm" button bellow.</h2>
              <h2>You have selected {{labelB.value}} as the preferred title</h2>

              <semantic-form
                new-subject-template="{{element.value}}"
                browser-persistance="true"
                persistence="ldp"
                urlqueryparam-providera='[[urlParam "providera"]]'
                urlqueryparam-providerb='[[urlParam "providerb"]]'
                post-action="{{nextElement.value}}"
                form-id="IMApprove1"
                fields='[[fieldDefinitions
                      sameAs="http://www.researchspace.org/fieldDefinition/Same"
                      title="http://www.researchspace.org/fieldDefinition/Preferred_title"
                      ]]'
              >
                <semantic-form-hidden-input
                  for="sameAs"
                  default-value="true"
                ></semantic-form-hidden-input>
                <semantic-form-hidden-input
                  for="title"
                  default-value="{{labelB.value}}"
                ></semantic-form-hidden-input>

                <button
                  id="1234"
                  style="
                    font-size: medium;
                    border: none;
                    min-height: 4vh;
                    width: 8vw;
                    color: white;
                    min-width: 150px;
                    box-shadow: 0px 0px 10px 1px #bebebe;
                  "
                  name="submit"
                  class="btn btn-default action approve"
                  title="Two instances are similar"
                >
                  <div class="color-white">Confirm</div>
                </button>
              </semantic-form>
            </mp-overlay-dialog-content>
          </mp-overlay-dialog>
          </div>
          <div class="selected-title">{{labelB.value}}</div>
        </div>
      {{/if}}  
    {{/each}}
    </div>
  </td>
  </div>
</tr>

<style>
  .select-title-button{
        min-width: unset !important;
        margin: 10px;
  }
  .selected-title{
    font-weight: bold;
    width: 100% !important;
    padding-left: 10px;
  }
  .myaction{
    display: flex !important;
    flex-wrap: wrap;
  }
  .mp-overlay-dialog-Wrapper{
    width: 100%;
  }

  /* .title-row-select{
    display: -webkit-inline-box !important;
  } */

  .Wrapper-box{
    display: flex;
  }
  .box-labelA {
    vertical-align:unset !important;
    display: flex;
  }
  .box-labelB{
    vertical-align:unset !important;
    display: flex;
  }

</style>
