<div id="start-page">
  [[> photoTiles]]
  <div class="mainContent">
    <div id="photoSearch" data-flex-layout="column center-center">
      <div class="logoLarge"><div class="logo-title"><div class="logo-title-super">visual</div> search for  the</div>
        <i> Pharos Image Collections </i>
           </div>
      <div style="margin-top: 10vh">[[> Searchbar]]</div>
      <div class="image-uploader-section">
        <upload-image></upload-image>
      </div>
    </div>
  <section class="feature-section" title="featured matched artworks">
  <h1>Featured matched artworks</h1>
  <div id="featured-selections">
    <semantic-link iri="https://vision.artresearch.net/resource/Similarity/35545767782677875982682646">
      <div id="zeri-itatti" class="flip-card-feature">
        <div class="content">
          <div class="front">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.artresearch.net/iiif/2/zeri!71200%2170925_g.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">Nascita di Maria Vergine</div>
              <small>Zeri</small>
            </div>
          </div>
          <div class="back">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://ids.lib.harvard.edu/ids/iiif/42662040/full/!500,500/0/native.jpg"
              />
              <div class="title">Birth of the Virgin</div>
              <small>I Tatti</small>
            </div>
          </div>
        </div>
      </div>
    </semantic-link>
    <semantic-link iri="https://vision.artresearch.net/resource/Similarity/85751267611980884191006045138">
      <div id="hertziana-itatti" class="flip-card-feature">
        <div class="content">
          <div class="front">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="http://fotothek.biblhertz.it/bh/320px/bh002968.jpg"
              />
              <div class="title">Profilbildnis einer jungen Frau</div>
              <small>Hertziana</small>
            </div>
          </div>
          <div class="back">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.itatti.harvard.edu/iiif/2/fotoindex!028_recto_d!028_recto_box01_d!028_recto_box01_d_00022.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">W00012940</div>
              <small>I Tatti</small>
            </div>
          </div>
        </div>
      </div>
    </semantic-link>

    <semantic-link iri="https://vision.artresearch.net/resource/Similarity/6895545511920936845294872">
      <div id="khi-hertziana" class="flip-card-feature">
        <div class="content">
          <div class="front">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.khi.fi.it/iiif/2/thumbnails%2Ffld0006864x_p.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">	Maria mit dem Christuskind</div>
              <small>KHI</small>
            </div>
          </div>
          <div class="back">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="http://fotothek.biblhertz.it/bh/320px/bh355316.jpg"
              />
              <div class="title">Madonna Colonna</div>
              <small>Marburg</small>
            </div>
          </div>
        </div>
      </div>
    </semantic-link>
    <semantic-link iri="https://vision.artresearch.net/resource/Similarity/1464636217048902274786897">
      <div id="itatti-zeri" class="flip-card-feature">
        <div class="content">
          <div class="front">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://ids.lib.harvard.edu/ids/iiif/474707461/full/!500,500/0/native.jpg"
              />
              <div class="title">Portrait of a youth</div>
              <small>I Tatti</small>
            </div>
          </div>
          <div class="back">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.artresearch.net/iiif/2/zeri!74000%2173954_g.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">Ritratto maschile</div>
              <small>Zeri</small>
            </div>
          </div>
        </div>
      </div>
    </semantic-link>
    <semantic-link iri="https://vision.artresearch.net/resource/Similarity/8629648561661113822347745901">
      <div id="marburg-itatti" class="flip-card-feature">
        <div class="content">
          <div class="front">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.artresearch.net/iiif/2/marburg!mi07407f01.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">	Bildnis einer Dame</div>
              <small>Marburg</small>
            </div>
          </div>
          <div class="back">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.itatti.harvard.edu/iiif/2/fotoindex!105_recto_d!105_recto_box04_d!105_recto_box04_d_00119.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">W00026410</div>
              <small>I Tatti</small>
            </div>
          </div>
        </div>
      </div>
    </semantic-link>
    <semantic-link iri="https://vision.artresearch.net/resource/Similarity/41017735062430712915292637959">
      <div id="itatti-zeri-2" class="flip-card-feature">
        <div class="content">
          <div class="front">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://ids.lib.harvard.edu/ids/iiif/25091201/full/!500,500/0/native.jpg"
              />
              <div class="title">Portrait of a gentleman</div>
              <small>I Tatti</small>
            </div>
          </div>
          <div class="back">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.artresearch.net/iiif/2/zeri!85200%2184998_g.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">Ritratto di gentiluomo</div>
              <small>Zeri</small>
            </div>
          </div>
        </div>
      </div>
    </semantic-link>
    <semantic-link iri="https://vision.artresearch.net/resource/Similarity/6461928343777462435063">
      <div id="marburg-zeri" class="flip-card-feature">
        <div class="content">
          <div class="front">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.artresearch.net/iiif/2/marburg!mi02293b08.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">Paris</div>
              <small>Marburg</small>
            </div>
          </div>
          <div class="back">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.artresearch.net/iiif/2/zeri!150800%21150760_g.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">Paride</div>
              <small>Zeri</small>
            </div>
          </div>
        </div>
      </div>
    </semantic-link>
    <semantic-link iri="https://vision.artresearch.net/resource/Similarity/811720158214822544272120">
      <div id="hertziana-itatti" class="flip-card-feature">
        <div class="content">
          <div class="front">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="http://fotothek.biblhertz.it/bh/320px/bhfc152e24.jpg"
              />
              <div class="title">Porträt des Kardinals Radzielowski</div>
              <small>Hertziana</small>
            </div>
          </div>
          <div class="back">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.artresearch.net/iiif/2/marburg!mi10015g09.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">Bildnis des Kardinal-Erzbischofs von..</div>
              <small>Marburg</small>
            </div>
          </div>
        </div>
      </div>
    </semantic-link>
    <semantic-link iri="https://vision.artresearch.net/resource/Similarity/38912142686404744152404428041">
      <div id="zeri-mar" class="flip-card-feature">
        <div class="content">
          <div class="front">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.artresearch.net/iiif/2/zeri!127200%21127189_g.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">Scena pastorale</div>
              <small>Zeri</small>
            </div>
          </div>
          <div class="back">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.artresearch.net/iiif/2/marburg!fmc660037.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">Ländlicher Spaziergang / Strandidylle</div>
              <small>Marburg</small>
            </div>
          </div>
        </div>
      </div>
    </semantic-link>
    <semantic-link iri="https://vision.artresearch.net/resource/Similarity/16602138696205028208464330">
      <div id="khi-marburg" class="flip-card-feature">
        <div class="content">
          <div class="front">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.khi.fi.it/iiif/2/thumbnails%2Fflc0584693z_p.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">Tod des heiligen Franziskus</div>
              <small>KHI</small>
            </div>
          </div>
          <div class="back">
            <div
              style="
                display: flex;
                flex-direction: column;
                background: white;
                height: 75%;
              "
            >
              <img
                src="https://iiif.artresearch.net/iiif/2/zeri!12400%2112030_g.jpg/full/!500,500/0/default.jpg"
              />
              <div class="title">	Morte e verifica delle stimmate di san..</div>
              <small>Zeri</small>
            </div>
          </div>
        </div>
      </div>
    </semantic-link>
  </div>
  </section>
</div>
</div>
<style>
  #featured-selections {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .flip-card-feature {
    cursor: pointer;
    width: 250px;
    height: 250px;
    perspective: 500px;
    margin-right: 2vw;
    margin-bottom: 2vh;
  }

  .flip-card-feature .content {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .flip-card-feature:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }
  .flip-card-feature img {
    height: 100% !important;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
  }
  .flip-card-feature .front,
  .back {
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;
  }

  .flip-card-feature .back {
    position: absolute;
    top: 0;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-feature .title {
    background: white;
    padding: 1vh;
  }

  @media(max-width:800px){
    #featured-selections {
    justify-content: center;
}
  }
</style>
