<!-- Two basic info for similariy (Photo & Text similarity scores)  -->
<div class="similarityInfo">
  <semantic-query
                  query='SELECT DISTINCT ?value WHERE {
                            <[[element]]> <http://purl.org/ontology/similarity/method> ?asso_method.
                            ?asso_method <http://purl.org/ontology/similarity/weight> ?value.
                            ?asso_method <http://purl.org/ontology/similarity/method> <https://vision.artresearch.net/resource/Similarity/AssociationMethod/Pastec>.
                         }'
                  template='{{> photoSimInfo}}'>
    <template id="photoSimInfo">
      <h4>Photo Similarity</h4>
      <h4>Pastec:<b class="simInfo">{{bindings.0.value.value}}</b></h4>
    </template>                     
  </semantic-query>
</div>
<div class="similarityInfo">
  <semantic-query
                  query='SELECT DISTINCT ?value WHERE {
                            <[[element]]> <http://purl.org/ontology/similarity/method> ?asso_method.
                            ?asso_method <http://purl.org/ontology/similarity/weight> ?value.
                            ?asso_method <http://purl.org/ontology/similarity/method> <https://vision.artresearch.net/resource/Similarity/AssociationMethod/Match>.
                         }'
                  template='{{> photoSimInfo}}'>
    <template id="photoSimInfo">
      <h4>Photo Similarity</h4>
      <h4>Pastec: <b class="simInfo">{{bindings.0.value.value}}</b></h4>
    </template>                     
  </semantic-query>
</div>
<div class="similarityInfo">
  <semantic-query
                  query=' SELECT DISTINCT ?value WHERE {
                            ?subject1  <https://pharos.artresearch.net/custom/has_image> ?imageA.
                            ?subject2  <https://pharos.artresearch.net/custom/has_image> ?imageB.
                            ?imageA <http://purl.org/ontology/similarity/element> <[[element]]>.
                            ?imageB <http://purl.org/ontology/similarity/element> <[[element]]>.
                            ?subject1 <https://similarity.net/custom/matchedBy> ?similarity.
                            ?subject2 <https://similarity.net/custom/matchedBy> ?similarity.
                            ?similarity <https://similarity.net/custom/hasConfidence> ?value.
                          }'
                  template='{{> titleSimInfo}}'
                  >
    <template id="titleSimInfo">
                  <h4>Title Text Similarity</h4>
      <div class="simInfo">
        <div class="titleSimilarity"> 
          {{bindings.0.value.value}}
        </div>
        <div> /1</div>
      </div>
    </template>                   
  </semantic-query>
</div>
