<div id="matchingSelector" class="selectorContainer">
  <div class="rs-page__summary-image summaryImages summary-image-with-thumbs">
    <mp-event-target-template-render
      id="provider-image"
      template="{{> providerImage}}"
    >
      <template id="providerImage">
        <div class="selectionResult">
          <mp-event-target-template-render
            id="provider-image-b"
            template="{{> providerImage}}"
          >
            <template id="providerImage">
              <div class="logoContainer">
                <img src=" {{providerImageA}}" />
              </div>
              <div class="submitContainer">
                {{#ifCond providerA "&&" providerB}}
                <semantic-link
                  iri="rsp:DisplaySimilarities"
                  urlqueryparam-providera="{{providerA}}"
                  urlqueryparam-providerb="{{providerB}}"
                >
                  <button class="btn">View matchings list</button>
                </semantic-link>
                {{else}} 
                <button disabled title="Please select a set of providers" class="btn">View matchings list</button>
                {{/ifCond}}
              </div>
              <div class="logoContainer">
                <img src=" {{providerImageB}}" />
              </div>
            </template>
          </mp-event-target-template-render>
        </div>
      </template>
    </mp-event-target-template-render>
    <div class="providerListContainer">
      <mp-event-target-template-render
        id="provider-selector"
        template="{{> providerSelectTemplate}}"
      >
        <template id="providerSelectTemplate">
          {{#ifCond providerA "===" undefined}}
          <h1 class="providerSelectHelper">Select left-side provider</h1>
          [[> rsp:matchingSelectorList selected="{{selected}}"
          providerSelector="providerA" providerImageSelector="providerImageA"
          additionals='"additional":"none"']] {{else}} {{#ifCond providerB "==="
          undefined}}
          <h1 class="providerSelectHelper">Select right-side provider</h1>
          [[> rsp:matchingSelectorList selected="{{selected}}"
          providerSelector="providerB" providerImageSelector="providerImageB"
          additionals='"providerA":"{{providerA}}","providerImageA":"{{providerImageA}}"']]
          {{else}}
          <h1 class="providerSelectHelper">
            Click on "View matchings list" to proceed or select a different set
            of providers
          </h1>
          [[> rsp:matchingSelectorList selected="{{selected}}"
          providerSelector="providerA" providerImageSelector="providerImageA"
          additionals='"additional":"none"']] {{/ifCond}} {{/ifCond}}
        </template>
      </mp-event-target-template-render>
    </div>
  </div>
</div>

<style>
  .submitContainer {
    background: #f1f1f1;
    height: 2px;
    width: 30%;
    justify-content: center;
    display: flex;
    align-self: center;
  }
  .submitContainer button {
    background: #007bff !important;
    border-radius: 4px !important;
    outline: none !important;
    border: none !important;
    position: relative;
    bottom: 17px;
    min-height: 40px;
    opacity: 1;
    color: white !important;
  }

  .logoContainer {
    width: 20vw;
    background-color: #f1f1f1;
    justify-content: center;
    height: 30vh;
    display: flex;
    margin-bottom: 2vh;
    align-items: center;
  }
  .logoContainer img {
    width: 80%;
    max-height: 100%;
  }

  .selectionResult {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
