<div  id="similarity-list-template">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 2vw" class="display-4">
        <semantic-link iri="Default:matchings">
          <div class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back
          </div>
        </semantic-link>
        Artwork matchings for <img style="
        height: 80px;
        margin-left: 30px;
    " src='/assets/images/logos/[[urlParam "partnerimage"]]'/></h1>
      <p style="margin-left: 2vw" class="lead">
        Bellow you can browse matching suggestions between institution artworks.
        Click the cards to review matchings.
        
      </p>

        [[> :StatisticTotal]]

      </div>
        <semantic-query  
        query='SELECT ?partnerUri ?relationUri ?partnerLabel WHERE{
            VALUES(?partnerUri ?relationUri)
            {
             (<https://pharos.artresearch.net/resource/frick/source/Frick> <https://pharos.artresearch.net/custom/numOfNonmatchedFrick>)
             (<https://pharos.artresearch.net/resource/hertziana/source/Hertziana> <https://pharos.artresearch.net/custom/numOfNonmatchedHertziana>)
             (<https://pharos.artresearch.net/resource/itatti/source/ITatti> <https://pharos.artresearch.net/custom/numOfNonmatchedItatti>)
             (<https://pharos.artresearch.net/resource/khi/source/KHI>  <https://pharos.artresearch.net/custom/numOfNonmatchedKHI>)
             (<https://pharos.artresearch.net/resource/marburg/source/Marburg> <https://pharos.artresearch.net/custom/numOfNonmatchedMarburg>)
             (<https://pharos.artresearch.net/resource/zeri/source/Zeri> <https://pharos.artresearch.net/custom/numOfNonmatchedZeri>)
            }

            ?partnerUri rdfs:label ?partnerLabel.
            FILTER(?partnerUri != <[[urlParam "partner"]]>)
        }ORDER BY (?partnerLabel)'
        template="{{> partnerTabs}}">

          <template id="partnerTabs">
            <bs-tab-container id="tab-container" class="page__body-navtabs--borderless visible" default-active-key="0">
              <div>
            <bs-nav bs-style="tabs">
          
              {{#each bindings}}
             
              <bs-nav-item event-key="{{@index}}"><div style="display:flex;">{{partnerLabel.value}}
                (
                  <semantic-query query='
                  SELECT ?count WHERE{
                    ?statistics <https://pharos.artresearch.net/custom/latest> true.
                    ?statistics <https://pharos.artresearch.net/custom/consists_of> ?graph.
                    GRAPH ?graph {
                      <[[urlParam "partner"]]> <{{relationUri.value}}> ?count.
                    }  
                  }'
                 template="{{> countTemplate}}"
                 >
                <template id="countTemplate">
                      {{bindings.0.count.value}}
                </template>
                 </semantic-query>)
                </div>
               </bs-nav-item>
           
               {{/each}}
            </bs-nav>
    
            <bs-tab-content unmount-on-exit=true>
              {{#each bindings}}
              
              {{#ifCond bindings.0.count.value "!==" "0"}}
              <bs-tab-pane event-key="{{@index}}">
                [[> :PartnerCategorySelectSearch targetProviderLabel="{{partnerLabel.value}}"]]
              </bs-tab-pane>
              {{/ifCond}}
              {{/each}}
            </bs-tab-content>
          </div>
        </bs-tab-container>
          </template>
        </semantic-query>
        


  </div>


  <br />
  <br />
  <br />
  <br />
</div>
<style>
  .matchingImage {
    height: 18vh !important;
    margin: 0vw !important;
  }
</style>
