<semantic-form new-subject-template='http://vision.artresearch.net/id/uploaded_image'
post-action='none'
browser-persistence=true
form-id='example-6'
fields='[
  {
    "id": "file",
    "label": "File",
    "description": "The attached file",
    "xsdDatatype": "xsd:anyURI",
    "selectPattern": "SELECT $value WHERE { $subject <http://vision.artresearch.net/hasAttachedFile> $value }",
    "insertPattern": "INSERT { $subject <http://vision.artresearch.net/hasAttachedFile> $value } WHERE {}",
    "deletePattern": "DELETE { $subject <http://vision.artresearch.net/hasAttachedFile> $value } WHERE {}"
  }
]'>
<bs-panel>
  <semantic-form-file-input
      for='file'
      context-uri='http://vision.artresearch.net'
      storage='default'
      temp-storage='runtime'
  ></semantic-form-file-input>
</bs-panel>
</semantic-form>