<div class="stats">
<semantic-query
  query='SELECT (COUNT( ?sub ) as ?matched)  ?partnerLabel (COUNT(?subnm) as ?unmatched) ((?matched+?unmatched) as ?total) WHERE {
    <[[partnerUri]]> rdfs:label ?partnerLabel
 
      {
    ?sub <https://pharos.artresearch.net/custom/has_provider> <[[partnerUri]]>.
    ?sub a <https://pharos.artresearch.net/resource/custom/fc/artist>.
    ?sub  <https://vocab.artresearch.net/custom/confirmed> true .

    FILTER NOT EXISTS { ?sub a <https://pharos.artresearch.net/resource/custom/fc/institution>} 
    FILTER NOT EXISTS { ?sub a <https://pharos.artresearch.net/resource/custom/fc/photographer>} 
      }UNION{
     ?subnm <https://pharos.artresearch.net/custom/has_provider> <[[partnerUri]]>.
     ?subnm a <https://pharos.artresearch.net/resource/custom/fc/artist>.
   
   FILTER NOT EXISTS { ?subnm  <https://vocab.artresearch.net/custom/confirmed> true } 
   FILTER NOT EXISTS { ?subnm a <https://pharos.artresearch.net/resource/custom/fc/institution>} 
   FILTER NOT EXISTS { ?subnm a <https://pharos.artresearch.net/resource/custom/fc/photographer>} 
      }
   

} GROUP BY ?partnerLabel'
  template='{{> statsTotal }}'>
  <template id="statsTotal">


               Artists reconciled
           <br/>
           {{bindings.0.matched.value}} / {{bindings.0.total.value}} 
           <semantic-chart
          type = 'bar'
          query='
          SELECT ?matched ?unmatched WHERE{
            BIND(  {{bindings.0.matched.value}} AS ?matched) 
            BIND(  {{bindings.0.unmatched.value}} AS ?unmatched)
          }LIMIT 1'
        sets='[
          {"dataSetName": "Matched", "category": "matched", "value": "matched"},
          {"dataSetName": "Unmatched", "category": "matched", "value": "unmatched"}
        ]'
        styles='[{
          
          "provider": "chartjs",
          "style": {
            "options": {
              "scales": {
                "xAxes": [{
                  "stacked": true
                }],
                "yAxes": [{
                  "stacked": true
                }]
              }
            },
            "data": {
              "datasets": [
                {
                  "backgroundColor": "rgba(2, 184, 2, 0.7)",
                  "pointBackgroundColor": "rgb(2, 184, 2)",
                  "pointHoverBackgroundColor": "rgb(2, 184, 2)",
                  "borderColor": "rgb(2, 184, 2)",
                  "pointBorderColor": "#fff",
                  "pointHoverBorderColor": "rgb(2, 184, 2)"
                },
                { "backgroundColor": "rgba(189, 189, 189, 0.7)",
                  "pointBackgroundColor": "rgb(189, 189, 189)",
                  "pointHoverBackgroundColor": "rgb(189, 189, 189)",
                  "borderColor": "rgb(189, 189, 189)",
                  "pointBorderColor": "#fff",
                  "pointHoverBorderColor": "rgb(189, 189, 189)"
                }
              ]
            }
          }
        }]'>
            </semantic-chart>  
       

          </template>
        </semantic-query>

</div>
