<div  id="similarity-list-template">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 2vw" class="display-4">
        <semantic-link iri="Default:matchings">
          <div class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back
          </div>
        </semantic-link>
        Artwork matchings for <img style="
        height: 80px;
        margin-left: 30px;
    " src='/assets/images/logos/[[urlParam "partnerimage"]]'/></h1>
      <p style="margin-left: 2vw" class="lead">
        Bellow you can browse matching suggestions between institution artworks.
        Click the cards to review matchings.
        
      </p>


      <div class="reconciled-stat">
        <semantic-query
        query='
         SELECT ?matched WHERE{
              SELECT  (COUNT (DISTINCT CONCAT(STR(?subjectMatched1),STR(?subjectMatched2))) AS ?matched) WHERE{
                ?imageMatched1 <http://purl.org/ontology/similarity/element> ?elementMatched.
                ?imageMatched2 <http://purl.org/ontology/similarity/element> ?elementMatched.
                ?subjectMatched1 <https://pharos.artresearch.net/custom/has_image> ?imageMatched1.
                ?subjectMatched2 <https://pharos.artresearch.net/custom/has_image> ?imageMatched2.
                ?subjectMatched1 <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "partner"]]>.
                ?subjectMatched2 <https://pharos.artresearch.net/custom/has_provider> ?providerMatched2.
                FILTER(<[[urlParam "partner"]]> != ?providerMatched2)
                FILTER EXISTS { ?elementMatched <https://vision.artresearch.net/custom/reviewed> "true"^^xsd:boolean }
              }
          }LIMIT 1
        '
        template="{{>statUnmatched}}"
        >
          <template id="statUnmatched">
            <semantic-query query='
            SELECT 
            (COUNT (DISTINCT CONCAT(STR(?subjectUnmatched1),STR(?subjectUnmatched2))) + {{bindings.0.matched.value}} as ?total) 
            ({{bindings.0.matched.value}} as ?matched) 
            (COUNT (DISTINCT CONCAT(STR(?subjectUnmatched1),STR(?subjectUnmatched2))) AS ?unmatched) WHERE{
                ?imageUnmatched1 <http://purl.org/ontology/similarity/element> ?elementUnmatched.
                ?imageUnmatched2 <http://purl.org/ontology/similarity/element> ?elementUnmatched.
                ?subjectUnmatched1 <https://pharos.artresearch.net/custom/has_image> ?imageUnmatched1.
                ?subjectUnmatched2 <https://pharos.artresearch.net/custom/has_image> ?imageUnmatched2.
                ?subjectUnmatched1 <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "partner"]]>.
                ?subjectUnmatched2 <https://pharos.artresearch.net/custom/has_provider> ?providerUnmatched2.
                FILTER(<[[urlParam "partner"]]> != ?providerUnmatched2)
                FILTER NOT EXISTS { ?elementUnmatched <https://vision.artresearch.net/custom/reviewed> "true"^^xsd:boolean }
            }LIMIT 1
            '
            template="{{>statMatched}}"
            >
                <template id="statMatched">
                 {{#each bindings}}
                 Artworks reconciled
                 <br/>
                 {{matched.value}} / {{total.value}} 
                 <semantic-chart
                type = 'bar'
                query='
                SELECT ?matched ?unmatched WHERE{
                  BIND(  {{matched.value}} as ?matched)
                  BIND(  {{unmatched.value}} as ?unmatched)

                }LIMIT 1'
              sets='[
                {"dataSetName": "Matched", "category": "matched", "value": "matched"},
                {"dataSetName": "Unmatched", "category": "matched", "value": "unmatched"}
              ]'
              styles='[{
                
                "provider": "chartjs",
                "style": {
                  "options": {
                    "scales": {
                      "xAxes": [{
                        "stacked": true
                      }],
                      "yAxes": [{
                        "stacked": true
                      }]
                    }
                  },
                  "data": {
                    "datasets": [
                      {
                        "backgroundColor": "rgba(2, 184, 2, 0.7)",
                        "pointBackgroundColor": "rgb(2, 184, 2)",
                        "pointHoverBackgroundColor": "rgb(2, 184, 2)",
                        "borderColor": "rgb(2, 184, 2)",
                        "pointBorderColor": "#fff",
                        "pointHoverBorderColor": "rgb(2, 184, 2)"
                      },
                      { "backgroundColor": "rgba(189, 189, 189, 0.7)",
                        "pointBackgroundColor": "rgb(189, 189, 189)",
                        "pointHoverBackgroundColor": "rgb(189, 189, 189)",
                        "borderColor": "rgb(189, 189, 189)",
                        "pointBorderColor": "#fff",
                        "pointHoverBorderColor": "rgb(189, 189, 189)"
                      }
                    ]
                  }
                }
              }]'>
                  </semantic-chart>  
                  {{/each}}
                </template>
              </semantic-query>
           </template>
          </semantic-query>
        </div>
      </div>
        <semantic-query  
        query='SELECT ?partnerUri ?partnerLabel WHERE{
            VALUES(?partnerUri)
            {
             (<https://pharos.artresearch.net/resource/frick/source/Frick>)
             (<https://pharos.artresearch.net/resource/hertziana/source/Hertziana>)
             (<https://pharos.artresearch.net/resource/itatti/source/ITatti>)
             (<https://pharos.artresearch.net/resource/khi/source/KHI>)
             (<https://pharos.artresearch.net/resource/marburg/source/Marburg>)
             (<https://pharos.artresearch.net/resource/zeri/source/Zeri>)
            }

            ?partnerUri rdfs:label ?partnerLabel.
            FILTER(?partnerUri != <[[urlParam "partner"]]>)
        }ORDER BY (?partnerLabel)'
        template="{{> partnerTabs}}">

          <template id="partnerTabs">
            <bs-tab-container id="tab-container" class="page__body-navtabs--borderless visible" default-active-key="0">
              <div>
            <bs-nav bs-style="tabs">
          
              {{#each bindings}}
              <bs-nav-item event-key="{{@index}}"><div style="display:flex;">{{partnerLabel.value}}
                (
                  <semantic-query query='
                   SELECT  (COUNT (DISTINCT CONCAT(STR(?subject1),STR(?subject2))) AS ?count)  WHERE{
                    ?subject1 <https://pharos.artresearch.net/custom/has_image> ?imageA.
                    ?imageA <http://purl.org/ontology/similarity/element> ?element.
                    ?subject1 <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "partner"]]>.
                    ?subject2 <https://pharos.artresearch.net/custom/has_image> ?imageB.
                    ?imageB <http://purl.org/ontology/similarity/element> ?element.
                    ?subject2 <https://pharos.artresearch.net/custom/has_provider> {{partnerUri}}.
                    FILTER NOT EXISTS { ?element <https://vision.artresearch.net/custom/reviewed> "true"^^xsd:boolean}
                   }
                 '></semantic-query>)
                </div>
               </bs-nav-item>
               {{/each}}
            </bs-nav>
    
            <bs-tab-content unmount-on-exit=true>
              {{#each bindings}}
              <bs-tab-pane event-key="{{@index}}">
                [[> :PartnerCategorySelectSearch targetProviderLabel="{{partnerLabel.value}}"]]
              </bs-tab-pane>
              {{/each}}
            </bs-tab-content>
          </div>
        </bs-tab-container>
          </template>
        </semantic-query>
        


  </div>


  <br />
  <br />
  <br />
  <br />
</div>
<style>
  .matchingImage {
    height: 18vh !important;
    margin: 0vw !important;
  }
</style>
