<div  id="similarity-list-template">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 2vw" class="display-4">
        <semantic-link iri="Default:matchings">
          <div class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back
          </div>
        </semantic-link>
        Artwork matchings for <img style="
        height: 80px;
        margin-left: 30px;
    " src='/assets/images/logos/[[urlParam "partnerimage"]]'/></h1>
      <p style="margin-left: 2vw" class="lead">
        Bellow you can browse matching suggestions between institution artworks.
        Click the cards to review matchings.
        
      </p>

      </div>
        <semantic-query  
        query='SELECT ?partnerUri ?partnerLabel WHERE{
            VALUES(?partnerUri)
            {
             (<https://pharos.artresearch.net/resource/frick/source/Frick>)
             (<https://pharos.artresearch.net/resource/hertziana/source/Hertziana>)
             (<https://pharos.artresearch.net/resource/itatti/source/ITatti>)
             (<https://pharos.artresearch.net/resource/khi/source/KHI>)
             (<https://pharos.artresearch.net/resource/marburg/source/Marburg>)
             (<https://pharos.artresearch.net/resource/zeri/source/Zeri>)
            }

            ?partnerUri rdfs:label ?partnerLabel.
            FILTER(?partnerUri != <[[urlParam "partner"]]>)
        }ORDER BY (?partnerLabel)'
        template="{{> partnerTabs}}">

          <template id="partnerTabs">
            <bs-tab-container id="tab-container" class="page__body-navtabs--borderless visible" default-active-key="0">
              <div>
            <bs-nav bs-style="tabs">
          
              {{#each bindings}}
              <bs-nav-item event-key="{{@index}}"><div style="display:flex;">{{partnerLabel.value}}
                (
                  <semantic-query query='
                  SELECT (COUNT(DISTINCT ?concatSub) AS ?count) WHERE{
                    SELECT DISTINCT ?concatSub WHERE{
                      ?subject1 <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "partner"]]>.
                      ?subject2 <https://pharos.artresearch.net/custom/has_provider> {{partnerUri}}.
                      ?subject1 <https://pharos.artresearch.net/custom/has_image> ?imageA.
                      ?subject2 <https://pharos.artresearch.net/custom/has_image> ?imageB.
                      ?imageA <http://purl.org/ontology/similarity/element> ?element.
                      ?imageB <http://purl.org/ontology/similarity/element> ?element.
                      BIND(CONCAT(STR(?subject1),STR(?subject2)) as ?concatSub)  
                      FILTER NOT EXISTS { ?element <https://vision.artresearch.net/custom/reviewed> true }
                   }LIMIT 1001
                  }
                 '
                 template="{{> countTemplate}}"
                 >
                <template id="countTemplate">
                  {{#each bindings}}
                    {{#ifCond count.value ">" 1000}}
                      >1000
                    {{else}}
                      {{count.value}}
                    {{/ifCond}}  
                  {{/each}}
                </template>
                 </semantic-query>)
                </div>
               </bs-nav-item>
               {{/each}}
            </bs-nav>
    
            <bs-tab-content unmount-on-exit=true>
              {{#each bindings}}
              <bs-tab-pane event-key="{{@index}}">
                [[> :PartnerCategorySelectSearch targetProviderLabel="{{partnerLabel.value}}"]]
              </bs-tab-pane>
              {{/each}}
            </bs-tab-content>
          </div>
        </bs-tab-container>
          </template>
        </semantic-query>
        


  </div>


  <br />
  <br />
  <br />
  <br />
</div>
<style>
  .matchingImage {
    height: 18vh !important;
    margin: 0vw !important;
  }
</style>
