{{log this}}
{{log fields}}
{{#if noData}}
{{else}}
  {{#if flag}}
<div class="fieldsTable">
  {{#each fields}}
  <td class="rs-page-resource__field-label-holder">
    <span class="rs-page-resource__field-label">
        {{label.0._value}}
    </span>
  </td>
  {{/each}}
</div>
  {{/if}}
  <div class="Results">
  {{#each fields}}
      <tr class="rowResults">
    {{#ifCond  values "===" null}}
      <td class="rs-page-resource__field-label-holder">
                  <span class="rs-page-resource__field-label">-</span>
      </td>
      {{/ifCond}}
    {{#each values}}
      <td class="rs-page-resource__field-label-holder">
                <span class="rs-page-resource__field-value">{{value._value}}</span>
        </td>
    {{/each}}
            </tr>
   {{/each}}
   </div>
  
{{/if}}