<div id="similarity-list-template">
<div class="jumbotron">
  <h1 style="margin-left: 2vw" class="display-4">Matching canditates</h1>
  <p style="margin-left: 2vw" class="lead">
    Bellow you can browse matching suggestions between institution artworks.
    Click the cards to review matchings.
  </p>
</div>
<semantic-search
  limit="1000"
  relations='{
    "<https://pharos.artresearch.net/resource/field/Artist_Attribution>":[
      {
        "kind": "resource",
        "queryPattern": "
         
            $subject <https://pharos.artresearch.net/resource/fr/Work_created_from_Artist> ?__value__.
          "
      }
    ],
    "<https://pharos.artresearch.net/fieldDefinition/Repository>":[
    {
      "kind": "resource",
      "queryPattern": "
       
          $subject <https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution> ?__value__.
       "
    }]
      }'
  search-profile='{
        "categories":  
        [
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
            "label":"Artist"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "label":"Repository"
          },
          {
            "iri":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "label":"Artwork"
          },
          {
            "iri":"<https://pharos.artresearch.net/resource/fr/Work_creation_date>",
            "label":"Creation date range"
          },
          {
            "iri":"<http://www.w3.org/2001/XMLSchema#date>",
            "label":"Date"
          },
          {
            "iri":"<https://pharos.artresearch.net/fieldDefinition/Photo_similarity>",
            "label":"Photo similarity"
          },
          {
            "iri":"<https://pharos.artresearch.net/fieldDefinition/Text_similarity>",
            "label":"Text similarity"
          },
          {
            "iri":"<http://www.w3.org/2001/XMLSchema#integer>",
            "label":"Number"
          }
        ],
        "relations":
        [
          {
            "iri": "<https://pharos.artresearch.net/resource/field/Artist_Attribution>",
            "label":"Creator",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E21_Person>"
          },
          {
            "iri": "<https://pharos.artresearch.net/fieldDefinition/Repository>",
            "label":"Repository",
            "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          }
        ]
      }'
>
  <div id="header-search" class="search-bar">
    <semantic-search-query-keyword
      domain="<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
      placeholder="Search for an artwork title"
      escape-lucene-syntax="false"
      default-query='PREFIX skos: <http://www.w3.org/2004/02/skos/core#> 
        SELECT DISTINCT 
        ?subject1 
        ?subject2
        ?score
        (SAMPLE(?element) as ?element) 
        (SAMPLE(?providerLabelA) as ?providerLabelA)
        (SAMPLE(?providerLabelB) as ?providerLabelB)
        WHERE {
          ?subject1 <https://pharos.artresearch.net/custom/has_image> ?imageA.
          ?imageA <http://purl.org/ontology/similarity/element> ?element.
          ?subject2 <https://pharos.artresearch.net/custom/has_image> ?imageB.
          ?imageB <http://purl.org/ontology/similarity/element> ?element.
          {
            ?imageA crm:P2_has_type ?type.
            ?type rdfs:label "recto".
          }UNION{
            ?imageB crm:P2_has_type ?type.
            ?type rdfs:label "recto".
          }
          ?element <http://purl.org/ontology/similarity/method> ?asso_method.
          ?asso_method <http://purl.org/ontology/similarity/weight> ?score.
          ?asso_method <http://purl.org/ontology/similarity/method> <https://vision.artresearch.net/resource/Similarity/AssociationMethod/Pastec>.
          ?subject1 <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "providera"]]>.
          <[[urlParam "providera"]]> rdfs:label ?providerLabelA.
          ?subject2 <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "providerb"]]>.
          <[[urlParam "providerb"]]> rdfs:label ?providerLabelB.
          FILTER NOT EXISTS {?element <https://vision.artresearch.net/custom/reviewed> "true"^^xsd:boolean. }
        }GROUP BY ?subject1 ?subject2 ?score ORDER BY DESC (?score) 
        LIMIT 50'
      query="SELECT DISTINCT ?subject WHERE {
      ?subject ?p ?o #This will never run
    }LIMIT 1 
  "
    ></semantic-search-query-keyword>
  </div>

  <div class="row">
    <bs-col
      lg="3"
      md="4"
      sm="5"
      class="fade-in-fwd"
      style="margin-top: 8px"
      id="artwork-filter-search"
    >
      <div class="filter-title">Filters</div>
      <semantic-search-facet open-by-default="true"></semantic-search-facet>
    </bs-col>
    <bs-col lg="9" md="8" sm="7">
      <semantic-search-result-holder>
        <bs-tabs unmount-on-exit="true" id="search-results" animation="false">
          <bs-tab event-key="2" title="Grid">
            <semantic-search-result>
              <semantic-table
                id="grid-result"
                options='{
                      "showFilter":false
                    }'
                number-of-displayed-rows="5"
                query=" PREFIX skos: <http://www.w3.org/2004/02/skos/core#> 
          SELECT DISTINCT  
            ?subject1 ?subject2 ?score ?element ?providerLabelA ?providerLabelB
           WHERE {}ORDER BY DESC (?score) (?subject1)
          LIMIT 50
                "
                tuple-template="{{>tupleTemplate}}"
              >
                <template id="tupleTemplate">
                  <div
                    class="
                      rs-grid-element
                      panel panel-default
                      artwork-card
                      fade-in
                    "
                  >
                    <div class="panel-body row">
                      <bs-col class="cardInfo" lg="2" xs="10">
                        [[> :SimilarityListThumbnails iri="{{subject1.value}}"]]
                      </bs-col>
                      <bs-col class="cardInfo" lg="4" xs="10">
                        <div data-flex-layout="row md-column center-stretch">
                          <bs-row class="cardInfoFields">
                            <h2>
                              [[> rsp:SourceIcon
                              providerLabel="{{providerLabelA.value}}"]]{{providerLabelA.value}}
                            </h2>
                            <mp-field-visualization
                              subject="{{subject1.value}}"
                              fields='[[fieldDefinitions  
                                      Title="https://pharos.artresearch.net/fieldDefinition/2"
                                      Creator="https://pharos.artresearch.net/fieldDefinition/1"
                                      ]]'
                              template="{{>generalInfo}}"
                            >
                              <template id="generalInfo">
                                [[> rsp:ResourceFieldBasedVisualization
                                subject="{{subject1.value}}" ]]
                              </template>
                            </mp-field-visualization>
                          </bs-row>
                        </div>
                      </bs-col>
                      <bs-col class="cardInfo" lg="2" xs="10">
                        [[> :SimilarityListThumbnails iri="{{subject2.value}}"]]
                      </bs-col>

                      <bs-col class="cardInfo" lg="4" xs="10">
                        <div data-flex-layout="row md-column center-stretch">
                          <bs-row class="cardInfoFields">
                            <h2>
                              [[> rsp:SourceIcon
                              providerLabel="{{providerLabelB.value}}"]]{{providerLabelB.value}}
                            </h2>
                            <mp-field-visualization
                              subject="{{subject2.value}}"
                              fields='[[fieldDefinitions  
                                        Title="https://pharos.artresearch.net/fieldDefinition/2"
                                        Creator="https://pharos.artresearch.net/fieldDefinition/1"
                                        ]]'
                              template="{{>generalInfo}}"
                            >
                              <template id="generalInfo">
                                [[> rsp:ResourceFieldBasedVisualization
                                subject="{{subject2.value}}" ]]
                              </template>
                            </mp-field-visualization>
                          </bs-row>
                        </div>
                      </bs-col>
                    </div>
                    <div class="actions">
                      <semantic-form
                        new-subject-template="{{element.value}}"
                        browser-persistance="true"
                        persistence="sparql"
                        post-action="reload"
                        form-id="IMApprove1"
                        fields='[[fieldDefinitions
                                    sameAs="http://www.researchspace.org/fieldDefinition/Same"
                                  ]]'
                      >
                        <semantic-form-hidden-input
                          for="sameAs"
                          default-value="true"
                        >
                        </semantic-form-hidden-input>
                        <button
                          id="1234"
                          name="submit"
                          class="btn btn-default action approve"
                          title="Click to quickly identify two instances as the same"
                        >
                          Same
                        </button>
                      </semantic-form>

                      <semantic-form
                        new-subject-template="{{element.value}}"
                        browser-persistance="true"
                        persistence="sparql"
                        post-action="reload"
                        form-id="IMReject"
                        fields='[[fieldDefinitions
                                    reviewed="http://www.researchspace.org/fieldDefinition/Reviewed"
                                  ]]'
                      >
                        <semantic-form-hidden-input
                          for="reviewed"
                          default-value="true"
                        >
                        </semantic-form-hidden-input>
                        <button
                          name="submit"
                          class="btn btn-warning action reject"
                          title="Two instances are not the same"
                        >
                          Not similar
                        </button>
                      </semantic-form>
                      <semantic-link iri="{{element.value}}">
                        <button class="btn action btn-success">
                          View details
                        </button>
                      </semantic-link>
                    </div>
                  </div>
                </template>
              </semantic-table>
            </semantic-search-result>
          </bs-tab>
        </bs-tabs>
      </semantic-search-result-holder>
    </bs-col>
  </div>
</semantic-search>
</div>