<div id="matchings-vocab">
  <!-- PHAROS SECTION -->
    <div class="matchingContainer" >
      <div class="canditate">
        <div style="display: flex;">
          <!-- <img style="border-radius: 100%; object-fit: fill; height: 100px; width: 100px;"  src="http://commons.wikimedia.org/wiki/Special:FilePath/Michelangelo%20Daniele%20da%20Volterra%20%28dettaglio%29.jpg?width=500" /> -->
          <div style="display: flex; flex-direction: column; margin-left: 15px;">
            <h1 style="font-size: 32px !important">     
              <mp-label iri="[[repositoryA]]" ></mp-label> 
              [[#if providerA]]
              (<mp-label iri='[[urlParam "providera"]]' ></mp-label>)
              [[/if]]
              [[#if providerB]]
              (<mp-label iri='[[urlParam "providerb"]]' ></mp-label>)
              [[/if]]
            </h1>
            <small><a target="_viewSubjectRepository" href="https://artresearch.net/resource/?uri=[[repositoryA]]">View on artresearch</a></small>
          </div>
        </div>
      </div>
      <div class="separatingLine"></div>
      <div class="canditate">
        <h2 style="font-size: 22px; margin-bottom: 4vh;">Click on "Same" button to verify suggested matches</h2 style="font-size: 22px;">
          <semantic-query
          query='SELECT ?match ?matchUrl ?currentCanditate WHERE {
            BIND(<[[match]]> as ?match)
            BIND(REPLACE("[[match]]","http:","https:") as ?matchUrl).
            BIND(<[[repositoryA]]> as ?currentCanditate)
         }'
         template="{{>possibleMatchesTemplate}}"
         >  
         <template id="possibleMatchesTemplate">
           {{#each bindings}}
              <div class="matchingCard">
                <div class="matchingCardHeader">
                  {{#if image.value}}
                    <img src="{{image.value}}?width=250"/>
                  {{/if}}
                <div class="matchingCardHeaderInfo">
                  <h2  style="font-size: 24px; font-weight: bold;">
                    <mp-label iri="{{match.value}}" ></mp-label>
                    </h2>
                    <mp-overlay-dialog title="‎‎{{match.value}}" type="lightbox">
                      <mp-overlay-dialog-trigger
                        >
                    <small class="clickable">View at WikiData</small>
                      </mp-overlay-dialog-trigger>
                      <mp-overlay-dialog-content>
                        <iframe src="{{matchUrl.value}}"></iframe>
                      </mp-overlay-dialog-content>
                    </mp-overlay-dialog>
                </div>
                <div class="actions">
                  <semantic-context repository="vocab">
                <semantic-form
                  new-subject-template="{{currentCanditate.value}}"
                  browser-persistance="true"
                  persistence="sparql"
                  post-action="reload"
                  form-id="IMApprove1"
                  fields='[[  fieldDefinitions
                              confirmed="http://www.researchspace.org/fieldDefinition/Confirmed_Matched_Institutions"
                          ]]'
                >
                  <semantic-form-hidden-input
                    for="confirmed"
                    default-value="{{match.value}}"
                  ></semantic-form-hidden-input>

                  <div
                    id="1234"
                    name="submit"
                    class="btn btn-default action approve"
                    title="Click to confirm two Repository instances as the same"
                  > Same </div>
                </semantic-form>
                </semantic-context>
                </div>
              </div>
            </div>
          {{/each}}
       </template>
       </semantic-query>
      </div>
    </div>
</div>