
<div id="similarity-list-template">
  <div id="search-results">  
    <div class="jumbotron">
      <h1 style="margin-left: 2vw" class="display-4">
       Your dashboard</h1>
      <p style="margin-left: 2vw" class="lead">
        Here you can view, delete & revert matchings that have been reviewed or are marked for review 
      </p>
    </div>
  <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="reviewed">
  <div>
    <bs-nav bs-style='tabs'>
      <bs-nav-item event-key='reviewed'><div style="display: flex;">Reviewed(
        [[> DashboardStatReviewed]]
        )</div></bs-nav-item>
      <bs-nav-item event-key='marked'>
        <div style="display: flex;">Marked for review(
          [[> DashboardStatMarked]]
          )</div>
      </bs-nav-item>

    </bs-nav>
    <bs-tab-content unmount-on-exit=true>
      <div>
      <bs-tab-pane event-key='reviewed'>
        [[> DashboardListReviewed]]
      </bs-tab-pane>
      <bs-tab-pane event-key='marked'>
        [[> DashboardListMarked]]
      </bs-tab-pane>
    </div>
    </bs-tab-content>
  </div>
  </bs-tab-container>
  </div>
  </div>