<semantic-query
query=' SELECT (COUNT(distinct ?g) AS ?count) WHERE {
          GRAPH ?g {
            ?work fr:Work_is_study_or_sketch_of_Work ?work2.
            ?subject prov:generatedAtTime ?modifiedAt.
          }
          ?work <https://artresearch.net/custom/has_image> ?imageA.
          ?imageA <http://purl.org/ontology/similarity/element> ?similarity.
          ?work2 <https://artresearch.net/custom/has_image> ?imageB.
          ?imageB <http://purl.org/ontology/similarity/element> ?similarity.
          FILTER NOT EXISTS { ?similarity <https://vision.artresearch.net/custom/skipped> "true"^^xsd:boolean }
       
        }'
no-result-template="0"
>
</semantic-query>