<div id="similarity-list-template">
    <div class="backDashboardButton">
      <a href='https://vocab.artresearch.net' title="View on Vocab" >View on Vocab</a>
     </div>

    <div id="search-results">  
      <div class="jumbotron">
        <h1 style="margin-left: 2vw" class="display-4">
        Person's dashboard</h1>
        <p style="margin-left: 2vw" class="lead">
          Here you can view matchings between persons from everyone in the platform
        </p>
      </div>
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="artists">
    <div>
      <bs-nav bs-style='tabs'>
        <bs-nav-item event-key='artists'><div style="display: flex;">Matched Artists(
          [[> DashboardStatsActor artists='true' matched='true']]
          )</div>
        </bs-nav-item>
        <bs-nav-item event-key='noartists'><div style="display: flex;">Remaining Artists(
          [[> DashboardStatsActor artists='true']]
          )</div>
        </bs-nav-item>
        <bs-nav-item event-key='photographers'><div style="display: flex;">Matched Photographers(
          [[> DashboardStatsActor photographers='true' matched='true']]
          )</div>
        </bs-nav-item>
        <bs-nav-item event-key='nophotographers'><div style="display: flex;">Remaining Photographers(
          [[> DashboardStatsActor photographers='true' notmatched='true']]
          )</div>
        </bs-nav-item>
        <bs-nav-item event-key='repositories'><div style="display: flex;">Matched Repositories(
          [[> DashboardStatsActor repositories='true' matched='true']]
          )</div>
        </bs-nav-item>
        <bs-nav-item event-key='norepositories'><div style="display: flex;">Remaining Repositories(
          [[> DashboardStatsActor repositories='true' notmatched='true']]
          )</div>
        </bs-nav-item>
      </bs-nav>
      <bs-tab-content unmount-on-exit=true>
        <div>
        <bs-tab-pane event-key='artists'>
          [[> DashboardListActor artists='true' matched='true']]
        </bs-tab-pane>
        <bs-tab-pane event-key='noartists'>
          [[> DashboardListActor artists='true']]
        </bs-tab-pane>
        <bs-tab-pane event-key='photographers'>
          [[> DashboardListActor photographers='true' matched='true']]
        </bs-tab-pane>
        <bs-tab-pane event-key='nophotographers'>
          [[> DashboardListActor photographers='true']]
        </bs-tab-pane>
        <bs-tab-pane event-key='repositories'>
          [[> DashboardListActor repositories='true' matched='true']]
        </bs-tab-pane>
        <bs-tab-pane event-key='norepositories'>
          [[> DashboardListActor repositories='true']]
        </bs-tab-pane>
      </div>
      </bs-tab-content>
    </div>
    </bs-tab-container>
    </div>
</div>

<style>
.nav.nav-tabs{
  font-size:smaller !important;
}
</style>