<div class="table-responsive rs-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <semantic-query query=' SELECT distinct ?sub1 ?sub2 ("{{bindings.0.providerLabelA.value}}" AS ?provLabelA) ("{{bindings.0.providerLabelB.value}}" AS ?provLabelB)
        {
          BIND(ENCODE_FOR_URI("{{bindings.0.subject1Link.value}}") AS ?sub1)
          BIND(ENCODE_FOR_URI("{{bindings.0.subject2Link.value}}") AS ?sub2)
        }'
          template='{{> header}}'>
          <template id='header'>
            <th scope="col" style="width: 30%">Field</th>
            <th scope="col"><a href="https://artresearch.net/resource/?uri={{bindings.0.sub1.value}}" target="_null">{{bindings.0.provLabelA.value}}</a>
            </th>
            <th scope="col"><a href="https://artresearch.net/resource/?uri={{bindings.0.sub2.value}}" target="_null">{{bindings.0.provLabelB.value}}</a> 
            </th>

          </template>
          
        </semantic-query>
      </tr>
    </thead>
    <tbody>
      <!-- 72 FIELDS TO BE QUERIED (happy scrolling) -->
           
      <!--################################################################################-->
      <!--#################################### TITLE #####################################-->
      <!--################################################################################-->
      {{#if '[[urlParam "providera"]]'}}
      <semantic-query
        query=' SELECT DISTINCT 
                  ?nextElement
                  (<{{bindings.0.element.value}}> AS ?element) 
                  (<{{bindings.0.subject1.value}}> as ?subject1) 
                  (<{{bindings.0.subject2.value}}> as ?subject2) 
                WHERE {
                  ?imageA_next <http://purl.org/ontology/similarity/element> ?nextElement.
                  ?imageB_next <http://purl.org/ontology/similarity/element> ?nextElement.
                  ?subject1_next <https://pharos.artresearch.net/custom/has_image> ?imageA_next.
                  ?subject2_next <https://pharos.artresearch.net/custom/has_image> ?imageB_next.
                  ?subject1_next <https://pharos.artresearch.net/custom/has_provider> <{{bindings.0.providerA.value}}>.
                  ?subject2_next <https://pharos.artresearch.net/custom/has_provider> <{{bindings.0.providerB.value}}>.
                  FILTER NOT EXISTS { ?nextElement <https://vision.artresearch.net/custom/reviewed> true }
                  FILTER NOT EXISTS { ?nextElement <https://vision.artresearch.net/custom/skipped> true }
                  {
                    SELECT (GROUP_CONCAT(distinct ?sim) as ?sims) WHERE {
                      <{{bindings.0.subject1.value}}> <https://pharos.artresearch.net/custom/has_image> ?imgA2.
                      <{{bindings.0.subject2.value}}> <https://pharos.artresearch.net/custom/has_image> ?imgB2.
                      ?imgA2 <http://purl.org/ontology/similarity/element> ?sim.
                      ?imgB2 <http://purl.org/ontology/similarity/element> ?sim.
                    }
                  }
                  FILTER (!(CONTAINS(?sims, STR(?nextElement))))
                }LIMIT 1' 
        no-result-template='{{> noNextSimilarity}}'
        template='{{> titleWithNextSimilarity}}'>
        <template id="titleWithNextSimilarity">
      <semantic-query
        query=' SELECT DISTINCT
                  ?labelA ?labelB ?withDataA ?withDataB ?temp
                  ("Title" as ?fieldName)
                  (<{{bindings.0.element.value}}> AS ?element)
                  (<{{bindings.0.nextElement.value}}> AS ?nextElement)
                WHERE {
                  BIND (EXISTS{ ?element <https://vision.artresearch.net/custom/reviewed> "true"^^xsd:boolean }as ?temp). 
                  <{{bindings.0.subject1.value}}> rdfs:label ?labelA.
                  <{{bindings.0.subject2.value}}> rdfs:label ?labelB.
                  BIND(BOUND(?labelA) && strlen(?labelA)>0 as ?withDataA)
                  BIND(BOUND(?labelB) && strlen(?labelB)>0 as ?withDataB)
                }' 
        template='{{> titleTemplate}}'>
        <template id="titleTemplate">
       
              [[> rsp:MatchingCanditateTitleSame]] 
        </template>
      </semantic-query>
      </template>
      <template id="noNextSimilarity">
        <semantic-query
          query=' SELECT DISTINCT
                    ?nextElement ?labelA ?labelB ?withDataA ?withDataB ?temp
                    ("Title" as ?fieldName)
                    (<{{bindings.0.element.value}}> AS ?element)
                  WHERE {
                   BIND (EXISTS{ ?element <https://vision.artresearch.net/custom/reviewed> "true"^^xsd:boolean }as ?temp). 
                    <{{bindings.0.subject1.value}}> rdfs:label ?labelA.
                    <{{bindings.0.subject2.value}}> rdfs:label ?labelB.
                    BIND(BOUND(?labelA) && strlen(?labelA)>0 as ?withDataA)
                    BIND(BOUND(?labelB) && strlen(?labelB)>0 as ?withDataB)
                    BIND (Default:SimilarityList AS ?nextElement)
                  }LIMIT 1'
          template="{{>titleOptionsWithNoNext}}"
        >
          <template id="titleOptionsWithNoNext">
               
            [[> rsp:MatchingCanditateTitleSame]] 
          </template>
          </semantic-query>
        </template>
      </semantic-query>
      {{else}}
      <semantic-query
      query='SELECT DISTINCT ?labelA ?labelB ?withData ?temp("Title" as ?fieldName) WHERE {
                <{{bindings.0.subject1.value}}> rdfs:label ?labelA.
                <{{bindings.0.subject2.value}}> rdfs:label ?labelB.
                BIND(BOUND(?labelA) && strlen(?labelA)>0 as ?withData)
                BIND(BOUND(?labelB) && strlen(?labelB)>0 as ?withData)
              }' 
      template='{{> titleTemplate}}'>
      <template id="titleTemplate">
        [[> rsp:MatchingCanditateFieldsVisualization]]
      </template>
    </semantic-query>
      {{/if}}
      <!--################################################################################-->
      <!--############################ ICONCLASS INFORMATION ############################--> 
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
        WHERE 
        {
          SERVICE <https://artresearch.net/sparql> 
            {
              {        
                <{{bindings.0.subject1.value}}> crm:P138i_is_represented_by ?vi_a.
                ?vi_a crm:P138_represents ?val_a.
                ?val_a rdfs:label ?val_label_a.
                ?val_a crm:P2_has_type ?type_a.
                ?type_a rdfs:label ?type_label_a.
                BIND(CONCAT(?val_label_a," (",?type_label_a,") ") AS ?label_a )
                BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
              }
              UNION{
                <{{bindings.0.subject2.value}}> crm:P138i_is_represented_by ?vi_b.
                ?vi_b crm:P138_represents ?val_b.
                ?val_b rdfs:label ?val_label_b.
                ?val_b crm:P2_has_type ?type_b.
                ?type_b rdfs:label ?type_label_b.
                BIND(CONCAT(?val_label_b," (",?type_label_b,") ") AS ?label_b )
                BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
              }
              BIND("Iconclass Information" as ?fieldName)
          }
        }GROUP BY ?withData ?fieldName'
        template="{{> iconclassinformationTemplate}}"
      >
        <template id="iconclassinformationTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################### CREATOR ###################################-->
      <!--################################################################################-->
      <semantic-query
        query=' SELECT
        (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) 
        (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        (SAMPLE(?value) AS ?value)
        (SAMPLE(?value_b) AS ?value_b)
        (SAMPLE(?ulanArtist_a) AS ?ulanArtist_a)
        (SAMPLE(?ulanArtist_b) AS ?ulanArtist_b)  ?withData ?fieldName WHERE {
                  {
                    <{{bindings.0.subject1.value}}> <https://pharos.artresearch.net/resource/fr/Work_created_from_Artist> ?value.
                    ?value rdfs:label ?label_a.
                    OPTIONAL{
                      ?value owl:sameAs ?ulanArtist_a.
                    }
                    BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
                  } UNION{ 
                    <{{bindings.0.subject2.value}}> <https://pharos.artresearch.net/resource/fr/Work_created_from_Artist> ?value_b.
                    ?value_b rdfs:label ?label_b.  
                    OPTIONAL{
                      ?value_b owl:sameAs ?ulanArtist_b.
                    }
                    BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
                  } 
                  BIND("Creator" as ?fieldName)
                }GROUP BY ?withData ?fieldName '
        template="{{> creatorTemplate}}"
      >
        <template id="creatorTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################## REPOSITORY ##################################-->
      <!--################################################################################-->
      <semantic-query
        query=' SELECT 
        (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA)
         (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB)
         (SAMPLE(?actor_a) AS ?actor_a)
         (SAMPLE(?actor_b) AS ?actor_b) 
         (SAMPLE(?wikiRepo_a) AS ?wikiRepo_a)
         (SAMPLE(?wikiRepo_b) AS ?wikiRepo_b)
         ?withData ?fieldName WHERE {
                  {
                    <{{bindings.0.subject1.value}}> <https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution> ?actor_a.
                    ?actor_a rdfs:label ?label_a.
                    OPTIONAL{
                      ?actor_a owl:sameAs ?wikiRepo_a.
                    }
                    BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
                  } UNION{
                    <{{bindings.0.subject2.value}}> <https://pharos.artresearch.net/resource/fr/Work_kept_by_Institution> ?actor_b.
                    ?actor_b rdfs:label ?label_b.
                    OPTIONAL{
                      ?actor_b owl:sameAs ?wikiRepo_b.
                    }
                    BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
                  }
                  BIND("Repository" as ?fieldName)
                }GROUP BY ?withData ?fieldName'

        template="{{> repositoryTemplate}}"
      >
        <template id="repositoryTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--#################################### PHOTOS ####################################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
          		<{{bindings.0.subject1.value}}> crm:P138i_is_represented_by ?visual_item.
        ?visual_item crm:P128i_is_carried_by ?value.
  	?value crm:P2_has_type <http://vocab.getty.edu/aat/300046300>.
            ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
          }
          UNION{
            		<{{bindings.0.subject2.value}}> crm:P138i_is_represented_by ?visual_item_b.
        ?visual_item_b crm:P128i_is_carried_by ?value_b.
  	?value_b crm:P2_has_type <http://vocab.getty.edu/aat/300046300> .   
          ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
          }
          BIND("Photo I.D. No." as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> photosTemplate}}"
      >
        <template id="photosTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################ DIGITAL IMAGES ################################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
  		<{{bindings.0.subject1.value}}> crm:P138i_is_represented_by ?visual_item.
        ?visual_item crm:P165i_is_incorporated_in ?value.
        ?value crm:P2_has_type <http://vocab.getty.edu/aat/300417379>. 
  			 ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
          }
          UNION{
  		<{{bindings.0.subject2.value}}> crm:P138i_is_represented_by ?visual_item.
        ?visual_item crm:P165i_is_incorporated_in ?value_b.
        ?value_b crm:P2_has_type <http://vocab.getty.edu/aat/300417379>. 
          ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
          }
          BIND("Digital Images" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> digitalimagesTemplate}}"
      >
        <template id="digitalimagesTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################ INFLUENCED BY ################################-->
      <!--################################################################################-->
      <semantic-query
        query=' SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) ?withData ?fieldName WHERE {
                  {
                    <{{bindings.0.subject1.value}}> <https://pharos.artresearch.net/resource/fr/Work_influenced_by_Artist> ?artist_a .
                    ?artist_a rdfs:label ?label_a.
                    BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
                  } UNION{
                    <{{bindings.0.subject2.value}}> <https://pharos.artresearch.net/resource/fr/Work_influenced_by_Artist> ?artist_b .
                    ?artist_b rdfs:label  ?label_b  
                    BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
                  }
                  BIND("Influenced By" as ?fieldName)
        }GROUP BY ?withData ?fieldName'
        template="{{> influencedbyTemplate}}"
      >
        <template id="influencedbyTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################# ATTRIBUTIONS #################################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB)  ?withData ?fieldName WHERE {
          SERVICE <https://artresearch.net/sparql> {
            {
              <{{bindings.0.subject1.value}}> crm:P108i_was_produced_by ?production.
              ?production crm:P140i_was_attributed_by ?attribution .
              ?attribution crm:P141_assigned ?property.
              ?property crm:P02_has_range ?value.
              ?value rdfs:label ?label_a.
              BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
            } UNION{
              <{{bindings.0.subject2.value}}> crm:P108i_was_produced_by ?production_b.
              ?production_b crm:P140i_was_attributed_by ?attribution_b .
              ?attribution_b crm:P141_assigned ?property_b.
              ?property_b crm:P02_has_range ?value_b.
              ?value_b rdfs:label ?label_b  
              BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
            }
            BIND("Attributions" as ?fieldName)
          }
        }GROUP BY ?withData ?fieldName'
        template="{{> attributionsTemplate}}"
      >
        <template id="attributionsTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--########################## PRODUCTION DATE - EARLIEST ##########################--> 
      <!--################################################################################-->
      <semantic-query
        query=' SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) ?withData ?fieldName WHERE {
                  {
                    <{{bindings.0.subject1.value}}> <https://pharos.artresearch.net/resource/fr/Work_creation_date_start> ?label_a.
                    BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
                  }
                  UNION{
                    <{{bindings.0.subject2.value}}> <https://pharos.artresearch.net/resource/fr/Work_creation_date_start> ?label_b  
                    BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
                  }
                  BIND("Production Date - Earliest" as ?fieldName)
                }GROUP BY ?withData ?fieldName'
        template="{{> productiondate-earliestTemplate}}"
      >
        <template id="productiondate-earliestTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--########################### PRODUCTION DATE - LATEST ###########################-->
      <!--################################################################################-->
      <semantic-query
        query=' SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) ?withData ?fieldName WHERE {
                  { 
                    <{{bindings.0.subject1.value}}> <https://pharos.artresearch.net/resource/fr/Work_creation_date_end> ?label_a.
                    BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
                  } UNION{
                    <{{bindings.0.subject2.value}}> <https://pharos.artresearch.net/resource/fr/Work_creation_date_end> ?label_b  
                    BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
                  }
                  BIND("Production Date - Latest" as ?fieldName)
                }GROUP BY ?withData ?fieldName'
        template="{{> productiondate-latestTemplate}}"
      >
        <template id="productiondate-latestTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--############################### PRODUCTION DATE ###############################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
            <{{bindings.0.subject1.value}}> <http://www.cidoc-crm.org/cidoc-crm/P108i_was_produced_by> ?production .
          ?production <http://www.cidoc-crm.org/cidoc-crm/P4_has_time-span> ?timespan .
          ?timespan crm:P82_at_some_time_within ?value .     
          ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
          }
          UNION{
            <{{bindings.0.subject2.value}}> <http://www.cidoc-crm.org/cidoc-crm/P108i_was_produced_by> ?production_b .
          ?production_b <http://www.cidoc-crm.org/cidoc-crm/P4_has_time-span> ?timespan_b .
          ?timespan_b crm:P82_at_some_time_within ?value_b .       
          ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
          }
          BIND("Production Date" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> productiondateTemplate}}"
      >
        <template id="productiondateTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--######################### PRECISE LOCATION DESCRIPTION #########################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
  		<{{bindings.0.subject1.value}}> crm:P67i_is_referred_to_by ?bibliography .
  		?bibliography crm:P2_has_type ?type.
  		?type rdfs:label "Precise Location Description" .
  		?bibliography crm:P190_has_symbolic_content ?value.
                       ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
          }
          UNION{
  		<{{bindings.0.subject2.value}}> crm:P67i_is_referred_to_by ?bibliography_b .
  		?bibliography_b crm:P2_has_type ?type_b.
  		?type_b rdfs:label "Precise Location Description" .
  		?bibliography_b crm:P190_has_symbolic_content ?value_b.  
          ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
          }
          BIND("Precise Location Description" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> preciselocationdescriptionTemplate}}"
      >
        <template id="preciselocationdescriptionTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--############################### PHOTO ARCHIVE RECORDS ###############################-->
      <!--################################################################################-->
      <semantic-query
        query=' SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) ?withData ?fieldName WHERE {
                  SERVICE <https://artresearch.net/sparql> {
                    {
                      <{{bindings.0.subject1.value}}> <https://pharos.artresearch.net/custom/has_original_record> ?label_a.
                      BIND(BOUND(?label_a) && strlen(str(?label_a))>0 as ?withData)
                    } UNION{
                      <{{bindings.0.subject2.value}}> <https://pharos.artresearch.net/custom/has_original_record> ?label_b.  
                      BIND(BOUND(?label_b) && strlen(str(?label_b))>0 as ?withData)
                    }
                    BIND("Photo archive records" as ?fieldName)
                  }
                }GROUP BY ?withData ?fieldName'
        template="{{> originalrecordsTemplate}}"
      >
        <template id="originalrecordsTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--#################################### TYPES ####################################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
		<{{bindings.0.subject1.value}}> <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?value .
	  ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
          }
          UNION{
		<{{bindings.0.subject2.value}}> <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?value_b .
          ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
          }
          BIND("Types" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> typesTemplate}}"
      >
        <template id="typesTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################### SUBJECT ###################################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
 		<{{bindings.0.subject1.value}}> crm:P65_shows_visual_item ?value.
  		?value crm:P2_has_type <http://vocab.getty.edu/aat/300404126>.
                        ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
          }
          UNION{
 		<{{bindings.0.subject2.value}}> crm:P65_shows_visual_item ?value_b.
  		?value_b crm:P2_has_type <http://vocab.getty.edu/aat/300404126>.
          ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
          }
          BIND("Subject" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> subjectTemplate}}"
      >
        <template id="subjectTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--############################# SUBJECT DESCRIPTION #############################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
  		<{{bindings.0.subject1.value}}> crm:P67i_is_referred_to_by ?information_object.
  		?information_object crm:P2_has_type ?type.
  		?type rdfs:label "Subject Description".
  		?information_object crm:P190_has_symbolic_content ?value .
                      ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
          }
          UNION{
  		<{{bindings.0.subject2.value}}> crm:P67i_is_referred_to_by ?information_object_b.
  		?information_object_b crm:P2_has_type ?type_b.
  		?type_b rdfs:label "Subject Description".
  		?information_object_b crm:P190_has_symbolic_content ?value_b .  
          ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
          }
          BIND("Subject Description" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> subjectdescriptionTemplate}}"
      >
        <template id="subjectdescriptionTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################## COLLECTION ##################################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
  		{
  			<{{bindings.0.subject1.value}}> crm:P46i_forms_part_of ?value .
 			?value a crm:E78_Curated_Holding .
         ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
  		}
 		UNION
  		{
  			<{{bindings.0.subject1.value}}> crm:P106i_forms_part_of ?value .
 			?value a crm:E78_Curated_Holding .
         ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
  		}
    }                       
          UNION{
  		{
  			<{{bindings.0.subject2.value}}> crm:P46i_forms_part_of ?value_b .
 			?value_b a crm:E78_Curated_Holding .
        ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
  		}
 		UNION
  		{
  			<{{bindings.0.subject2.value}}> crm:P106i_forms_part_of ?value_b .
 			?value_b a crm:E78_Curated_Holding .
        ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
  		}
          }
          BIND("Collection" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> collectionTemplate}}"
      >
        <template id="collectionTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--############################### CURRENT LOCATION ###############################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
  		<{{bindings.0.subject1.value}}> crm:P55_has_current_location ?value.
 			?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)    
 }
          UNION{
  		<{{bindings.0.subject2.value}}> crm:P55_has_current_location ?value_b.
 			?value_b rdfs:label ?label_b.  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)      
          }
          BIND("Current Location" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> currentlocationTemplate}}"
      >
        <template id="currentlocationTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################## DIMENSIONS ##################################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName WHERE {
          SERVICE <https://artresearch.net/sparql> {
            {
              <{{bindings.0.subject1.value}}> crm:P43_has_dimension ?dimension.
              ?dimension crm:P2_has_type ?type.
              ?type rdfs:label ?qualifier.
              ?dimension crm:P90_has_value ?dvalue .
              ?dimension crm:P91_has_unit ?unit_uri .
              ?unit_uri rdfs:label ?unit.
              FILTER(LANG(?qualifier)="en")
              BIND(CONCAT(STR(?dvalue)," ",?unit," ","(",?qualifier,")") as ?label_a).
              BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
            } UNION{
              <{{bindings.0.subject2.value}}> crm:P43_has_dimension ?dimension_b.
              ?dimension_b crm:P2_has_type ?type_b.
              ?type_b rdfs:label ?qualifier_b.
              ?dimension_b crm:P90_has_value ?dvalue_b .
              ?dimension_b crm:P91_has_unit ?unit_uri_b .
              ?unit_uri_b rdfs:label ?unit_b.
              FILTER(LANG(?qualifier_b)="en")
              BIND(CONCAT(STR(?dvalue_b)," ",?unit_b," ","(",?qualifier_b,")") as ?label_b).
              BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
            }
            BIND("Dimensions" as ?fieldName)
          }
        }GROUP BY ?withData ?fieldName'
        template="{{> dimensionsTemplate}}"
      >
        <template id="dimensionsTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################## DIMENSION ##################################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
        		<{{bindings.0.subject1.value}}> crm:P43_has_dimension ?value.
 	              ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
          }
          UNION{
          		<{{bindings.0.subject2.value}}> crm:P43_has_dimension ?value_b. 
          ?value_b rdfs:label ?label_b.  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
          }
          BIND("Dimension" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> dimensionTemplate}}"
      >
        <template id="dimensionTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################## TECHNIQUE ##################################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
          <{{bindings.0.subject1.value}}> crm:P108i_was_produced_by ?production.
      ?production crm:P33_used_specific_technique ?value.
  ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
          }
          UNION{
          <{{bindings.0.subject2.value}}> crm:P108i_was_produced_by ?production_b.
      ?production_b crm:P33_used_specific_technique ?value_b.
    ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
          }
          BIND("Technique" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> techniqueTemplate}}"
      >
        <template id="techniqueTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>

      <!--################################################################################-->
      <!--################################### MATERIAL ###################################-->
      <!--################################################################################-->
      <semantic-query
        query='
				SELECT (GROUP_CONCAT(DISTINCT ?label_a; SEPARATOR=", ") AS ?labelA) (GROUP_CONCAT(DISTINCT ?label_b;SEPARATOR=", ") AS ?labelB) 
        ?withData ?fieldName
          WHERE 
 {
 SERVICE <https://artresearch.net/sparql> 
          {
          {
  	<{{bindings.0.subject1.value}}> crm:P45_consists_of ?value.
  	?value a crm:E57_Material.
   ?value rdfs:label ?label_a.
          BIND(BOUND(?label_a) && strlen(?label_a)>0 as ?withData)
          }
          UNION{
  	<{{bindings.0.subject2.value}}> crm:P45_consists_of ?value_b.
  	?value a crm:E57_Material. 
          ?value_b rdfs:label ?label_b  
          BIND(BOUND(?label_b) && strlen(?label_b)>0 as ?withData)
          }
          BIND("Material" as ?fieldName)
        }}GROUP BY ?withData ?fieldName'
        template="{{> materialTemplate}}"
      >
        <template id="materialTemplate">[[> rsp:MatchingCanditateFieldsVisualization]]</template>
      </semantic-query>
      
    </tbody>
  </table>
</div>