<!-- Only creates row if data are found-->
{{#if bindings.0.withData.value}}
<tr class="rs-page-resource__field">
  <!-- Field name -->
  <td class="rs-page-resource__field-label-holder">
    <span class="rs-page-resource__field-label">
      {{bindings.0.fieldName.value}}
    </span>
  </td>
  <!-- Field values -->
  {{#each bindings}} 
    {{#ifCond labelA.value.length "!==" 0}}
      <td>
        <span class="rs-page-resource__field-value">{{labelA.value}}</span> 
      </td>
      {{#ifCond labelB.value.length "===" 0}}
        <td>
          <span class="rs-page-resource__field-value">-</span>
        </td>
      {{/ifCond}}
    {{/ifCond}}
    {{#ifCond labelB.value.length "!==" 0}}
    {{#ifCond labelA.value.length "===" 0}}
    <td>
      <span class="rs-page-resource__field-value">-</span>
    </td>
    {{/ifCond}}
    <td>
      <span class="rs-page-resource__field-value">{{labelB.value}}</span> 
    </td>
    {{/ifCond}}
    
    <td>
      <!-- ULAN ARTISTS -->

      {{#ifCond ulanArtist_a.value "&&" ulanArtist_b.value}}  
        <!-- Both are ULAN ?? -->
      {{else}}
       {{#if ulanArtist_a.value}}
        <!-- First is ULAN -->
        {{#if value_b}}
        <!-- Second artist is not null -->
          <mp-overlay-dialog type=lightbox title="Match artists">
            <mp-overlay-dialog-trigger
              placement="bottom"
              trigger='["hover","focus"]'
            >
              <div id="match-button-text">
               <span class="fa fa-external-link" style="margin-right: 5px;"></span>  Match artists
              </div>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content style="background: white">
              <div>
              {{value_b.value}} {{ulanArtist_a.value}}
              </div>
            </mp-overlay-dialog-content>
          </mp-overlay-dialog>
          {{/if}}
        {{else}}
         {{#if ulanArtist_b.value}}
        <!-- Second is ULAN -->
        {{#if value}}
        <!-- First artist is not null -->
         <mp-overlay-dialog type=lightbox title="Match artists">
          <mp-overlay-dialog-trigger
            placement="bottom"
            trigger='["hover","focus"]'
          >
            <div id="match-button-text">
             <span class="fa fa-external-link" style="margin-right: 5px;"></span>  Match artists
            </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content style="background: white">
            <div>
              {{value.value}} {{ulanArtist_b.value}}
            </div>
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
        {{/if}}
         {{/if}}
       {{/if}}
      {{/ifCond}}  



      <!-- WIKIDATA REPOSITORIES -->
      
      {{#ifCond wikiRepo_a.value "&&" wikiRepo_b.value}}  
        <!-- Both are WIKI?? -->
      {{else}}
      {{#if wikiRepo_a.value}}
        <!-- First is WIKI-->`
        {{#if actor_b}}
        <!-- Second repo is not null -->
          <mp-overlay-dialog type=lightbox title="Match Repositories">
            <mp-overlay-dialog-trigger
              placement="bottom"
              trigger='["hover","focus"]'
            >
              <div id="match-button-text">
               <span class="fa fa-external-link" style="margin-right: 5px;"></span>  Match Repositories
              </div>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content style="background: white">
              <div>
               {{actor_b.value}} {{wikiRepo_a.value}}
              </div>
            </mp-overlay-dialog-content>
          </mp-overlay-dialog>
          {{/if}}
        {{else}}
        {{#if wikiRepo_b.value}}
        <!-- Second is WIKI-->
        {{#if actor_a}}
        <!-- First repo is not null -->
        <mp-overlay-dialog type=lightbox title="Match Repositories">
          <mp-overlay-dialog-trigger
            placement="bottom"
            trigger='["hover","focus"]'
          >
            <div id="match-button-text">
              <span class="fa fa-external-link" style="margin-right: 5px;"></span>  Match Repositories
            </div>
          </mp-overlay-dialog-trigger>
          <mp-overlay-dialog-content style="background: white">
            <div>
              {{actor_a.value}} {{wikiRepo_b.value}}

            </div>
          </mp-overlay-dialog-content>
        </mp-overlay-dialog>
        {{/if}}
        {{/if}}
      {{/if}}
    {{/ifCond}}  
      
    </td>
  {{/each}}
  </tr>
{{/if}}