<div id="matchings" style="margin-top: 8vh">

  <h1  style="
  margin-bottom: 8vh;
  margin-left: 11%;
  display: flex;
  flex-direction: column;
">Statistics for Artists in each Photo Archive</h1>

          <div class="grid-list" >
            <div>
              <h2>Frick</h2>
              [[> StatisticTotalArtist partnerUri="https://artresearch.net/resource/frick/source/Frick"]]
            </div>
            <div>
              <h2>Hertziana</h2>
              [[> StatisticTotalArtist partnerUri="https://artresearch.net/resource/hertziana/source/Hertziana"]]
            </div>
            <div>
              <h2>I Tatti</h2>
              [[> StatisticTotalArtist partnerUri="https://artresearch.net/resource/itatti/source/ITatti"]]
            </div>
            <div>
              <h2>KHI</h2>
              [[> StatisticTotalArtist partnerUri="https://artresearch.net/resource/khi/source/KHI"]]
            </div>
            <div>
              <h2>Marburg</h2>
              [[> StatisticTotalArtist partnerUri="https://artresearch.net/resource/marburg/source/Marburg"]]
            </div>
            <div>
              <h2>Zeri</h2>
              [[> StatisticTotalArtist partnerUri="https://artresearch.net/resource/zeri/source/Zeri"]]
            </div>
          </div>
</div>