<div class="actions">
         
  <mp-overlay-dialog type="lightbox" title="Imitation/Copy of - Please select a pair of images">
    <mp-overlay-dialog-trigger
      placement="bottom"
      trigger='["hover","focus"]'
    >
        <button
          class="btn btn-default action optional"
          title="Imitation/Copy of"
        >
        Imitation/Copy of
      </button>
    </mp-overlay-dialog-trigger>
    <mp-overlay-dialog-content style="background: white">
      <div>
        [[> :ImageRelation relationLabel="is imitation/copy of" formField="http://www.researchspace.org/fieldDefinition/Imitation_Copy_of" simElement="{{bindings.0.element.value}}" ]]
      </div>
    </mp-overlay-dialog-content>
  </mp-overlay-dialog>


  <mp-overlay-dialog type="lightbox" title="Study/Sketch of - Please select a pair of images">
    <mp-overlay-dialog-trigger
    placement="bottom"
    trigger='["hover","focus"]'
    >
     <button
      class="btn btn-default action optional"
      title="Study/Sketch of"
    >
      Study/Sketch of
    </button>
  </mp-overlay-dialog-trigger>
  <mp-overlay-dialog-content style="background: white">
    <div>
      [[> :ImageRelation relationLabel="is a study/sketch of" formField="http://www.researchspace.org/fieldDefinition/Study_Sketch_of" simElement="{{bindings.0.element.value}}" ]]
    </div>
  </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <mp-overlay-dialog type="lightbox" title="Same negative - Please select a pair of images">
    <mp-overlay-dialog-trigger
    placement="bottom"
    trigger='["hover","focus"]'
    >
     <button
      class="btn btn-default action optional"
      title="Same negative"
    >
      Same negative
    </button>
  </mp-overlay-dialog-trigger>
  <mp-overlay-dialog-content style="background: white">
    <div>
      [[> :ImageRelation relationLabel="is the same negative as" formField="http://www.researchspace.org/fieldDefinition/Negative" simElement="{{bindings.0.element.value}}" ]]
    </div>
  </mp-overlay-dialog-content>
  </mp-overlay-dialog>
            
  <mp-overlay-dialog title="‎‎Confirm two artworks are similar (but not the same)" >
    <mp-overlay-dialog-trigger
      >
          <button
          id="1234"
          name="submit"
          class="btn btn-default action optional"
          title="Two instances are similar"
        > Similar </button>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content>
            <h1>Are you sure the two artworks are similar?</h1>
            <h2>If yes, click on "Confirm" button bellow.</h2>
            <semantic-form
            new-subject-template="{{bindings.0.element.value}}"
            browser-persistance="true"
            persistence='ldp'
            urlqueryparam-providera='[[urlParam "providera"]]'
            urlqueryparam-providerb='[[urlParam "providerb"]]'
            post-action='{{bindings.0.nextElement.value}}'
            form-id="IMApprove1"
            fields='[[fieldDefinitions
                                        similar="http://www.researchspace.org/fieldDefinition/Similar"
                                        ]]'
          >
            <semantic-form-hidden-input
              for="similar"
              default-value="true"
            ></semantic-form-hidden-input>

            <button
            id="1234"
            style="  
            font-size: medium;
            border: none ;
            min-height: 4vh;
            width: 8vw;
            color:white;
            min-width: 150px;
            box-shadow: 0px 0px 10px 1px #bebebe;"
            name="submit"
            class="btn btn-default action approve"
            title="Two instances are similar"
            > <div class="color-white"> Confirm</div> </button>
          </semantic-form>
          </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <mp-overlay-dialog title="‎‎Confirm two artworks are not similar" >
    <mp-overlay-dialog-trigger
      >
      <button
      name="submit"
      class="btn btn-warning action reject"
      title="Two instances are not the same"
    >
      Not similar
    </button>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content>
            <h1>Are you sure these two artowrk are not similar?</h1>
            <h2>If yes, click on "Confirm" button bellow.</h2>
            <semantic-form
            new-subject-template="{{bindings.0.element.value}}"
            browser-persistance="true"
            persistence='ldp'
            urlqueryparam-providera='[[urlParam "providera"]]'
            urlqueryparam-providerb='[[urlParam "providerb"]]'
            post-action="{{bindings.0.nextElement.value}}"
            form-id="IMReject"
            fields='[[fieldDefinitions
                      similar="http://www.researchspace.org/fieldDefinition/Similar"
                    ]]'
          >
            <semantic-form-hidden-input for="similar" default-value="false">
            </semantic-form-hidden-input>
            <button
            style="
            font-size: medium;
            border: none ;
            min-height: 4vh;
            width: 8vw;
            min-width: 150px;
            box-shadow: 0px 0px 10px 1px #bebebe;"
              name="submit"
              class="btn btn-warning action reject"
              title="Two instances are not the same"
            >
            <div class="color-white"> Confirm</div>
          </button>
          </semantic-form>
          </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <mp-overlay-dialog title="Confirm two artworks are the same" >
    <mp-overlay-dialog-trigger>
          <button
          id="1234"
          name="submit"
          class="btn btn-default action approve"
          title="Two instances are the same"
        > Same </button>
        </mp-overlay-dialog-trigger>
        <mp-overlay-dialog-content>
            <h1>Are you sure the two artworks are the same?</h1>
            <h2>If yes, select a preferred title bellow.</h2>

            <semantic-query
            query='SELECT ?label ?element ?nextElement WHERE {
              ?image <http://purl.org/ontology/similarity/element> <{{bindings.0.element.value}}>.
              ?work <https://pharos.artresearch.net/custom/has_image> ?image.
              ?work owl:sameAs ?pharos.
              ?work rdfs:label ?label.
              BIND(<{{bindings.0.element.value}}> as ?element)
              BIND(<{{bindings.0.nextElement.value}}> as ?nextElement)
            }' 
            template='{{> titleTemplate}}'>
              <template id="titleTemplate">
                <div class="forms-in-a-row" >
                {{#each bindings}}
                <semantic-form
                new-subject-template="{{element.value}}"
                browser-persistance="true"
                persistence='ldp'
                urlqueryparam-providera='[[urlParam "providera"]]'
                urlqueryparam-providerb='[[urlParam "providerb"]]'
                post-action='{{nextElement.value}}'
                form-id="IMApprove1"
                fields='[[fieldDefinitions
                          sameAs="http://www.researchspace.org/fieldDefinition/Same"
                          title="http://www.researchspace.org/fieldDefinition/Preferred_title"
                    ]]'
              >
                <semantic-form-hidden-input
                  for="sameAs"
                  default-value="true"
                ></semantic-form-hidden-input>

                <semantic-form-hidden-input
                  for="title"
                  default-value="{{label.value}}"
                ></semantic-form-hidden-input>

                <td>
                  <div class="selectionWrapper">
                   <div class="Label-value"> {{label.value}}</div>
                  <button
                  style="
                  font-size: medium;
                  border: none ;
                  text-transform: none;
                  height: 100%;
                  min-height: 4vh;
                  box-shadow: 0px 0px 10px 1px #bebebe;"
                    name="submit"
                    class="btn btn-warning action approve"
                    title="Two instances are not the same"
                  >
                  <div class="color-white"> Select: </div>
                </button>
               </div>
                </td>
              </semantic-form>
              {{/each}}
            </div>
            </template>
          </semantic-query>
          </mp-overlay-dialog-content>
  </mp-overlay-dialog>

  <semantic-form
    style="border-radius: 5px !important;"
    new-subject-template="{{bindings.0.element.value}}"
    browser-persistance="true"
    persistence='ldp'
    urlqueryparam-providera='[[urlParam "providera"]]'
    urlqueryparam-providerb='[[urlParam "providerb"]]'
    post-action='{{bindings.0.nextElement.value}}'
    form-id="IMSkip"
    fields='[[fieldDefinitions
              skipped="http://www.researchspace.org/fieldDefinition/Skipped"
    ]]'
  >
    <semantic-form-hidden-input for="skipped" default-value="true" ></semantic-form-hidden-input>
        <button style="text-transform: none; background: #a5a5a5 !important;"
                name="submit"
                id="1234"
                class="btn action skip"
                title="If not sure skip for later">
          <div class="color-white" style="font-weight: bold;"> Skip</div>
        </button>
  </td>
</semantic-form>
</div>