<!-- Two basic info for similariy (Photo & Text similarity scores)  -->
<div class="similarityInfo">
  <semantic-query
                  query='SELECT DISTINCT ?value WHERE {
                            <{{bindings.0.element.value}}> <http://purl.org/ontology/similarity/method> ?asso_method.
                            ?asso_method <http://purl.org/ontology/similarity/weight> ?value.
                            ?asso_method <http://purl.org/ontology/similarity/method> <https://vision.artresearch.net/resource/Similarity/AssociationMethod/Pastec>.
                         }'
                  template='{{> photoSimInfo}}'>
    <template id="photoSimInfo">
        <h4>Photo Similarity (Pastec) score</h4>
      <b class="simInfo">{{bindings.0.value.value}}</b>
    </template>                     
  </semantic-query>
</div>
<div class="similarityInfo">
  <semantic-query
                  query='SELECT DISTINCT ?value WHERE {
                            <{{bindings.0.element.value}}> <http://purl.org/ontology/similarity/method> ?asso_method.
                            ?asso_method <http://purl.org/ontology/similarity/weight> ?value.
                            ?asso_method <http://purl.org/ontology/similarity/method> <https://vision.artresearch.net/resource/Similarity/AssociationMethod/Match>.
                         }'
                  template='{{> photoSimInfo}}'>
    <template id="photoSimInfo">
        <h4>Photo Similarity (Match) score</h4>
      <b class="simInfo">{{bindings.0.value.value}}</b>
    </template>                     
  </semantic-query>
</div>
<div class="similarityInfo">
  <semantic-query
                  query=' SELECT DISTINCT ?value WHERE {
                            <{{bindings.0.subject1.value}}> <https://similarity.net/custom/matchedBy> ?similarity.
                            <{{bindings.0.subject2.value}}> <https://similarity.net/custom/matchedBy> ?similarity.
                            ?similarity <https://similarity.net/custom/hasConfidence> ?value.
                          }'
                  template='{{> titleSimInfo}}'
                  >
    <template id="titleSimInfo">
                  <h4>Title Text Similarity</h4>
      <div class="simInfo">
        <div class="titleSimilarity"> 
          {{bindings.0.value.value}}
        </div>
        <div> /1</div>
      </div>
    </template>                   
  </semantic-query>
</div>
