
<div class="table-responsive rs-table ">
  <table class="table table-hover">

      <div style="display: flex;
    flex-direction: column;">
      <div style="display: flex; gap:23vw">
        <div><h3>Field</h3></div>
        <div><h3><a href="{{bindings.0.subject1.value}}" title='View on artresearch' target="_null" class="fa fa-external-link"> {{bindings.0.providerLabelA.value}}</a></h3></div>
        <div ><h3><a href="{{bindings.0.subject2.value}}" title='View on artresearch' target="_null" class="fa fa-external-link"> {{bindings.0.providerLabelB.value}}</a></h3></div>
      </div>


      <!-- 72 FIELDS TO BE QUERIED (happy scrolling) -->
           

      <!--################################################################################-->
      <!--############################ MP-FIELD ##########################################--> 
      <!--################################################################################-->
      <div class="bodyTable">
      <mp-field-visualization
                      subject='{{bindings.0.subject1.value}}'
                      additional-subjects='[[jsonArrayFromSelect (setQueryBindings "SELECT ?s WHERE { BIND( [[subject2.value]] as ?s)  }" resource=this.iri)]]'
                      fields='[[fieldDefinitions  
                      Creator="https://vision.artresearch.net/fieldDefinitionContainer/Creator"
                      Repository="https://vision.artresearch.net/fieldDefinitionContainer/Repository"
                      RepositoryLoc="https://vision.artresearch.net/fieldDefinitionContainer/Repository_Location"
                      Photographers="https://vision.artresearch.net/fieldDefinitionContainer/Photographers"
                      IconClassInformaion="https://vision.artresearch.net/fieldDefinitionContainer/Iconclass_Information"
                      Photos="https://vision.artresearch.net/fieldDefinitionContainer/Photos"
                      InfluencedBy="https://vision.artresearch.net/fieldDefinitionContainer/Influenced_By"
                      Attr="https://vision.artresearch.net/fieldDefinitionContainer/Attribution"
                      ProdEarlieast="https://vision.artresearch.net/fieldDefinitionContainer/Production_Date_Earliest"
                      ProdLatest="https://vision.artresearch.net/fieldDefinitionContainer/Production_Date_Latest"
                      ProdDate="https://vision.artresearch.net/fieldDefinitionContainer/Production_Date"
                      PreciseLocation="https://vision.artresearch.net/fieldDefinitionContainer/Precise_Location_Description"
                      Photo_Archives_Records="https://vision.artresearch.net/fieldDefinitionContainer/Photo_Archive_Records"
                      Types="https://vision.artresearch.net/fieldDefinitionContainer/Types"
                      Subject="https://vision.artresearch.net/fieldDefinitionContainer/Subject"
                      SubjectDescription="https://vision.artresearch.net/fieldDefinitionContainer/Subject_Description"
                      Collection="https://vision.artresearch.net/fieldDefinitionContainer/Collection"
                      CurrentLocation="https://vision.artresearch.net/fieldDefinitionContainer/Current_Location"
                      Dimensions="https://vision.artresearch.net/fieldDefinitionContainer/Dimensions"
                      Dimension="https://vision.artresearch.net/fieldDefinitionContainer/Dimension"
                      Technique="https://vision.artresearch.net/fieldDefinitionContainer/Technique"
                      Material="https://vision.artresearch.net/fieldDefinitionContainer/Material"
                    ]]'
                      template="{{> rsp:MatchingCandidateFieldsVisualizationTest flag=true}}"
                    >
        </mp-field-visualization>
      <mp-field-visualization
                      subject='{{bindings.0.subject2.value}}'
                      fields='[[fieldDefinitions  
                      Creator="https://vision.artresearch.net/fieldDefinitionContainer/Creator"
                      Repository="https://vision.artresearch.net/fieldDefinitionContainer/Repository"
                      RepositoryLoc="https://vision.artresearch.net/fieldDefinitionContainer/Repository_Location"
                      Photographers="https://vision.artresearch.net/fieldDefinitionContainer/Photographers"
                      IconClassInformaion="https://vision.artresearch.net/fieldDefinitionContainer/Iconclass_Information"
                      Photos="https://vision.artresearch.net/fieldDefinitionContainer/Photos"
                      InfluencedBy="https://vision.artresearch.net/fieldDefinitionContainer/Influenced_By"
                      Attr="https://vision.artresearch.net/fieldDefinitionContainer/Attribution"
                      ProdEarlieast="https://vision.artresearch.net/fieldDefinitionContainer/Production_Date_Earliest"
                      ProdLatest="https://vision.artresearch.net/fieldDefinitionContainer/Production_Date_Latest"
                      ProdDate="https://vision.artresearch.net/fieldDefinitionContainer/Production_Date"
                      PreciseLocation="https://vision.artresearch.net/fieldDefinitionContainer/Precise_Location_Description"
                      Photo_Archives_Records="https://vision.artresearch.net/fieldDefinitionContainer/Photo_Archive_Records"
                      Types="https://vision.artresearch.net/fieldDefinitionContainer/Types"
                      Subject="https://vision.artresearch.net/fieldDefinitionContainer/Subject"
                      SubjectDescription="https://vision.artresearch.net/fieldDefinitionContainer/Subject_Description"
                      Collection="https://vision.artresearch.net/fieldDefinitionContainer/Collection"
                      CurrentLocation="https://vision.artresearch.net/fieldDefinitionContainer/Current_Location"
                      Dimensions="https://vision.artresearch.net/fieldDefinitionContainer/Dimensions"
                      Dimension="https://vision.artresearch.net/fieldDefinitionContainer/Dimension"
                      Technique="https://vision.artresearch.net/fieldDefinitionContainer/Technique"
                      Material="https://vision.artresearch.net/fieldDefinitionContainer/Material"
                    ]]'
                      template="{{> rsp:MatchingCandidateFieldsVisualizationTest flag=false}}"
                    >
        </mp-field-visualization>
    </div>
  </table>
</div>