<div class="providerList">
{{#ifCond providerA "===" "https://artresearch.net/resource/frick/source/Frick"}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/frick/source/Frick","selected":"Frick","[[providerImageSelector]]":"/assets/images/logos/Frick.png"}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selected btn"><h2><img class="sourceIcon" src="/assets/images/Frick.ico"/>Frick</h2></div>
  </mp-event-trigger>
{{else}}
  {{#ifCond providerB "===" "https://artresearch.net/resource/frick/source/Frick"}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/frick/source/Frick","selected":"Frick","[[providerImageSelector]]":"/assets/images/logos/Frick.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selectedSecond btn"><h2><img class="sourceIcon" src="/assets/images/Frick.ico"/>Frick</h2></div>
  </mp-event-trigger>
  {{else}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/frick/source/Frick","selected":"Frick","[[providerImageSelector]]":"/assets/images/logos/Frick.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn btn"><h2><img class="sourceIcon" src="/assets/images/Frick.ico"/>Frick</h2></div>
  </mp-event-trigger>
  {{/ifCond}}
{{/ifCond}}

{{#ifCond providerA "===" "https://artresearch.net/resource/hertziana/source/Hertziana"}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/hertziana/source/Hertziana","selected":"Hertziana","[[providerImageSelector]]":"/assets/images/logos/hertziana.svg"}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selected btn"><h2><img class="sourceIcon" src="/assets/images/Hertziana.ico"/>Hertziana</h2></div>
  </mp-event-trigger>
{{else}}
  {{#ifCond providerB "===" "https://artresearch.net/resource/hertziana/source/Hertziana"}}

  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/hertziana/source/Hertziana","selected":"Hertziana","[[providerImageSelector]]":"/assets/images/logos/hertziana.svg",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selectedSecond btn"><h2><img class="sourceIcon" src="/assets/images/Hertziana.ico"/>Hertziana</h2></div>
  </mp-event-trigger>
  {{else}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/hertziana/source/Hertziana","selected":"Hertziana","[[providerImageSelector]]":"/assets/images/logos/hertziana.svg",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn btn"><h2><img class="sourceIcon" src="/assets/images/Hertziana.ico"/>Hertziana</h2></div>
  </mp-event-trigger>
  {{/ifCond}}
{{/ifCond}}

{{#ifCond providerA "===" "https://artresearch.net/resource/itatti/source/ITatti"}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/itatti/source/ITatti","selected":"I Tatti","[[providerImageSelector]]":"/assets/images/logos/itatti.png"}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selected btn"><h2><img class="sourceIcon" src="/assets/images/I%20Tatti.ico"/>I Τatti</h2></div>
  </mp-event-trigger>
{{else}}
  {{#ifCond providerB "===" "https://artresearch.net/resource/itatti/source/ITatti"}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/itatti/source/ITatti","selected":"I Tatti","[[providerImageSelector]]":"/assets/images/logos/itatti.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selectedSecond btn"><h2><img class="sourceIcon" src="/assets/images/I%20Tatti.ico"/>I Τatti</h2></div>
  </mp-event-trigger>
  {{else}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/itatti/source/ITatti","selected":"I Tatti","[[providerImageSelector]]":"/assets/images/logos/itatti.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn btn"><h2><img class="sourceIcon" src="/assets/images/I%20Tatti.ico"/>I Τatti</h2></div>
  </mp-event-trigger>
  {{/ifCond}}
{{/ifCond}}

{{#ifCond providerA "===" "https://artresearch.net/resource/khi/source/KHI"}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/khi/source/KHI","selected":"KHI","[[providerImageSelector]]":"/assets/images/logos/KHI.png"}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selected btn"><h2><img class="sourceIcon" src="/assets/images/KHI.ico"/>KHI</h2></div>
  </mp-event-trigger>
{{else}}
  {{#ifCond providerB "===" "https://artresearch.net/resource/khi/source/KHI"}}

  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/khi/source/KHI","selected":"KHI","[[providerImageSelector]]":"/assets/images/logos/KHI.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selectedSecond btn"><h2><img class="sourceIcon" src="/assets/images/KHI.ico"/>KHI</h2></div>
  </mp-event-trigger>
  {{else}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/khi/source/KHI","selected":"KHI","[[providerImageSelector]]":"/assets/images/logos/KHI.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn btn"><h2><img class="sourceIcon" src="/assets/images/KHI.ico"/>KHI</h2></div>
  </mp-event-trigger>
  {{/ifCond}}
{{/ifCond}}

{{#ifCond providerA "===" "https://artresearch.net/resource/marburg/source/Marburg"}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/marburg/source/Marburg","selected":"Marburg","[[providerImageSelector]]":"/assets/images/logos/marb.png"}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selected btn"><h2><img class="sourceIcon" src="/assets/images/Marburg.ico"/>Marburg</h2></div>
  </mp-event-trigger>
{{else}}
  {{#ifCond providerB "===" "https://artresearch.net/resource/marburg/source/Marburg"}}

  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/marburg/source/Marburg","selected":"Marburg","[[providerImageSelector]]":"/assets/images/logos/marb.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selectedSecond btn"><h2><img class="sourceIcon" src="/assets/images/Marburg.ico"/>Marburg</h2></div>
  </mp-event-trigger>
  {{else}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/marburg/source/Marburg","selected":"Marburg","[[providerImageSelector]]":"/assets/images/logos/marb.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn btn"><h2><img class="sourceIcon" src="/assets/images/Marburg.ico"/>Marburg</h2></div>
  </mp-event-trigger>
  {{/ifCond}}
{{/ifCond}}

{{#ifCond providerA "===" "https://artresearch.net/resource/zeri/source/Zeri"}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/zeri/source/Zeri","selected":"Zeri","[[providerImageSelector]]":"/assets/images/logos/Zeri.png"}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selected btn"><h2><img class="sourceIcon" src="/assets/images/Zeri.ico"/>Zeri</h2></div>
  </mp-event-trigger>
{{else}}
  {{#ifCond providerB "===" "https://artresearch.net/resource/zeri/source/Zeri"}}

  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/zeri/source/Zeri","selected":"Zeri","[[providerImageSelector]]":"/assets/images/logos/Zeri.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selectedSecond btn"><h2><img class="sourceIcon" src="/assets/images/Zeri.ico"/>Zeri</h2></div>
  </mp-event-trigger>
  {{else}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/zeri/source/Zeri","selected":"Zeri","[[providerImageSelector]]":"/assets/images/logos/Zeri.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn btn"><h2><img class="sourceIcon" src="/assets/images/Zeri.ico"/>Zeri</h2></div>
  </mp-event-trigger>
  {{/ifCond}}
{{/ifCond}}
{{#ifCond providerA "===" "https://artresearch.net/resource/pmc/source/PMC"}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/pmc/source/PMC","selected":"PMC","[[providerImageSelector]]":"/assets/images/logos/PMC.png"}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selected btn"><h2><img class="sourceIcon" src="/assets/images/PMC.ico"/>PMC</h2></div>
  </mp-event-trigger>
{{else}}
  {{#ifCond providerB "===" "https://artresearch.net/resource/pmc/source/PMC"}}

  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/pmc/source/PMC","selected":"PMC","[[providerImageSelector]]":"/assets/images/logos/PMC.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selectedSecond btn"><h2><img class="sourceIcon" src="/assets/images/PMC.ico"/>PMC</h2></div>
  </mp-event-trigger>
  {{else}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/pmc/source/PMC","selected":"PMC","[[providerImageSelector]]":"/assets/images/logos/PMC.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn btn"><h2><img class="sourceIcon" src="/assets/images/PMC.ico"/>PMC</h2></div>
  </mp-event-trigger>
  {{/ifCond}}
{{/ifCond}}
{{#ifCond providerA "===" "https://artresearch.net/resource/nga/source/NGA"}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/nga/source/NGA","selected":"NGA","[[providerImageSelector]]":"/assets/images/logos/NGA.png"}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selected btn"><h2><img class="sourceIcon" src="/assets/images/NGA.ico"/>NGA</h2></div>
  </mp-event-trigger>
{{else}}
  {{#ifCond providerB "===" "https://artresearch.net/resource/nga/source/NGA"}}

  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/nga/source/NGA","selected":"NGA","[[providerImageSelector]]":"/assets/images/logos/NGA.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn selectedSecond btn"><h2><img class="sourceIcon" src="/assets/images/NGA.ico"/>NGA</h2></div>
  </mp-event-trigger>
  {{else}}
  <mp-event-trigger
    id="event-trigger"
    type="Component.TemplateUpdate"
    data='{"[[providerSelector]]":"https://artresearch.net/resource/nga/source/NGA","selected":"NGA","[[providerImageSelector]]":"/assets/images/logos/NGA.png",[[additionals]]}'
    targets='["provider-image","provider-selector"]'
  >
    <div class="providerBtn btn"><h2><img class="sourceIcon" src="/assets/images/NGA.ico"/>NGA</h2></div>
  </mp-event-trigger>
  {{/ifCond}}
{{/ifCond}}
</div>