      <div class="row">
          <div class="col-sm-7">
            <header>
              <h1 style="padding-left:10vw">Report Error in a Similarity for artwork : 
                <semantic-link class="errorTitle" iri='{{artwork.value}}' ></semantic-link>
            </header>
          </div>
        </div>
    
  <semantic-table
    id='resources-results'
    number-of-displayed-rows=10  
    query ='SELECT ?image1 ?image2 ?sim ?reviewed  WHERE {
            { ?image1 <http://purl.org/ontology/similarity/element> ?sim.
              ?image2 <http://purl.org/ontology/similarity/element> ?sim.
              <[[urlParam "artwork"]]> <https://artresearch.net/custom/has_image> ?image1.
            }UNION{
              ?image2 <http://purl.org/ontology/similarity/element> ?sim.
              ?image1 <http://purl.org/ontology/similarity/element> ?sim.
              <[[urlParam "artwork"]]> <https://artresearch.net/custom/has_image> ?image2.
            }
            OPTIONAL{?sim <https://vision.artresearch.net/custom/reviewed> ?reviewed}
              FILTER(STR(?image1)>STR(?image2))
            } order by desc(?reviewed)'
    no-result-template='<h1 style="color:#d13239 ">There are no similarities with this artwork.</h1>'
    column-configuration='[
                        {"variableName":"artwork","displayName":"Artwork", "cellTemplate": "<semantic-link iri=\"[[urlParam "artwork"]]\" ></semantic-link>"},
                        {
                                  "displayName": "Image1", 
                                  "cellTemplate": "{{>tableImageTemplate1}}"
                        },
                        {
                                  "displayName": "Image2", 
                                  "cellTemplate": "{{>tableImageTemplate2}}"
                        },
                        {"variableName":"sim","displayName":"Similarity", "cellTemplate": "<semantic-link iri=\"{{sim.value}}\">{{sim.value}}</semantic-link>"},
                        {"variableName":"reviewed","displayName":"Reviewed", "cellTemplate": "{{reviewed.value}}"}
                    ]'
  >
  <template id="tableImageTemplate1">
      <div class="thumbnailImageContainerTabular">
        <scroll-to-top querySelector=".pagination li"></scroll-to-top>
        <img alt="   " class="thumbnailImageTabular" src="{{image1.value}}" />
      </div>
    </template>

    <template id="tableImageTemplate2">
      <div class="thumbnailImageContainerTabular">
        <scroll-to-top querySelector=".pagination li"></scroll-to-top>
        <img alt="   " class="thumbnailImageTabular" src="{{image2.value}}" />
      </div>
    </template>
  </semantic-table>


<style>
  .errorTitle{
    color: #4b93db !important;
    text-decoration: underline;
  }
  .thumbnailImageTabular {
  height: 100px;
  object-fit: contain;
}
</style>