<!-- Two basic info for similariy (Photo & Text similarity scores)  -->
<div class="similarityInfo">
  <semantic-query
                  query='SELECT DISTINCT ?value WHERE {
                          <{{bindings.0.imageA.value}}> <http://purl.org/ontology/similarity/element> ?sim.
                          <{{bindings.0.imageB.value}}> <http://purl.org/ontology/similarity/element> ?sim.
                          ?sim <http://purl.org/ontology/similarity/method> ?asso_method.
                          ?asso_method <http://purl.org/ontology/similarity/method> <https://vision.artresearch.net/resource/Similarity/AssociationMethod/Pastec>.
                          ?asso_method <http://purl.org/ontology/similarity/weight> ?value.
                         }'
                  template='{{> photoSimInfo}}'>
    <template id="photoSimInfo">
        <h4>Photo Similarity</h4>
       <h4>Pastec:<b class="simInfo">{{bindings.0.value.value}}</b></h4>
    </template>                     
  </semantic-query>
</div>
<div class="similarityInfo">
  <semantic-query
                  query='SELECT DISTINCT ?value WHERE {
                          <{{bindings.0.imageA.value}}> <http://purl.org/ontology/similarity/element> ?sim.
                          <{{bindings.0.imageB.value}}> <http://purl.org/ontology/similarity/element> ?sim.
                          ?sim <http://purl.org/ontology/similarity/method> ?asso_method.
                          ?asso_method <http://purl.org/ontology/similarity/method> <https://vision.artresearch.net/resource/Similarity/AssociationMethod/Match>.
                          ?asso_method <http://purl.org/ontology/similarity/weight> ?value.
                         }'
                  template='{{> photoSimInfo}}'>
    <template id="photoSimInfo">
      <h4>Photo Similarity</h4>
      <h4>Pastec:<b class="simInfo">{{bindings.0.value.value}}</b></h4>
    </template>                     
  </semantic-query>
</div>
<div class="similarityInfo">
  <semantic-query
                  query=' SELECT DISTINCT ?value WHERE {
                            <{{bindings.0.subject1.value}}> <https://similarity.net/custom/matchedBy> ?similarity.
                            <{{bindings.0.subject2.value}}> <https://similarity.net/custom/matchedBy> ?similarity.
                            ?similarity <https://similarity.net/custom/hasConfidence> ?value.
                          }'
                  template='{{> titleSimInfo}}'
                  >
    <template id="titleSimInfo">
                  <h4>Title Text Similarity</h4>
      <div class="simInfo">
        <div class="titleSimilarity"> 
          {{bindings.0.value.value}}
        </div>
        <div> /1</div>
      </div>
    </template>                   
  </semantic-query>
</div>
