
  <div class=" rs-grid-element panel panel-default artwork-card fade-in ">
    <div style="display: flex; width: 100%; gap: 5px; font-size: 16px; justify-content: flex-end; padding-right: 15px;">
  <h2>by <mp-label iri="{{attribution.value}}"></mp-label> at {{dateTimeFormat modifiedAt.value "DD/MM/YY HH:mm:ss"}}</h2>
    <p></p>
  <semantic-query 
    query=" SELECT ?infotext (<{{attribution.value}}> AS ?attribution) WHERE {
              GRAPH ?g {
                <{{similarity.value}}>  fr:Work_for_review ?infotext .
                ?subject <http://www.w3.org/ns/prov#wasAttributedTo> <{{attribution.value}}>.
              }
            }"
      template="{{>info}}">
      <template id="info">
        <p></p>
        {{#each bindings}}
          <h2 >Note:  {{infotext.value}} </h2>
        {{/each}}
      </template>
  </semantic-query>
  </div>

  <div class="panel-body row">
    <bs-col class="cardInfo" lg="2" xs="10">
      [[> :SimilarityListThumbnails iri="{{work.value}}"]]
    </bs-col>
    <bs-col class="cardInfo" lg="4" xs="10">
      <div data-flex-layout="row md-column center-stretch">
        <bs-row class="cardInfoFields">
          <h2>
            [[> rsp:SourceIcon
            providerLabel="{{providerLabelA.value}}"]]{{providerLabelA.value}}
          </h2>
          <mp-field-visualization
            subject="{{work.value}}"
            fields='[[fieldDefinitions  
                    Title="https://artresearch.net/fieldDefinition/2"
                    Creator="https://artresearch.net/fieldDefinition/1"
                    ]]'
            template="{{>generalInfo}}"
          >
            <template id="generalInfo">
              [[> rsp:ResourceFieldBasedVisualization
              subject="{{work.value}}" ]]
            </template>
          </mp-field-visualization>
        </bs-row>
      </div>
    </bs-col>
    <bs-col class="cardInfo" lg="2" xs="10">
      [[> :SimilarityListThumbnails iri="{{work2.value}}"]]
    </bs-col>

    <bs-col class="cardInfo" lg="4" xs="10">
      <div data-flex-layout="row md-column center-stretch">
        <bs-row class="cardInfoFields">
          <h2>
            [[> rsp:SourceIcon
            providerLabel="{{providerLabelB.value}}"]]{{providerLabelB.value}}
          </h2>
          <mp-field-visualization
            subject="{{work2.value}}"
            fields='[[fieldDefinitions  
                      Title="https://artresearch.net/fieldDefinition/2"
                      Creator="https://artresearch.net/fieldDefinition/1"
                      ]]'
            template="{{>generalInfo}}"
          >
            <template id="generalInfo">
              [[> rsp:ResourceFieldBasedVisualization
              subject="{{work2.value}}" ]]
            </template>
          </mp-field-visualization>
        </bs-row>
      </div>
    </bs-col>
  </div>
  <div class="actions">
    <semantic-link 
      iri="{{similarity.value}}"
      urlqueryparam-providera='{{providerA.value}}'
      urlqueryparam-providerb='{{providerB.value}}'
    >
      <button class="btn action btn-success">
        View details
      </button>
    </semantic-link>
    <mp-ldp-remove-from-container-action iri="{{subject.value}}" container="http://www.researchspace.org/resource/system/formContainer">
      <button title='This action will remove the item from your [[type]] list. It will be then available under artwork matchings for you or another reviewer to review.' class="btn action btn-danger" style="margin-right:8px;"><i style="color: white;" class="fa fa-trash" aria-hidden=true></i> Delete</button>
    </mp-ldp-remove-from-container-action>
  </div>
  </div>


<style>
  .actions{
  gap: 150px;
  }
  .matchingImage {
    height: 18vh !important;
    margin: 0vw !important;
  }
</style>