<div id="matchings">
  <!-- PHAROS SECTION -->
  <div>
    <div class="matchingContainer" >
      <div class="canditate">
        <div style="display: flex;">
          <!-- <img style="border-radius: 100%; object-fit: fill; height: 100px; width: 100px;"  src="http://commons.wikimedia.org/wiki/Special:FilePath/Michelangelo%20Daniele%20da%20Volterra%20%28dettaglio%29.jpg?width=500" /> -->
          <div style="display: flex; flex-direction: column; margin-left: 15px;">
            <h1 style="font-size: 32px !important">     
              <mp-label iri="[[repositoryA]]" ></mp-label>
            </h1>
            <small><a target="_viewSubjectRepository" href="https://artresearch.net/resource/?uri=[[repositoryA]]">View on artresearch</a></small>
          </div>
        </div>
        <div>
          <mp-field-visualization
          subject="[[repositoryA]]"
          fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <https://pharos.artresearch.net/resource/custom/fc/institution>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
          template='{{>workInfo}}'
          >
        <template id="workInfo">
          <div class="workInfoContainer">
            [[> :ResourceFieldBasedVisualization subject=[[repositoryA]] ]]
          </div>
        </template>
        </mp-field-visualization>
        </div>
      </div>
      <div class="separatingLine"></div>
      <div class="canditate">
        <h2 style="font-size: 22px; margin-bottom: 4vh;">Click on "Same" button to verify suggested matches</h2 style="font-size: 22px;">
          <small>or click "Generate" to create new Pharos URI</small>
          <semantic-query
          query='SELECT ?match ?recommended ?currentCanditate ?image WHERE {
            OPTIONAL{
              ?match <https://pharos.artresearch.net/resource/fr/Institution_depicted_by> ?wikiImage.
              BIND(str(?wikiImage) as ?image)
            }
            BIND(<[[match]]> as ?match)
            BIND(<[[repositoryA]]> as ?currentCanditate)
         }'
         template="{{>possibleMatchesTemplate}}"
         >  
         <template id="possibleMatchesTemplate">
          <div class="actions">
            <semantic-form
              new-subject-template="{{bindings.0.currentCanditate.value}}"
              browser-persistance="true"
              persistence="sparql"
              post-action="reload"
              form-id="samehash"
              fields='[[  fieldDefinitions
                          confirmed="http://www.researchspace.org/fieldDefinition/Confirmed_Matched_Institutions_Hash"
                      ]]'
            >
              <semantic-form-hidden-input
                for="confirmed"
                default-value="true"
              ></semantic-form-hidden-input>
  
              <button
                id="12345"
                name="submit"
                class="btn fa fa-plus generate"
                title="Click to generate new Pharos URI"
              >Generate</button>
            </semantic-form>
          </div>
           {{#each bindings}}
              <div class="matchingCard">
                <div class="matchingCardHeader">
                  {{#if image.value}}
                    <img src="{{image.value}}?width=250"/>
                  {{/if}}
                <div class="matchingCardHeaderInfo">
                  <h2  style="font-size: 24px; font-weight: bold;">
                    <mp-label iri="{{match.value}}" ></mp-label>
                    </h2>
                    {{#ifCond recommended.value "===" match.value }}
                    <h2 class="recommendedText">
                      Recommended
                    </h2>
                    {{/ifCond}}
                    <mp-overlay-dialog title="‎‎{{match.value}}" type="lightbox">
                      <mp-overlay-dialog-trigger
                        >
                    <small class="clickable">View at WikiData</small>
                      </mp-overlay-dialog-trigger>
                      <mp-overlay-dialog-content>
                        <iframe src="{{match.value}}"></iframe>
                      </mp-overlay-dialog-content>
                    </mp-overlay-dialog>
                </div>
                <div class="actions">
                
                <semantic-form
                  new-subject-template="{{currentCanditate.value}}"
                  browser-persistance="true"
                  persistence="sparql"
                  post-action="reload"
                  form-id="IMApprove1"
                  fields='[[  fieldDefinitions
                              confirmed="http://www.researchspace.org/fieldDefinition/Confirmed_Matched_Institutions"
                          ]]'
                >
                  <semantic-form-hidden-input
                    for="confirmed"
                    default-value="{{match.value}}"
                  ></semantic-form-hidden-input>

                  <button
                    id="1234"
                    name="submit"
                    class="btn btn-default action approve"
                    title="Click to confirm two Repository instances as the same"
                  > Same </button>
                </semantic-form>
                </div>
              </div>
              <div class="matchingCardBody">
                <mp-field-visualization
                subject="{{match.value}}"
                fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/external_info>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
                template='{{>workInfo}}'
                >
              <template id="workInfo">
                <div class="workInfoContainer">
                  [[> :ResourceFieldBasedVisualization subject="{{match.value}}" ]]
                </div>
              </template>
              </mp-field-visualization>
              </div>
            </div>
          {{/each}}
       </template>
       </semantic-query>
      </div>
    </template>
  </semantic-query>
    </div>
</div>