<div id="similarity-template"> 
  <semantic-query
    
    query=" SELECT DISTINCT ?element ?subject1 ?subject1Link ?subject2 ?subject2Link ?providerLabelA ?providerLabelB ?imageA ?imageB WHERE {
                              ?imageA <http://purl.org/ontology/similarity/element> ??.
                              ?imageB <http://purl.org/ontology/similarity/element> ??.
                              ?subject1 <https://pharos.artresearch.net/custom/has_image> ?imageA.
                              ?subject2 <https://pharos.artresearch.net/custom/has_image> ?imageB.
                              ?subject1 <https://pharos.artresearch.net/custom/has_provider> ?providerA.
                              ?providerA rdfs:label ?providerLabelA.
                              ?subject2 <https://pharos.artresearch.net/custom/has_provider> ?providerB.
                              ?providerB rdfs:label ?providerLabelB.
                              BIND (STR(?subject1) as ?subject1Link)
                              BIND (STR(?subject2) as ?subject2Link)
                              BIND (?? as ?element)
                              FILTER (STR(?imageA)!=STR(?imageB))

                          } Limit 1"
    template="{{>matchingTemplate}}"
  >
    <template id="matchingTemplate">
      <div class="instanceMatchingPage">
        <!-- Photos & similarity information -->
        <div class="pharosFieldViewer">
          <mp-event-target-template-render
            id="large-image-display"
            template="{{> largeImageDisplay}}"
          >
            <template id="largeImageDisplay">
              {{#ifCond imageA "&&" imageB}} 
                  [[> rsp:MatchingCanditateImages element="{{element}}" imageA="{{imageA}}" imageB="{{imageB}}"]] 
              {{else}} 
                  [[> rsp:MatchingCanditateImages element="{{bindings.0.element.value}}" imageA="{{bindings.0.imageA.value}}" imageB="{{bindings.0.imageB.value}}"]]
              {{/ifCond}}
            </template>
          </mp-event-target-template-render>

        </div>
        <semantic-query
        query='SELECT DISTINCT ?element ?imageA ?imageB ?thumbA ?thumbB WHERE{
                  <{{bindings.0.subject1.value}}>  <https://pharos.artresearch.net/custom/has_image> ?imageA.
                  BIND(REPLACE(STR(?imageA),"full/full","full/!150,150") AS ?thumbA).
                  <{{bindings.0.subject2.value}}>  <https://pharos.artresearch.net/custom/has_image> ?imageB.
                  BIND(REPLACE(STR(?imageB),"full/full","full/!150,150") AS ?thumbB).
                  ?imageA <http://purl.org/ontology/similarity/element> ?element.
                  ?imageB <http://purl.org/ontology/similarity/element> ?element.
              }'
        template="{{>imageAthumbs}}"
      >
        <template id="imageAthumbs">
          {{#ifCond (objectLength bindings) "!==" 1}}
          <small style="position: relative; width: 70%; left: -10%;">Click on the pairs to view photo similarities</small>
          <div class="imageFlex">

              {{#each bindings}}
              <mp-event-trigger
                id="event-trigger-image-a"
                type="Component.TemplateUpdate"
                data='{"element":"{{element.value}}","imageA":"{{imageA.value}}","imageB":"{{imageB.value}}"}'
                targets='["large-image-display"]'
              >
                <div class="thumbPairContainer">                  
                  <img class="smallThumbsSingle" src="{{thumbA.value}}" />
                  <img class="smallThumbsSingle" src="{{thumbB.value}}" />
                </div>
              </mp-event-trigger>
              {{/each}}
            </div>
            {{/ifCond}}
        </template>
      </semantic-query>
        <div class="matchContainer">
          <!-- Matching candidates fields comparison table -->
          <div class="fieldViewer">[[> rsp:MatchingCanditateFields]]</div>
        </div>
        <p></p>
        <p></p>
         {{#if '[[urlParam "providera"]]'}}
          <div class="sidebar">
            <semantic-query
              query=' SELECT ?element ?nextElement WHERE {
                                                ?imageA_next <http://purl.org/ontology/similarity/element> ?nextElement.
                                                ?imageB_next <http://purl.org/ontology/similarity/element> ?nextElement.
                                                ?subject1_next <https://pharos.artresearch.net/custom/has_image> ?imageA_next.
                                                ?subject2_next <https://pharos.artresearch.net/custom/has_image> ?imageB_next.
                                                ?subject1_next <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "providera"]]>.
                                                ?subject2_next <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "providerb"]]>.
                                                ?imageA_next <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type.
                                                ?type rdfs:label "recto".
                                                FILTER(STR(?subject1_next)!=STR(?subject2_next))
                                                FILTER(STR(?element)!=STR(?nextElement))
                                                FILTER NOT EXISTS { ?nextElement <https://vision.artresearch.net/custom/reviewed> "true"^^xsd:boolean }
                                                BIND (<{{bindings.0.element.value}}> AS ?element)
                                            }LIMIT 1'
              template="{{>imageInfoTemplate}}"
            >
              <template id="imageInfoTemplate">
                <div class="actions">
                  <button
                    class="btn btn-default action optional"
                    title="Two instances are the same"
                  >
                    Imitation/Copy of
                  </button>
                  <button
                    class="btn btn-default action optional"
                    title="Two instances are the same"
                  >
                    Style of
                  </button>
                  <button
                    class="btn btn-default action optional"
                    title="Two instances are the same"
                  >
                    School of
                  </button>
                  <button
                    class="btn btn-default action optional"
                    title="Two instances are the same"
                  >
                    Study/Sketch of
                  </button>
                  <button
                    class="btn btn-default action optional"
                    title="Two instances are the same"
                  >
                    Same negative
                  </button>
                  <semantic-form
                    new-subject-template="{{bindings.0.element.value}}"
                    browser-persistance="true"
                    persistence='ldp'
                    post-action="{{bindings.0.nextElement.value}}"
                    form-id="IMReject"
                    fields='[[fieldDefinitions
                                reviewed="http://www.researchspace.org/fieldDefinition/Reviewed" 
                            ]]'
                  >
                    <semantic-form-hidden-input for="reviewed" default-value="true">
                    </semantic-form-hidden-input>

                    <button
                      name="submit"
                      class="btn btn-warning action reject"
                      title="Two instances are not the same"
                    >
                      Not similar
                    </button>
                  </semantic-form>

                  <semantic-form
                    new-subject-template="{{bindings.0.element.value}}"
                    browser-persistance="true"
                    persistence='ldp'
                    urlqueryparam-providera='[[urlParam "providera"]]'
                    urlqueryparam-providerb='[[urlParam "providerb"]]'
                    post-action='{{bindings.0.nextElement.value}}'
                    form-id="IMApprove1"
                    fields='[[fieldDefinitions
                                                sameAs="http://www.researchspace.org/fieldDefinition/Same"
                                                ]]'
                  >

                    <semantic-form-hidden-input
                      for="sameAs"
                      default-value="true"
                    ></semantic-form-hidden-input>

                    <button
                      id="1234"
                      name="submit"
                      class="btn btn-default action approve"
                      title="Two instances are the same"
                    >
                      Same
                    </button>
                  </semantic-form>
                </div>
              </template>
            </semantic-query>
          </div>
        {{/if}}
      </div>
    </template>
  </semantic-query>
</div>