<div id="similarity-template"> 
  <semantic-query
    
    query=" SELECT DISTINCT ?element ?subject1 ?subject1Link ?subject2 ?subject2Link ?providerLabelA ?providerLabelB ?imageA ?imageB WHERE {
                              ?imageA <http://purl.org/ontology/similarity/element> ??.
                              ?imageB <http://purl.org/ontology/similarity/element> ??.
                              ?subject1 <https://pharos.artresearch.net/custom/has_image> ?imageA.
                              ?subject2 <https://pharos.artresearch.net/custom/has_image> ?imageB.
                              ?subject1 <https://pharos.artresearch.net/custom/has_provider> ?providerA.
                              ?providerA rdfs:label ?providerLabelA.
                              ?subject2 <https://pharos.artresearch.net/custom/has_provider> ?providerB.
                              ?providerB rdfs:label ?providerLabelB.
                              BIND (STR(?subject1) as ?subject1Link)
                              BIND (STR(?subject2) as ?subject2Link)
                              BIND (?? as ?element)
                              FILTER (STR(?imageA)!=STR(?imageB))

                          } Limit 1"
    template="{{>matchingTemplate}}"
  >
    <template id="matchingTemplate">
      <div class="instanceMatchingPage">
        <!-- Photos & similarity information -->
        <div class="pharosFieldViewer">
          <mp-event-target-template-render
            id="large-image-display"
            template="{{> largeImageDisplay}}"
          >
            <template id="largeImageDisplay">
              {{#ifCond imageA "&&" imageB}} 
                  [[> rsp:MatchingCanditateImages element="{{element}}" imageA="{{imageA}}" imageB="{{imageB}}"]] 
              {{else}} 
                  [[> rsp:MatchingCanditateImages element="{{bindings.0.element.value}}" imageA="{{bindings.0.imageA.value}}" imageB="{{bindings.0.imageB.value}}"]]
              {{/ifCond}}
            </template>
          </mp-event-target-template-render>

        </div>
        <semantic-query
        query='SELECT DISTINCT ?element ?imageA ?imageB ?thumbA ?thumbB WHERE{
                  <{{bindings.0.subject1.value}}>  <https://pharos.artresearch.net/custom/has_image> ?imageA.
                  BIND(REPLACE(STR(?imageA),"full/full","full/!150,150") AS ?thumbA).
                  <{{bindings.0.subject2.value}}>  <https://pharos.artresearch.net/custom/has_image> ?imageB.
                  BIND(REPLACE(STR(?imageB),"full/full","full/!150,150") AS ?thumbB).
                  ?imageA <http://purl.org/ontology/similarity/element> ?element.
                  ?imageB <http://purl.org/ontology/similarity/element> ?element.
              }'
        template="{{>imageAthumbs}}"
      >
        <template id="imageAthumbs">
          {{#ifCond (objectLength bindings) "!==" 1}}
          <small style="position: relative; width: 70%; left: -10%;">Click on the pairs to view photo similarities</small>
          <div class="imageFlex">

              {{#each bindings}}
              <mp-event-trigger
                id="event-trigger-image-a"
                type="Component.TemplateUpdate"
                data='{"element":"{{element.value}}","imageA":"{{imageA.value}}","imageB":"{{imageB.value}}"}'
                targets='["large-image-display"]'
              >
                <div class="thumbPairContainer">                  
                  <img class="smallThumbsSingle" src="{{thumbA.value}}" />
                  <img class="smallThumbsSingle" src="{{thumbB.value}}" />
                </div>
              </mp-event-trigger>
              {{/each}}
            </div>
            {{/ifCond}}
        </template>
      </semantic-query>
        <div class="matchContainer">
          <!-- Matching candidates fields comparison table -->
          <div class="fieldViewer">[[> rsp:MatchingCanditateFields]]</div>
        </div>
        <p></p>
        <p></p>
         {{#if '[[urlParam "providera"]]'}}
          <div class="sidebar">
            <semantic-query
              query=' SELECT ?element ?nextElement ?subject1 ?subject2 WHERE {
                      ?imageA_next <http://purl.org/ontology/similarity/element> ?nextElement.
                      ?imageB_next <http://purl.org/ontology/similarity/element> ?nextElement.
                      ?subject1_next <https://pharos.artresearch.net/custom/has_image> ?imageA_next.
                      ?subject2_next <https://pharos.artresearch.net/custom/has_image> ?imageB_next.
                      ?subject1_next <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "providera"]]>.
                      ?subject2_next <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "providerb"]]>.
                      ?imageA_next <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type.
                      ?type rdfs:label "recto".
                      BIND(<{{bindings.0.subject1.value}}> AS ?subject1)
                      BIND(<{{bindings.0.subject2.value}}> AS ?subject2)
                      FILTER(?subject1_next != ?subject2_next)
                      FILTER(?element != ?nextElement)
                      FILTER NOT EXISTS { ?nextElement <https://vision.artresearch.net/custom/reviewed> "true"^^xsd:boolean }
                      FILTER NOT EXISTS { ?nextElement <https://vision.artresearch.net/custom/skipped> "true"^^xsd:boolean }
                      BIND (<{{bindings.0.element.value}}> AS ?element)
                  }LIMIT 1'
              template="{{>imageInfoTemplate}}"
            >
              <template id="imageInfoTemplate">
                <div class="actions">
         
                  <mp-overlay-dialog type="lightbox" title="Imitation/Copy of - Please select a pair of images">
                    <mp-overlay-dialog-trigger
                      placement="bottom"
                      trigger='["hover","focus"]'
                    >
                        <button
                          class="btn btn-default action optional"
                          title="Imitation/Copy of"
                        >
                        Imitation/Copy of
                      </button>
                    </mp-overlay-dialog-trigger>
                    <mp-overlay-dialog-content style="background: white">
                      <div>
                        [[> :ImageRelation relationLabel="is imitation/copy of" formField="http://www.researchspace.org/fieldDefinition/Imitation_Copy_of" simElement="{{bindings.0.element.value}}" ]]
                      </div>
                    </mp-overlay-dialog-content>
                  </mp-overlay-dialog>
  

                  <mp-overlay-dialog type="lightbox" title="Study/Sketch of - Please select a pair of images">
                    <mp-overlay-dialog-trigger
                    placement="bottom"
                    trigger='["hover","focus"]'
                    >
                     <button
                      class="btn btn-default action optional"
                      title="Study/Sketch of"
                    >
                      Study/Sketch of
                    </button>
                  </mp-overlay-dialog-trigger>
                  <mp-overlay-dialog-content style="background: white">
                    <div>
                      [[> :ImageRelation relationLabel="is a study/sketch of" formField="http://www.researchspace.org/fieldDefinition/Study_Sketch_of" simElement="{{bindings.0.element.value}}" ]]
                    </div>
                  </mp-overlay-dialog-content>
                  </mp-overlay-dialog>

                  <mp-overlay-dialog type="lightbox" title="Same negative - Please select a pair of images">
                    <mp-overlay-dialog-trigger
                    placement="bottom"
                    trigger='["hover","focus"]'
                    >
                     <button
                      class="btn btn-default action optional"
                      title="Same negative"
                    >
                      Same negative
                    </button>
                  </mp-overlay-dialog-trigger>
                  <mp-overlay-dialog-content style="background: white">
                    <div>
                      [[> :ImageRelation relationLabel="is the same negative as" formField="http://www.researchspace.org/fieldDefinition/Negative" simElement="{{bindings.0.element.value}}" ]]
                    </div>
                  </mp-overlay-dialog-content>
                  </mp-overlay-dialog>
                            
                  <mp-overlay-dialog title="‎‎Confirm two artworks are similar (but not the same)" >
                    <mp-overlay-dialog-trigger
                      >
                          <button
                          id="1234"
                          name="submit"
                          class="btn btn-default action optional"
                          title="Two instances are similar"
                        > Similar </button>
                        </mp-overlay-dialog-trigger>
                        <mp-overlay-dialog-content>
                            <h1>Are you sure the two artworks are similar?</h1>
                            <h2>If yes, click on "Confirm" button bellow.</h2>
                            <semantic-form
                            new-subject-template="{{bindings.0.element.value}}"
                            browser-persistance="true"
                            persistence='ldp'
                            urlqueryparam-providera='[[urlParam "providera"]]'
                            urlqueryparam-providerb='[[urlParam "providerb"]]'
                            post-action='{{bindings.0.nextElement.value}}'
                            form-id="IMApprove1"
                            fields='[[fieldDefinitions
                                                        sameAs="http://www.researchspace.org/fieldDefinition/Same"
                                                        ]]'
                          >
        
                            <semantic-form-hidden-input
                              for="sameAs"
                              default-value="true"
                            ></semantic-form-hidden-input>
          
                            <button
                            id="1234"
                            style="  
                            font-size: medium;
                            border: none ;
                            min-height: 4vh;
                            width: 8vw;
                            color:white;
                            min-width: 150px;
                            box-shadow: 0px 0px 10px 1px #bebebe;"
                            name="submit"
                            class="btn btn-default action approve"
                            title="Two instances are similar"
                            > <div class="color-white"> Confirm</div> </button>
                          </semantic-form>
                          </mp-overlay-dialog-content>
                  </mp-overlay-dialog>

                  <mp-overlay-dialog title="‎‎Confirm two artworks are not similar" >
                    <mp-overlay-dialog-trigger
                      >
                      <button
                      name="submit"
                      class="btn btn-warning action reject"
                      title="Two instances are not the same"
                    >
                      Not similar
                    </button>
                        </mp-overlay-dialog-trigger>
                        <mp-overlay-dialog-content>
                            <h1>Are you sure these two artowrk are not similar?</h1>
                            <h2>If yes, click on "Confirm" button bellow.</h2>
                            <semantic-form
                            new-subject-template="{{bindings.0.element.value}}"
                            browser-persistance="true"
                            persistence='ldp'
                            post-action="{{bindings.0.nextElement.value}}"
                            form-id="IMReject"
                            fields='[[fieldDefinitions
                                        reviewed="http://www.researchspace.org/fieldDefinition/Reviewed" 
                                    ]]'
                          >
                            <semantic-form-hidden-input for="reviewed" default-value="true">
                            </semantic-form-hidden-input>
                            <button
                            style="
                            font-size: medium;
                            border: none ;
                            min-height: 4vh;
                            width: 8vw;
                            min-width: 150px;
                            box-shadow: 0px 0px 10px 1px #bebebe;"
                              name="submit"
                              class="btn btn-warning action reject"
                              title="Two instances are not the same"
                            >
                            <div class="color-white"> Confirm</div>
                          </button>
                          </semantic-form>
                          </mp-overlay-dialog-content>
                  </mp-overlay-dialog>
          
                  <mp-overlay-dialog title="Confirm two artworks are the same" >
                    <mp-overlay-dialog-trigger>
                          <button
                          id="1234"
                          name="submit"
                          class="btn btn-default action approve"
                          title="Two instances are the same"
                        > Same </button>
                        </mp-overlay-dialog-trigger>
                        <mp-overlay-dialog-content>
                            <h1>Are you sure the two artworks are the same?</h1>
                            <h2>If yes, select a preferred title bellow.</h2>

                            <semantic-query
                            query='SELECT ?label ?element ?nextElement WHERE {
                              ?image <http://purl.org/ontology/similarity/element> <{{bindings.0.element.value}}>.
                              ?work <https://pharos.artresearch.net/custom/has_image> ?image.
                              ?work owl:sameAs ?pharos.
                              ?work rdfs:label ?label.
                              BIND(<{{bindings.0.element.value}}> as ?element)
                              BIND(<{{bindings.0.nextElement.value}}> as ?nextElement)
                            }' 
                            template='{{> titleTemplate}}'>
                              <template id="titleTemplate">
                                <div class="forms-in-a-row" >
                                {{#each bindings}}
                                <semantic-form
                                new-subject-template="{{element.value}}"
                                browser-persistance="true"
                                persistence='ldp'
                                urlqueryparam-providera='[[urlParam "providera"]]'
                                urlqueryparam-providerb='[[urlParam "providerb"]]'
                                post-action='{{nextElement.value}}'
                                form-id="IMApprove1"
                                fields='[[fieldDefinitions
                                sameAs="http://www.researchspace.org/fieldDefinition/Same"
                                title="http://www.researchspace.org/fieldDefinition/Preferred_title"
                                ]]'
                              >
                                <semantic-form-hidden-input
                                  for="sameAs"
                                  default-value="true"
                                ></semantic-form-hidden-input>
                                
                                <semantic-form-hidden-input
                                  for="title"
                                  default-value="{{label.value}}"
                                ></semantic-form-hidden-input>
                                <td>
                                   <div class="Label-value"> {{label.value}}</div>
                                  <button
                                  style="
                                  font-size: medium;
                                  border: none ;
                                  white-space: pre-wrap;
                                  text-transform: none;
                                  height: 100%;
                                  min-height: 4vh;
                                  box-shadow: 0px 0px 10px 1px #bebebe;"
                                    name="submit"
                                    class="btn btn-warning action approve"
                                    title="Two instances are not the same"
                                  >
                                  <div class="color-white"> Select </div>
                                </button>
                               
                                </td>
                              </semantic-form>
                              {{/each}}
                            </div>
                            </template>
                          </semantic-query>
                          </mp-overlay-dialog-content>
                  </mp-overlay-dialog>

                  <semantic-form
                    style="border-radius: 5px !important;"
                    new-subject-template="{{bindings.0.element.value}}"
                    browser-persistance="true"
                    persistence='ldp'
                    urlqueryparam-providera='[[urlParam "providera"]]'
                    urlqueryparam-providerb='[[urlParam "providerb"]]'
                    post-action='{{bindings.0.nextElement.value}}'
                    form-id="IMApprove1"
                    fields='[[fieldDefinitions
                              skipped="http://www.researchspace.org/fieldDefinition/Skipped"
                    ]]'
                  >
                  <semantic-form-hidden-input
                    for="skipped"
                    default-value="true"
                  ></semantic-form-hidden-input>
                        <button
                        style="text-transform: none;
                        background: #a5a5a5 !important;
                        "
                        id="1234"
                        class="btn action skip"
                        title="Two instances are not the same"
                      >
                      <div class="color-white" style="font-weight: bold;"> Skip</div>
                    </button>
                  </td>
                </semantic-form>
                </div>
              </template>
            </semantic-query>
          </div>
        {{/if}}
      </div>
    </template>
  </semantic-query>
</div>
<style>

  #similarity-template .semantic-form {
  margin: unset !important;
  border-radius: 5px !important;
}
  #similarity-template .semantic-form:hover {
  margin: unset !important;
  box-shadow:0px 0px 10px 1px #383838;
}
.semantic-form button[name=cancel], .semantic-form button[name=delete], .semantic-form button[name=reset], .semantic-form button[name=submit]{
  margin-left:unset !important;
  border-radius: 5px;
}
.skip{
  background: #a5a5a5 !important;
}
.forms-in-a-row{
  padding-top:20px !important;
}
.Label-value{
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
</style>

